{% extends "theme/base.html" %}

{% block style %}
{% endblock %}

{% block context_nav %}
    <a href="/notification/new">New Notification</a>
{% endblock%}

{% block container %}
        <section class="well" id="notification_section">
                <header>
                    <h3>Notifications</h3>
                </header>
                <table class="table table-sortable">
                    <thead>
                    <tr>
                        <th>Sender</th>
                        <th>Message</th>
                        <th>Date</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for notification in notifications %}
                            <tr id="notification_{{notification.id}}">
                                <td><a href="/auth/user/{{notification.creator.id}}">{{notification.notification.creator}}</a></td>
                                <td>{{notification.notification.message}}</td>
                                <td>{{notification.created}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </section>

{% endblock %}
