{% extends "notifications/base.html" %}

{% block contextNav %}
    <li><a href="{% url 'notifications.views.notification_form' %}">New Notification</a></li>
{% endblock%}

{% block pageTitle %}
    Notifications
{% endblock %}

{% block bodyContent %}
    <section class="well" id="notification_section">
        <table class="table table-sortable">
            <thead>
            <tr>
                <th>Sender</th>
                <th>Message</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>
                {% for notification in notifications %}
                    <tr id="notification_{{notification.id}}">
                        <td><a href="{% url 'auth.views.user_overview' notification.creator.id %}">{{notification.notification.creator}}</a></td>
                        <td>{{notification.notification.message}}</td>
                        <td>{{notification.created}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}
