{% extends "base.html" %}

{% block context_nav %}
	<li><a href="/issue/new/{{project_O.id}}">New Issue</a></li>
	<li><a href="/issue/new/{{project_O.id}}">New Risk</a></li>
	<li><a href="/checklist/new/{{project_O.id}}">New Checklist</a></li>
	<li><a href="/checklist/project/{{project_O.id}}">Checklists</a></li>
	<li><a href="/project/{{project_O.id}}/edit">Edit Project</a></li>
{% endblock%}

{% block basecontent %}
	<table>
	<tr><th colspan=2>Project Code Names</th></tr>
	{% for project in cn_projects %}
		<tr>
			<td>{{project.name}}</td>
			<td>{{project.code_name}}</td>
		</tr>
	{% endfor %}
	<tr><th colspan=2>Feature Code Names</th></tr>
	{% for meta in cn_meta %}
		<tr>
			<td>{{meta.title}}</td>
			<td>{{meta.code_name}}</td>
		</tr>		
	{% endfor %}
	</table>
{% endblock %}