{% extends "projects/base.html" %}

{% comment %}
Extends /templates/projects/base.html

==Blocks Available==
	additionalHead (from /templates/base.html)
		Used to add additional <link/>, <style/>, and/or <script/> tags to the <head/>
		SHOULD BE USED SPARINGLY - if CSS or JS needs to be added, refer to Gadget.css and Gadget.js, respectively
	contextNav (from /templates/base.html)
		Used to add/modify the context menu items
	baseContent (from /templates/base.html)
		Content that appears in the <body/> of the document. Is wrapped within <div#globalwrap/> and appears after <div#sitenav/>
	modalsIncluded (from /templates/base.html)
		Used specifically to contain the HTML for modals used by Bootstrap
		This content is hidden by default, is wrapped within a <div/> after <div#globalwrap/> and appears before any end scripts
	endScripts (from /templates/base.html)
		Used to include additional <script/> for the page
		Appears outside of <div#globalwrap/>, after any global <script/> and before the closing <body/> tag
	pageTitle (from /templates/projects/base.html)
		Supplies text to be displayed at the top of the page below the global nav bar
		Appears in <h1#pagetitle/> within <header#pageheader>
	bodyContent (from /templates/projects/base.html)
		Used to display any and all of the pages content
		Appears within <div#maincontent>
{% endcomment %}

{% block contextNav %}
	<li><a href="/issue/new/{{project_O.id}}">New Issue</a></li>
	<li><a href="/issue/new/{{project_O.id}}">New Risk</a></li>
	<li><a href="{% url 'checklists.views.checklist_form_project' project_O.id %}">New Checklist</a></li>
	<li><a href="{% url 'checklists.views.project_checklists' project_O.id %}">Checklists</a></li>
	<li><a href="/project/{{project_O.id}}/edit">Edit Project</a></li>
{% endblock%}

{% block bodyContent %}
	<table>
		<tr>
			<th colspan=2>Project Code Names</th>
		</tr>
		{% for project in cn_projects %}
			<tr>
				<td>{{project.name}}</td>
				<td>{{project.code_name}}</td>
			</tr>
		{% endfor %}
	</table>

	<table>
		<tr>
			<th colspan=2>Feature Code Names</th>
		</tr>
		{% for meta in cn_meta %}
			<tr>
				<td>{{meta.title}}</td>
				<td>{{meta.code_name}}</td>
			</tr>		
		{% endfor %}
	</table>
{% endblock %}