{% extends "base.html" %}

{% block contextNav %}
	<li><a href="/project">Projects</a></li>
    <li><a href="{% url 'issues.views.issue_form' %}">New Issue</a></li>
    <li><a href="{% url 'issues.views.unassigned_issues' %}">Unassigned Issues</a></li>
    <li><a href="/food/all">Food Requests</a></li>
    <li><a href="/reports/edit">Daily Reports</a></li>
    <li><a href="/help/user/{{user.id}}">Help</a></li>
{% endblock%}

{% block container %}
	<h2>New Project</h2>
	<form action="/project/new" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<table>
		{{form.as_table}}
		</table>
		<input type="submit" value="Submit"/>
	</form>
{% endblock %}