{% extends "base.html" %}

{% block container %}

	{{project_O.name}}<br />
	{{project_O.slug}}<br />
	{{project_O.description}}<br />
	{{project_O.scope}}<br />
	{{project_O.business_case}}<br />
	{{project_O.priority}}<br />
	{{project_O.status}}<br />
	{{project_O.logo}}<br />
	{{project_O.product_owner}}<br />
	{{project_O.project_manager}}<br />
	{{project_O.lead_developer}}<br />
	{{project_O.potential_end_date}}<br />
	{{project_O.current_phase}}<br />
	{{project_O.phase_planning_start}}<br />
	{{project_O.phase_planning_end}}<br />
	{{project_O.created}}<br />
	{{project_O.modified}}<br />
{% endblock %}