{% extends "theme/default/base.html" %}

{% block context_nav %}
    <li><a href="/issue/new/{{project.id}}">New Issue</a></li>
    <li><a href="/issue/new/{{project.id}}">New Risk</a></li>
    <li><a href="/checklist/new/{{project.id}}">New Checklist</a></li>
    <li><a href="/project/{{project.id}}/stats">Report</a></li>
    <li><a href="/checklist/project/{{project.id}}">Checklists</a></li>
    <li><a href="/project/{{project.id}}/edit">Edit Project</a></li>
{% endblock%}

{% block extra_head%}
    <script type="text/javascript">
        $(document).ready(function(){
            $('#blank_count').click(function(){
                $('.tbl-project-blank-count').fadeToggle('slow', function(){});
            });
            $('#active_count').click(function(){
                $('.tbl-project-active-count').fadeToggle('slow', function(){});
            });
            $('#not_a_bug_count').click(function(){
                $('.tbl-project-not-a-bug-count').fadeToggle('slow', function(){});
            });
            $('#wont_fix_count').click(function(){
                $('.tbl-project-wont-fix-count').fadeToggle('slow', function(){});
            });
            $('#duplicate_count').click(function(){
                $('.tbl-project-duplicate-count').fadeToggle('slow', function(){});
            });
            $('#fixed_count').click(function(){
                $('.tbl-project-fixed-count').fadeToggle('slow', function(){});
            });
            $('#retest_count').click(function(){
                $('.tbl-project-retest-count').fadeToggle('slow', function(){});
            });
            $('#unverified_count').click(function(){
                $('.tbl-project-unverified-count').fadeToggle('slow', function(){});
            });
        });
    </script>
{% endblock %}

{% block container %}
<h3>Issues</h3>
<table class="tbl-generic">
        <tr>
            <th>Status</th>
            <th>Count</th>
        </tr>

        <tr>
            <td>None</td>
            <td id="blank_count" class="project-status-count">{{blank_count}}</td>
        </tr>
            {% for issue in blank_issues%}
                <tr class="tbl-project-status-count tbl-project-blank-count">
                    <td>
                        <a href="{% url 'projects.views.project_overview' issue.project.id %}">{{issue.project.name}}</a>
                    </td>
                    <td>
                        <a href="{% url 'issues.views.issue_overview' issue.id %}">{{issue.summary}}</a>
                    </td>
                </tr>
            {% endfor %}

        <tr>
            <td>Not a Bug</td>
            <td id="not_a_bug_count" class="project-status-count">{{not_a_bug_count}}</td>
        </tr>
                {% for issue in bugs_for_review%}
                    <tr class="tbl-project-status-count tbl-project-not-a-bug-count">
                        <td>
                            <a href="{% url 'issues.views.issue_overview' issue.id %}">{{issue.summary}}</a>
                        </td>
                    </tr>
                {% endfor %}

        <tr>
            <td>Won't Fix</td>
            <td id="wont_fix_count" class="project-status-count">{{wont_fix_count}}</td>
        </tr>
                {% for issue in bugs_for_review %}
                    {% if issue.status = "wont_fix" %}
                    <tr class="tbl-project-status-count tbl-project-wont-fix-count">
                        <td>
                            <a href="{% url 'issues.views.issue_overview' issue.id %}">{{issue.summary}}</a>
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}


        <tr>
            <td>Duplicate</td>
            <td id="duplicate_count" class="project-status-count">{{duplicate_count}}</td>
        </tr>
                {% for issue in active_issues%}
                    {% if issue.status = "duplicate" %}
                    <tr class=" tbl-project-status-count tbl-project-duplicate-count">
                        <td>
                            <a href="{% url 'issues.views.issue_overview' issue.id %}">{{issue.summary}}</a>
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}

        <tr>
            <td>Active</td>
            <td id="active_count" class="project-status-count">{{active_count}}</td>
        </tr>
                {% for issue in active_issues%}
                    {% if issue.status = "active" %}
                    <tr class="tbl-project-status-count tbl-project-active-count">
                        <td>
                            <a href="{% url 'issues.views.issue_overview' issue.id %}">{{issue.summary}}</a>
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}

        <tr>
            <td>Fixed</td>
            <td id="fixed_count" class="project-status-count">{{fixed_count}}</td>
        </tr>
                {% for issue in fixed_issues%}

                    <tr class="tbl-project-status-count  tbl-project-fixed-count">
                        <td>
                            <a href="{% url 'issues.views.issue_overview' issue.id %}">{{issue.summary}}</a>
                        </td>
                    </tr>
                {% endfor %}

        <tr>
            <td>Retest</td>
            <td id="retest_count" class="project-status-count">{{retest_count}}</td>
        </tr>
                {% for issue in bugs_for_review%}
                    {% if issue.status = "retest" %}
                    <tr class="tbl-project-status-count  tbl-project-retest-count">
                        <td>
                            <a href="{% url 'issues.views.issue_overview' issue.id %}">{{issue.summary}}</a>
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}


        <tr>
            <td>Unverified</td>
            <td id="unverified_count" class="project-status-count">{{unverified_count}}</td>
        </tr>
                {% for issue in active_issues %}
                    {% if issue.status = "unverified" %}
                    <tr class="tbl-project-status-count  tbl-project-unverified-count">
                        <td>
                            <a href="{% url 'issues.views.issue_overview' issue.id %}">{{issue.summary}}</a>
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
    </table>

<h3>Still Active</h3>
<table class="tbl-generic">
    {% for active_issue in active_issues%}
        <tr>
            <td title="issue">
                <a href="/issue/{{active_issue.id}}">{{active_issue.summary}}</a>
            </td>
            <td title="status">
                {{active_issue.status}}
            </td>
            
            <td title="modified date">
                {{active_issue.modified}}
            </td>
            <td title="assigned to">
                <a href="/auth/user/{{active_issue.assigned_to.id}}">{{active_issue.assigned_to}}</a>
            </td>
        </tr>
    {% endfor %}
    {% for active_issue in unverified_issues%}
        <tr>
            <td title="issue">
                <a href="/issue/{{active_issue.id}}">{{active_issue.summary}}</a>
            </td>
            <td title="status">
                {{active_issue.status}}
            </td>
            
            <td title="modified time">
                {{active_issue.modified}}
            </td>
            <td title="assigned to">
                <a href="/auth/user/{{active_issue.assigned_to.id}}">{{active_issue.assigned_to}}</a>
            </td>
        </tr>
    {% endfor %}
</table><br><br>

<h3>Still Active by criticality</h3>
<table class="tbl-generic">
    {% for criticality_issue in criticality_issues%}
        <tr>
            <td title="criticality">
                {{criticality_issue.criticality}}
            </td>
            <td title="issue">
                <a href="/issue/{{criticality_issue.id}}">{{criticality_issue.summary}}</a>
            </td>
            <td title="status">
                {{criticality_issue.status}}
            </td>
            <td title="modified time">
                {{criticality_issue.modified}}
            </td>
            <td title="assigned to">
                <a href="/auth/user/{{criticality_issue.assigned_to.id}}">{{criticality_issue.assigned_to}}</a>
            </td>
        </tr>
    {% endfor %}
</table><br><br>

<h3>For Review</h3>
<table class="tbl-generic">
    {% for bug_for_review in bugs_for_review%}
        <tr>
            <td title="issue">
                <a href="/issue/{{bug_for_review.id}}">{{bug_for_review.summary}}</a>
            </td>
            <td title="status">
                {{bug_for_review.status}}
            </td>
            <td title="modified time">
                {{bug_for_review.modified}}
            </td>
            <td title="assigned to">
                <a href="/auth/user/{{criticality_issue.assigned_to.id}}">{{criticality_issue.assigned_to}}</a>
            </td>
        </tr>
    {% endfor %}
</table><br><br>
{% endblock %}