{% extends "projects/base.html" %}

{% comment %}
Extends /templates/projects/base.html

==Blocks Available==
	additionalHead (from /templates/base.html)
		Used to add additional <link/>, <style/>, and/or <script/> tags to the <head/>
		SHOULD BE USED SPARINGLY - if CSS or JS needs to be added, refer to Gadget.css and Gadget.js, respectively
	contextNav (from /templates/base.html)
		Used to add/modify the context menu items
	baseContent (from /templates/base.html)
		Content that appears in the <body/> of the document. Is wrapped within <div#globalwrap/> and appears after <div#sitenav/>
		**NOTE: using baseContent will OVERRIDE bodyContent unless a bodyContent block is contained within**
	modalsIncluded (from /templates/base.html)
		Used specifically to contain the HTML for modals used by Bootstrap
		This content is hidden by default, is wrapped within a <div/> after <div#globalwrap/> and appears before any end scripts
	endScripts (from /templates/base.html)
		Used to include additional <script/> for the page
		Appears outside of <div#globalwrap/>, after any global <script/> and before the closing <body/> tag
	pageTitle (from /templates/projects/base.html)
		Supplies text to be displayed at the top of the page below the global nav bar
		Appears in <h1#pagetitle/> within <header#pageheader>
	bodyContent (from /templates/projects/base.html)
		Used to display any and all of the pages content
		Appears within <div#maincontent>
		**NOTE: made available by baseContent - if baseContent is defined within the template,bodyContent will not be displayed unless contained within baseContent**
{% endcomment %}

{% block contextNav %}
{% include "_includes/contextnav-default.html" %}
{% endblock %}

{% block pageTitle %}
All Projects
{% endblock %}

{% block bodyContent %}
	<table class="table">
		<thead>
			<tr>
				<td>Name</td>
				<td>Code</td>
				<td>Owner</td>
				<td>Manager</td>
				<td>Lead Developer</td>
				<td>Slug</td>
				<td>Priority</td>
				<td>Business Case</td>
				<td>Assumptions</td>
				<td>Internal Requests</td>
				<td>Status</td>
				<td>Phase</td>
				<td>Repository</td>
				<td>Deployment Server</td>
				<td>Deployment URL</td>
				<td>Phase Planning Start</td>
				<td>Phase Planning End</td>
				<td>Phase Research Start</td>
				<td>Phase Research End</td>
				<td>Created</td>
				<td>Modified</td>
			</tr>
		</thead>
		<tbody>
		{% for project in projects %}
			<tr>
				<td><a href="{% url 'projects.views.project_overview' project.id %}>">{{project.name}}</a></td>
				<td>{{project.code_name}}</td>
				<td>{%if project.product_owner %}<a href="{% url 'auth.views.user_overview' project.product_owner.id %}">{{project.product_owner}}</a> {% else %}{{project.product_owner}}{% endif %}</td>
				<td>{{project.project_manager}}</td>
				<td>{{project.lead_developer}}</td>
				<td>{{project.slug}}</td>
				<td>{{project.priority}}</td>
				<td>{{project.business_case}}</td>
				<td>{{project.assumptions}}</td>
				<td>{{project.internal_requests}}</td>
				<td>{{project.status}}</td>
				<td>{{project.current_phase}}</td>
				<td>{{project.repository_url}}</td>
				<td>{{project.deployment_server}}</td>
				<td>{{project.deployment_url}}</td>
				<td>{{project.phase_planning_start}}</td>
				<td>{{project.phase_planning_end}}</td>
				<td>{{project.phase_research_start}}</td>
				<td>{{project.phase_research_end}}</td>
				<td>{{project.created}}</td>
				<td>{{project.modified}}</td>
			</tr>
		{% endfor%}
		</tbody>
	</table>
{% endblock %}