{% extends "base_issues.html" %}

{% block style %}
.tbl-issues {
	/*
	border-collapse: collapse;
    border-spacing: 0;
    */
}
.tbl-issues th {
	text-align: left;
}
.tbl-issues .tbl-issues-title {
	width: 33%;
}
.tbl-issues .tbl-issues-summary {
	width: 33%;
}
.tbl-issues .tbl-issues-description {
	width: 33%;
}
.tbl-issues .tbl-issues-status {
	width: 140px;
}
{% endblock %}

{% block context_nav %}
	<a href="/issue/new/{{project_O.id}}">New Issue : {{project_O.name}}</a>
	<a href="/issue/new/{{project_O.id}}">New Risk : {{project_O.name}}</a>
	<a href="/checklist/new/{{project_O.id}}">New Checklist : {{project_O.name}}</a>
	<a href="/project/{{project_O.id}}/edit">Edit Project</a>
{% endblock%}

{% block container %}
	<b>Scope:</b> {{project_O.scope}}<br/>
	<b>Description:</b> {{project_O.description}}<br/>
	<b>Business Case:</b> {{project_O.business_case}}<br/>
{% endblock %}

{% block spiffy_box_right %}	
	<b>Status:</b> {{project_O.status}}<br/>
	<b>Product Owner:</b> <a href="/auth/user/{{project_O.product_owner.id}}">{{project_O.product_owner}}</a><br/>
	<b>Project Manager:</b> <a href="/auth/user/{{project_O.product_manager.id}}">{{project_O.project_manager}}</a><br/>
	<b>Lead Developer:</b> <a href="/auth/user/{{project_O.lead_developer.id}}">{{project_O.lead_developer}}</a><br/>
	<b>Priority:</b> {{project_O.priority}}<br/>
	<b>Slug:</b> {{project_O.slug}}<br/>
	<b>Logo:</b> {{project_O.logo}}<br/>
	<b>Potential End Date:</b> {{project_O.potential_end_date}}<br/>
	<b>Current Phase:</b> {{project_O.current_phase}}<br/>
	<b>Phase Planning Start:</b> {{project_O.phase_planning_start}}<br/>
	<b>Phase Planning End:</b> {{project_O.phase_planning_end}}
{% endblock %}

{% block container_bottom_clear %}
	<h2>Issues</h2>

	<table class="tbl-issues">
		<tr>
			<th class="tbl-issues-title">Title</th>
			<th class="tbl-issues-summary">Summary</th>
			<th class="tbl-issues-description">Description</th>
			<th class="tbl-issues-status">Status</th>
		</tr>
	{% for issue in issues%}
		<tr>
			<td><a href="/issue/{{issue.id}}">{{issue.title}}</a></td>
			<td>{{issue.summary}}</td>
			<td>{{issue.desription}}</td>
			<td>{{issue.status}}</td>
		</tr>
	{% endfor %}
	</table>

{% endblock %}