{% extends "projects/base.html" %}
{% load static %}

{% comment %}
Extends /templates/projects/base.html

==Blocks Available==
    additionalHead (from /templates/base.html)
        Used to add additional <link/>, <style/>, and/or <script/> tags to the <head/>
        SHOULD BE USED SPARINGLY - if CSS or JS needs to be added, refer to Gadget.css and Gadget.js, respectively
    contextNav (from /templates/base.html)
        Used to add/modify the context menu items
    baseContent (from /templates/base.html)
        Content that appears in the <body/> of the document. Is wrapped within <div#globalwrap/> and appears after <div#sitenav/>
        **NOTE: using baseContent will OVERRIDE bodyContent unless a bodyContent block is contained within**
    modalsIncluded (from /templates/base.html)
        Used specifically to contain the HTML for modals used by Bootstrap
        This content is hidden by default, is wrapped within a <div/> after <div#globalwrap/> and appears before any end scripts
    endScripts (from /templates/base.html)
        Used to include additional <script/> for the page
        Appears outside of <div#globalwrap/>, after any global <script/> and before the closing <body/> tag
    pageTitle (from /templates/projects/base.html)
        Supplies text to be displayed at the top of the page below the global nav bar
        Appears in <h1#pagetitle/> within <header#pageheader>
    bodyContent (from /templates/projects/base.html)
        Used to display any and all of the pages content
        Appears within <div#maincontent>
        **NOTE: made available by baseContent - if baseContent is defined within the template, bodyContent will not be displayed unless contained within baseContent**
{% endcomment %}

{% block additionalHead %}
    {{ form.media }}
	<link rel="stylesheet" href="{% static 'css/theme.bootstrap.css' %}">
{% endblock %}

{% block bodyClass %}project-stats{% endblock %}

{% block contextNav %}
    <li><a href="{% url 'issues.views.issue_form_project' project.id %}">New Issue</a></li>
    <li><a href="{% url 'issues.views.issue_form_project' project.id %}">New Risk</a></li>
    <li><a href="{% url 'checklists.views.checklist_form_project' project.id %}">New Checklist</a></li>
    <li><a href="{% url 'projects.views.project_stats' project.id %}">Report</a></li>
    <li><a href="{% url 'checklists.views.project_checklists' project.id %}">Checklists</a></li>
    <li><a href="{% url 'projects.views.edit' project.id %}">Edit Project</a></li>
{% endblock%}

{% block pageDescription %}
{{project.name}}
{% endblock %}

{% block bodyContent %}
<h3>Issues by Status</h3>

<div class="accordion-heading row-fluid">
	<a class="accordion-toggle clearfix" data-toggle="collapse" href="#collapse1">
		<span class="span2">None</span> <span class="span10"><span class="badge {% if blank_count != 0 %}badge-info{% endif %}">{{blank_count}}</span></span>
	</a>
</div>
<div id="collapse1" class="accordion-body collapse">
	<div class="accordion-inner">
		
		{% if blank_issues %}
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Summary</th>
				</tr>
			</thead>
			<tbody>
		        {% for issue in blank_issues%}
	            <tr class="tbl-project-status-count tbl-project-blank-count">
	                <td>
	                    <a href="{% url 'issues.views.issue_overview' issue.id %}">{{issue.summary}}</a>
	                </td>
	            </tr>
		        {% endfor %}
			</tbody>
		</table>
		{% else %}
		No issues with this status
		{% endif %}
		
	</div>
</div>

<div class="accordion-heading row-fluid">
	<a class="accordion-toggle clearfix" data-toggle="collapse" href="#collapse2">
		<span class="span2">Not a Bug</span> <span class="span10"><span class="badge {% if not_a_bug_count != 0 %}badge-info{% endif %}">{{not_a_bug_count}}</span></span>
	</a>
</div>
<div id="collapse2" class="accordion-body collapse">
	<div class="accordion-inner">
		
		{% if not_a_bug_issues %}
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Summary</th>
				</tr>
			</thead>
			<tbody>
		        {% for issue in not_a_bug_issues %}
	            <tr>
	                <td>
	                    <a href="{% url 'issues.views.issue_overview' issue.id %}">{{issue.summary}}</a>
	                </td>
	            </tr>
		        {% endfor %}
			</tbody>
		</table>
		{% else %}
		No issues with this status
		{% endif %}
		
	</div>
</div>

<div class="accordion-heading row-fluid">
	<a class="accordion-toggle clearfix" data-toggle="collapse" href="#collapse3">
		<span class="span2">Won't Fix</span> <span class="span10"><span class="badge {% if wont_fix_count != 0 %}badge-info{% endif %}">{{wont_fix_count}}</span></span>
	</a>
</div>
<div id="collapse3" class="accordion-body collapse">
	<div class="accordion-inner">
		
		{% if wont_fix_issues %}
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Summary</th>
				</tr>
			</thead>
			<tbody>
		        {% for issue in wont_fix_issues %}
                <tr>
                    <td>
                        <a href="{% url 'issues.views.issue_overview' issue.id %}">{{issue.summary}}</a>
                    </td>
                </tr>
		        {% endfor %}
			</tbody>
		</table>
		{% else %}
		No issues with this status
		{% endif %}
		
	</div>
</div>

<div class="accordion-heading row-fluid">
	<a class="accordion-toggle clearfix" data-toggle="collapse" href="#collapse4">
		<span class="span2">Duplicate</span> <span class="span10"><span class="badge {% if duplicate_count != 0 %}badge-info{% endif %}">{{duplicate_count}}</span></span>
	</a>
</div>
<div id="collapse4" class="accordion-body collapse">
	<div class="accordion-inner">
		
		{% if duplicate_issues %}
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Summary</th>
				</tr>
			</thead>
			<tbody>
	            {% for issue in duplicate_issues %}
				<tr>
					<td>
						<a href="{% url 'issues.views.issue_overview' issue.id %}">{{issue.summary}}</a>
					</td>
				</tr>
	            {% endfor %}
			</tbody>
		</table>
		{% else %}
		No issues with this status
		{% endif %}
		
	</div>
</div>

<div class="accordion-heading row-fluid">
	<a class="accordion-toggle clearfix" data-toggle="collapse" href="#collapse5">
		<span class="span2">Active</span> <span class="span10"><span class="badge {% if active_count != 0 %}badge-info{% endif %}">{{active_count}}</span></span>
	</a>
</div>
<div id="collapse5" class="accordion-body collapse">
	<div class="accordion-inner">
		
		{% if active_issues %}
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Summary</th>
				</tr>
			</thead>
			<tbody>
	            {% for issue in active_issues %}
				<tr>
					<td>
						<a href="{% url 'issues.views.issue_overview' issue.id %}">{{issue.summary}}</a>
					</td>
				</tr>
	            {% endfor %}
			</tbody>
		</table>
		{% else %}
		No issues with this status
		{% endif %}
		
	</div>
</div>

<div class="accordion-heading row-fluid">
	<a class="accordion-toggle clearfix" data-toggle="collapse" href="#collapse6">
		<span class="span2">Fixed</span> <span class="span10"><span class="badge {% if fixed_count != 0 %}badge-info{% endif %}">{{fixed_count}}</span></span>
	</a>
</div>
<div id="collapse6" class="accordion-body collapse">
	<div class="accordion-inner">
		
		{% if fixed_issues %}
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Summary</th>
				</tr>
			</thead>
			<tbody>
		        {% for issue in fixed_issues%}
	            <tr class="tbl-project-status-count tbl-project-blank-count">
	                <td>
	                    <a href="{% url 'issues.views.issue_overview' issue.id %}">{{issue.summary}}</a>
	                </td>
	            </tr>
		        {% endfor %}
			</tbody>
		</table>
		{% else %}
		No issues with this status
		{% endif %}
		
	</div>
</div>

<div class="accordion-heading row-fluid">
	<a class="accordion-toggle clearfix" data-toggle="collapse" href="#collapse7">
		<span class="span2">Retest</span> <span class="span10"><span class="badge {% if retest_count != 0 %}badge-info{% endif %}">{{retest_count}}</span></span>
	</a>
</div>
<div id="collapse7" class="accordion-body collapse">
	<div class="accordion-inner">
		
		{% if retest_issues %}
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Summary</th>
				</tr>
			</thead>
			<tbody>
		        {% for issue in retest_issues%}
                <tr>
                    <td>
                        <a href="{% url 'issues.views.issue_overview' issue.id %}">{{issue.summary}}</a>
                    </td>
                </tr>
		        {% endfor %}
			</tbody>
		</table>
		{% else %}
		No issues with this status
		{% endif %}
		
	</div>
</div>

<div class="accordion-heading row-fluid">
	<a class="accordion-toggle clearfix" data-toggle="collapse" href="#collapse8">
		<span class="span2">Unverified</span> <span class="span10"><span class="badge {% if unverified_count != 0 %}badge-info{% endif %}">{{unverified_count}}</span></span>
	</a>
</div>
<div id="collapse8" class="accordion-body collapse">
	<div class="accordion-inner">
		
		{% if unverified_issues %}
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Summary</th>
				</tr>
			</thead>
			<tbody>
	            {% for issue in unverified_issues %}
                <tr>
                    <td>
                        <a href="{% url 'issues.views.issue_overview' issue.id %}">{{issue.summary}}</a>
                    </td>
                </tr>
	            {% endfor %}
			</tbody>
		</table>
		{% else %}
		No issues with this status
		{% endif %}
		
	</div>
</div>

<h3>Still Active</h3>
<table class="table table-bordered">
	<thead>
		<tr>
			<th>Summary</th>
			<th>Status</th>
			<th>Criticality</th>
			<th>Modified</th>
			<th class="no-wrap">Assigned To</th>
		</tr>
	</thead>
	<tbody>
    {% for active_issue in active_issues%}
        <tr>
            <td title="issue">
                <a href="{% url 'issues.views.issue_overview' active_issue.id %}">{{active_issue.summary}}</a>
            </td>
            <td title="status">
				<span class="title-issuestatus label {{active_issue.status}}">{{active_issue.get_status_display}}</span>
            </td>
            <td>
            	{{active_issue.criticality}}
            </td>
            <td class="no-wrap">
                {{active_issue.modified|date:"M j o"}}
            </td>
            <td title="assigned to">
                {% if active_issue.assigned_to %}
                <a href="{% url 'auth.views.user_overview' active_issue.assigned_to.id %}">{{active_issue.assigned_to}}</a>
				{% else %}
				None
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    {% for active_issue in unverified_issues%}
        <tr>
            <td title="issue">
                <a href="{% url 'issues.views.issue_overview' active_issue.id %}">{{active_issue.summary}}</a>
            </td>
            <td title="status">
				<span class="title-issuestatus label {{active_issue.status}}">{{active_issue.get_status_display}}</span>
            </td>
            <td>
            	{{active_issue.criticality}}
            </td>
            <td title="modified time">
                {{active_issue.modified|date:"M j o"}}
            </td>
            <td title="assigned to">
                {% if active_issue.assigned_to %}
                <a href="{% url 'auth.views.user_overview' active_issue.assigned_to.id %}">{{active_issue.assigned_to}}</a>
				{% else %}
				None
                {% endif %}
            </td>
        </tr>
    {% endfor %}
	</tbody>
</table>

<h3>For Review</h3>
<table class="table table-bordered">
	<thead>
		<tr>
			<th>Summary</th>
			<th>Status</th>
			<th>Criticality</th>
			<th>Modified</th>
			<th class="no-wrap">Assigned To</th>
		</tr>
	</thead>
	<tbody>
    {% for bug_for_review in bugs_for_review%}
        <tr>
            <td title="issue">
                <a href="{% url 'issues.views.issue_overview' bug_for_review.id %}">{{bug_for_review.summary}}</a>
            </td>
            <td title="status">
				<span class="title-issuestatus label {{bug_for_review.status}}">{{bug_for_review.get_status_display}}</span>
            </td>
            <td class="no-wrap">
                {{bug_for_review.modified|date:"M j o"}}
            </td>
            <td title="assigned to">
                {% if criticality_issue.assigned_to %}
                <a href="{% url 'auth.views.user_overview' bugs_for_review.assigned_to.id %}">{{bugs_for_review.assigned_to}}</a>
				{% else %}
				None
                {% endif %}
            </td>
        </tr>
    {% endfor %}
	</tbody>
</table>
{% endblock %}

{% block endScripts %}
<script>
$(function(){
	$.extend($.tablesorter.themes.bootstrap, {
		// these classes are added to the table. To see other table classes available,
		// look here: http://twitter.github.com/bootstrap/base-css.html#tables
		table      : 'table table-bordered',
		sortNone   : 'bootstrap-icon-unsorted',
		sortAsc    : 'icon-chevron-up glyphicon glyphicon-chevron-up',     // includes classes for Bootstrap v2 & v3
		sortDesc   : 'icon-chevron-down glyphicon glyphicon-chevron-down' // includes classes for Bootstrap v2 & v3
	});
	
	$('table.table').tablesorter({
		theme: 'bootstrap',
		showProcessing: true,
		headerTemplate: '{content} {icon}',
		widgets : ['uitheme', 'zebra']
	})
});
</script>
{% endblock %}