{% extends "base.html" %}
{% load set_var %}

{% comment %}
Extends /templates/base.html
Used for all templates in /templates/projects

==Blocks Available==
	additionalHead (from /templates/base.html)
		Used to add additional <link/>, <style/>, and/or <script/> tags to the <head/>
		SHOULD BE USED SPARINGLY - if CSS or JS needs to be added, refer to Gadget.css and Gadget.js, respectively
	contextNav (from /templates/base.html)
		Used to add/modify the context menu items
	baseContent (from /templates/base.html)
		Content that appears in the <body/> of the document. Is wrapped within <div#globalwrap/> and appears after <div#sitenav/>
		**NOTE: using baseContent will OVERRIDE bodyContent unless a bodyContent block is contained within**
	modalsIncluded (from /templates/base.html)
		Used specifically to contain the HTML for modals used by Bootstrap
		This content is hidden by default, is wrapped within a <div/> after <div#globalwrap/> and appears before any end scripts
	endScripts (from /templates/base.html)
		Used to include additional <script/> for the page
		Appears outside of <div#globalwrap/>, after any global <script/> and before the closing <body/> tag

==Blocks Provided==
	pageTitle (from /templates/projects/base.html)
		Supplies text to be displayed at the top of the page below the global nav bar
		Appears in <h1#pagetitle/> within <header#pageheader>
	bodyContent (from /templates/projects/base.html)
		Used to display any and all of the pages content
		Appears within <div#maincontent>
		**NOTE: made available by baseContent - if baseContent is defined within the template,bodyContent will not be displayed unless contained within baseContent**
{% endcomment %}


{% block bodyClass %}page-projects{% endblock %}
{% block baseContent %}
<div id="maincontent">
	<header id="pageheader">
		<h1 id="pagetitle" class="page-header" style="font-size:27px;">
			{% block pageTitle %}Projects{% endblock %} {% block pageDescription %}{% endblock%}
		</h1>
	</header>
	<div id="pagemessage"></div>
	<table class="table" style="width:100%;">
		<thead>
			<tr>
				<td></td>
				<td>Name</td>
				<td>Code</td>
				<td>Status</td>
				<td>Phase</td>
				<td>Deployment Server</td>
				<td>Deployment URL</td>
				<td>Modified</td>
			</tr>
		</thead>
		<tbody id="sortable">
		{% for project in projects %}
		{% if project.active %}
			<tr id="{{project.id}}">
				<td><span class="ui-icon ui-icon-arrowthick-2-n-s"></span></td>
				<td><a href="{% url 'projects.views.project_overview' project.id %}>">{{project.name}}</a></td>
				<td>{{project.code_name}}</td>
				<td>{{project.get_status_display}}</td>
				<td>{{project.get_current_phase_display}}</td>
				<td>{{project.deployment_server}}</td>
				<td>{{project.deployment_url}}</td>
				<td>{{project.modified}}</td>
			</tr>
		{% endif %}
		{% endfor%}
		<tr id="0" hidden></tr>
		{% for project in inactive %}
			<tr class="hidden-project" style="display:none;" id="{{project.id}}">
				<td><span class="ui-icon ui-icon-arrowthick-2-n-s"></span></td>
				<td><a href="{% url 'projects.views.project_overview' project.id %}>">{{project.name}}</a></td>
				<td>{{project.code_name}}</td>
				<td>{{project.get_status_display}}</td>
				<td>{{project.get_current_phase_display}}</td>
				<td>{{project.deployment_server}}</td>
				<td>{{project.deployment_url}}</td>
				<td>{{project.modified}}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
	<button id="show-button">Show Active</button>
</div>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script>
	$(function(){
		$("#sortable").sortable({
            placeholder: "ui-state-highlight",
            cursor: 'crosshair',
            update: function(event, ui) {
                var order = $("#sortable").sortable("toArray");
                // alert(order.join(","));
                $.ajax({
					type: "POST",
					url: "{% url 'projects.views.saveProjectPriority' %}",
					data: {"priority_order": order},
					success: function(data) {
						console.log("success");
					},
					error: function(data) {
						console.log("error");
					}
				});
            }
    	});
		$("#sortable").disableSelection();

		$("#show-button").on('click', function(e){
			var rows = $("#sortable tr.hidden-project");
			rows.each(function(){
				this.style.display = 'table-row';
			});
			var elem = document.getElementById("show-button");
			$("#maincontent").append("<button id='hide-button'>Hide Inactive</button>");
			elem.parentNode.removeChild(elem);
			return false;
		});

		$("#hide-button").on('click', function(e){
			var rows = $("#sortable tr.hidden-project");
			rows.each(function(){
				this.style.display = 'none';
			});
			var elem = document.getElementById("hide-button");
			$("#maincontent").append("<button id='show-button'>Show Inactive</button>");
			elem.parentNode.removeChild(elem);
			return false;
		});
	});
</script>
{% endblock %}