{% extends "projects/base.html" %}

{% block contextNav %}
	<a href="/project">Projects</a>
    <a href="{% url 'issues.views.issue_form' %}">New Issue</a>
    <a href="{% url 'issues.views.unassigned_issues' %}">Unassigned Issues</a>
    <a href="/food/all">Food Requests</a>
    <a href="/reports/edit">Daily Reports</a>
    <a href="/help/user/{{user.id}}">Help</a>
{% endblock%}

{% block bodyContent %}
	<h2>New Project</h2>
	<form action="/project/new" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<table>
		{{form.as_table}}
		</table>
		<input type="submit" value="Submit"/>
	</form>
{% endblock %}