{% extends "projects/base.html" %}

{% comment %}
Extends /templates/projects/base.html

==Blocks Available==
    additionalHead (from /templates/base.html)
        Used to add additional <link/>, <style/>, and/or <script/> tags to the <head/>
        SHOULD BE USED SPARINGLY - if CSS or JS needs to be added, refer to Gadget.css and Gadget.js, respectively
    contextNav (from /templates/base.html)
        Used to add/modify the context menu items
    baseContent (from /templates/base.html)
        Content that appears in the <body/> of the document. Is wrapped within <div#globalwrap/> and appears after <div#sitenav/>
        **NOTE: using baseContent will OVERRIDE bodyContent unless a bodyContent block is contained within**
    modalsIncluded (from /templates/base.html)
        Used specifically to contain the HTML for modals used by Bootstrap
        This content is hidden by default, is wrapped within a <div/> after <div#globalwrap/> and appears before any end scripts
    endScripts (from /templates/base.html)
        Used to include additional <script/> for the page
        Appears outside of <div#globalwrap/>, after any global <script/> and before the closing <body/> tag
    pageTitle (from /templates/projects/base.html)
        Supplies text to be displayed at the top of the page below the global nav bar
        Appears in <h1#pagetitle/> within <header#pageheader>
    bodyContent (from /templates/projects/base.html)
        Used to display any and all of the pages content
        Appears within <div#maincontent>
        **NOTE: made available by baseContent - if baseContent is defined within the template, bodyContent will not be displayed unless contained within baseContent**
{% endcomment %}

{% block context_nav %} 
    <li><a href="{% url 'projects.views.project_overview' project.id %}">{{project.name}}</a></li>
    <li><a href="/issue/new/{{project_O.id}}">New Issue</a></li>
    <li><a href="{% url 'issues.views.meta_issue_form' %}">New Meta Issue</a></li>
    <li><a href="/issue/new/{{project_O.id}}">New Risk</a></li>
    <li><a href="{% url 'checklists.views.checklist_form_project' project_O.id %}">New Checklist</a></li>
    <li><a href="/project/{{project_O.id}}/stats">Report</a></li>
    <li><a href="{% url 'checklists.views.project_checklists' project_O.id %}">Checklists</a></li>
{% endblock%}

{% block pageTitle %}
New Project
{% endblock %}

{% block bodyContent %}
    <form action="/project/{{project.id}}/edit" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
        {{form.as_table}}
        </table>
        <input type="submit" value="Submit"/>
    </form>
{% endblock %}