{% extends "projects/base.html" %}

{% block contextNav %}
{% include "_includes/contextnav-default.html" %}
{% endblock %}

{% block siteTitle %}
All Projects
{% endblock %}

{% block bodyContent %}
	<table class="table">
		<thead>
			<tr>
				<td>Name</td>
				<td>Owner</td>
			</tr>
		</thead>
		<tbody>
		{% for project in projects %}
			<tr>
				<td><a href="{% url 'projects.views.project_overview' project.id %}>{{project.name}}"</a></td>
				<td>{%if project.product_owner %}<a href="/auth/user/{{project.product_owner.id}}">{{project.product_owner}}</a> {% else %}{{project.product_owner}}{% endif %}</td>
			</tr>
		{% endfor%}
		</tbody>
	</table>
{% endblock %}