{% extends "polls/base.html" %}

{% block contextNav %}
    <li><a href="{% url 'polls.views.new_poll' %}">Create New Poll</a></li>
    <li><a href="{% url 'polls.views.all_polls' %}">View All Polls</a></li>
{% endblock%}

{% block pageTitle %}
{% endblock %}

{% block baseContent %}
<h2>{{poll.name}}</h2>
<p>{{poll.context}}</p><br/>
<p>End Date: {{poll.end_date}}</p><br/>
<p>Votes Allowed Per Person: {{poll.max_votes}}</p><br/>
<form action="{% url 'polls.views.vote' poll.id %}" id="poll" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
    <tr>
        <td></td>
        <td><b>Item</b></td>
        <td><b>Votes</b></td>
        <td></td>
        <td></td>
    </tr>
    {% for deez in usernotvoteitems %}
    <tr>        
            <td>
                {% if sup and not deez.voted %}
                    <input type="checkbox" id="deez" name="{{deez.item.id}}" value="Submit" >  
                {% endif %}
            </td>
            <td>{{deez.item.item}}</td>
            <td>{{deez.item.votes}}</td>
            <td><input type='hidden' name='item' id='id_item' value='{{deez.item.id}}'/></td>
            
            <td><meter style="width:200px;height:25px;" id="items" title="Poll Results" max="{{most_votes}}" low="1" high="8" optimum="5" value="{{deez.item.votes}}">Value can be here too</meter></td>
    </tr>
    {% endfor %}
</table>
{% if sup %}
</br>
<input type="submit" name="submit" value="Submit"/>
{% endif %}

</form>

<form action="{% url 'polls.views.undo_vote' poll.id %}" id = "pollForm" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="submit" name="undo_vote" value="Undo Vote"/>
</form>

{% if user == poll.creator %}
<form action="{% url 'polls.views.end_poll' poll.id %}" id = "pollForm" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    </br>
    <input type="submit" name="end_poll" value="End Poll"/>
</form>
{% endif %}






{% endblock %}

{% block endScripts %}
<script type="text/javascript">
$("form").on("click", ":checkbox", function(event){
  $(":checkbox:not(:checked)", this.form).prop("disabled", function(){
    return $(this.form).find(":checkbox:checked").length == {{votes_allowed}};
  });
});
</script>
{% endblock %}