{% extends "polls/base.html" %}

{% block contextNav %}
{% endblock%}

{% block baseContent %}
<h2>{{poll.name}}</h2>
<p>{{poll.context}}</p>
<p>End Date: {{poll.end_date}}</p>
<form action="{% url 'polls.views.vote' poll.id %}" id="poll" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
    <tr>
        <td></td>
        <td><b>Item</b></td>
        <td><b>Votes</b></td>
        <td></td>
    </tr>
    {% for item in items %}
    <tr>        
            <td>
                {% if sup %}
                    <input type="checkbox" id="item" name="{{item.id}}" value="Submit" >   
                {% else %}
                {% endif %}
            </td>
            <td>{{item.item}}</td>
            <td>{{item.votes}}</td>
            <td><input type='hidden' name='item' id='id_item' value='{{item.id}}'/></td>
        
    </tr>
    {% endfor %}
    <input type="submit" name="submit" value="Submit"/>

</table>
</form>
{% endblock %}

{% block endScripts %}
<script type="text/javascript">
$("form").on("click", ":checkbox", function(event){
  $(":checkbox:not(:checked)", this.form).prop("disabled", function(){
    return $(this.form).find(":checkbox:checked").length == {{poll.max_votes}};
  });
});
</script>
{% endblock %}