{% extends "polls/base.html" %}

{% block contextNav %}
    <li><a href="{% url 'polls.views.add_items' poll.id %}">Add Item</a></li>
    <li><a href="{% url 'polls.views.new_poll' %}">Create New Poll</a></li>
    <li><a href="{% url 'polls.views.all_polls' %}">View All Polls</a></li>
{% endblock%}

{% block pageTitle %}
{{poll.name}}
{% endblock %}

{% block baseContent %}

<!-- Begin container -->
<div class="container">
	
	<h2>{{poll.name}}</h2>
	<p class="lead">{{poll.context}}</p>
	
	<form action="{% url 'polls.views.vote' poll.id %}" id="poll" method="post" enctype="multipart/form-data" class="poll-voting">
	    {% csrf_token %}
	    <table class="table table-striped">
		    {% for deez in usernotvoteitems %}
		    <tr>        
				<td class="item">
					{% if sup and not deez.voted %}
					<label class="checkbox">
						<input type="checkbox" id="deez" name="{{deez.item.id}}" value="Submit" />{{deez.item.item}}
					</label>
					{% else %}
					{{deez.item.item}}
					{% endif %}
	            </td>
	            <td width="1"><input type='hidden' name='item' id='id_item' value='{{deez.item.id}}'/></td>
	            <td>{% if not sup %}<meter id="items" title="Poll Results" max="{{most_votes}}" low="1" high="8" optimum="5" value="{{deez.item.votes}}">Value can be here too</meter>{% endif %}</td>
				<td class="votes">{% if not sup %}{{deez.item.votes}}{% endif %}</td>
		    </tr>
		    {% endfor %}
		</table>
	
		<div class="form-actions">
			<p class="pull-right text-right"><small>Votes Allowed Per Person: <strong>{{poll.max_votes}}</strong><br />Voting ends <strong>{{poll.end_date}}</strong></small></p>
	
			{% if sup %}
			<button type="submit" name="submit" value="Vote" class="btn btn-primary pull-left"><i class="icon-ok icon-white"></i> Vote</button>
			{% endif %}
		</div>
	</form>
	
	{% if uservoteitems.count %}
	<form action="{% url 'polls.views.undo_vote' poll.id %}" id = "pollForm" method="post" enctype="multipart/form-data">		
	    {% csrf_token %}
	    <input type="submit" name="undo_vote" value="Undo Vote" class="btn btn-warning" />
	</form>
	{% endif %}

	{% if user == poll.creator %}
	<form action="{% url 'polls.views.end_poll' poll.id %}" id = "pollForm" method="post" enctype="multipart/form-data">
	    {% csrf_token %}
	    <input type="submit" name="end_poll" value="End Poll" class="btn btn-danger" />
	</form>
	{% endif %}
	
</div>
<!-- End container -->

{% endblock %}

{% block endScripts %}
<script type="text/javascript">
$("form").on("click", ":checkbox", function(event){
  $(":checkbox:not(:checked)", this.form).prop("disabled", function(){
    return $(this.form).find(":checkbox:checked").length == {{votes_allowed}};
  });
});
</script>
{% endblock %}