{% extends "base.html" %}

{% block contextNav %}
	<li><a href="/help/new">Ask a Question</a></li>
	<li><a href="/help/resolved">Resolved Questions</a></li>
	<li><a href="/help/pending">Unresolved Questions</a></li>
	<li><a href="/help/user">Your Questions</a></li>
{% endblock %}

{% block baseContent %}
	<form action="/twitter/newTweet" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<input type='text' name='twit-content'/>
		<input type='submit' value='TWEET IT'/>
	</form>
{% endblock %}