{% extends "base.html" %}

{% block context_nav %}
	<li><a href="/help/new">Ask a Question</a></li>
	<li><a href="/help/resolved">Resolved Questions</a></li>
	<li><a href="/help/pending">Unresolved Questions</a></li>
	<li><a href="/help/user">Your Questions</a></li>
{% endblock %}

{% block basecontent %}
	<form action="/twitter/add_account" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<table>
			<tr><td>Username:</td></tr>
			<tr><td>{{form.user_name}}</td></tr>
		</table>
	<input type='hidden' name="user" id="id_user" value='{{user.id}}'/>
	<input type="submit" value="Submit"/>
	</form>
{% endblock %}