<li class="nav-header">New</li>
<li><a href="{% url 'taxes.views.createTaxForm' %}">Base Form (Tax Year End)</a></li>
<li><a href="{% url 'taxes.views.createChecklist' %}">Information Checklist</a></li>
<li><a href="{% url 'taxes.views.submitProjectForm' %}">Project List Analysis</a></li>
<li><a href="{% url 'taxes.views.submitSupplyForm' %}">Supply Cost Analysis</a></li>
<li><a href="{% url 'taxes.views.submitContractForm' %}">Contract Research Cost Analysis</a></li>
<li class="nav-header">Lists</li>
<li><a href="{% url 'taxes.views.viewAllForms' %}">R&D Tax Info</a></li>