{% extends "taxes/base.html" %}

{% block contextNav %}
{% endblock %} 

{% block pageTitle %}
R&D Tax Accounting
{% endblock %}

{% block bodyContent%}
<form action="{% url 'taxes.views.createTaxForm' %}" id = "taxForm" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    Tax Year End:
    <input type='text' id='id_tax_year_end' name='tax_year_end'></br>
    <input type='submit' value='Create Tax Year Base Form'>
</form>
{% endblock%}

{% block endScripts %}
<script type="text/javascript">
    $(function(){
        $('#id_tax_year_end').datepicker({dateFormat: 'mm/dd/yy'});
    });
</script>
{% endblock %}