<div id="modal-help-markdown" class="modal fade hide">
	<header class="modal-header">
		<button class="close" data-dismiss="modal">×</button>
		<h3>Markdown</h3>
	</header>
	<div class="modal-body">
		<h4>Headers</h4>
<pre>
# This is an H1
## This is an H2
###### This is an H6
</pre>
		<h4>Lists</h4>
<pre>
* This
* is an
* unordered (bullet) list

1. This
2. is an
3. ordered (number) list
</pre>
		<h4>Formatting</h4>
<pre>
_italic_ (or) *italic*
__bold__ (or) **bold**
</pre>
		<h4>Links</h4>
<pre>
[This is a link](http://www.darkcoding.net)
</pre>
	</div>
	<footer class="modal-footer">
		<button class="btn btn-primary" data-dismiss="modal">Close</button>
    </footer>
</div>