{% extends "registration/base.html" %}

{% block contextNav %}
    {% include '_includes/contextnav-default.html' %}
{% endblock%}


{% block bodyContent %}
<a href="{% url 'auth.views.change_email' %}">Change Email Address</a><br>
<a href="{% url 'auth.views.change_password' %}">Change Password</a></br>
<a href="{% url 'socialplatform.views.facebookConnect' %}">Add Facebook Account</a></br>
{% if tw.active %}
	<a href="{% url 'socialplatform.views.remove_twitter_acct' %}">Add Twitter Account</a>
{% else %}
	<a href="{% url 'socialplatform.views.add_twitter_acct' %}">Add Twitter Account</a>
{% endif %}
{% endblock %}