{% extends "base.html" %}

{% block contextNav %}
    <a href="{% url 'dashboard.views.home' %}">Dashboard</a>
    <a href="/auth/user/{{user.id}}">{{user}}</a>
    <a href="{% url 'auth.views.account_settings' %}">Account Settings</a>
{% endblock%}

{% block baseContent %}
<form action="/accounts/change_email" method="post" enctype="multipart/form-data">
    {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
    <input type="submit" value="Submit"/>
</form>

{% endblock %}