{% extends "base.html" %}

{% block container %}

<h2>Login</h2>
<form action="/accounts/login" method="post" enctype="multipart/form-data">
    {% csrf_token %}
	<input type="text" name="username" placeholder="username" id="id_username"/>
	<input type="password" name="password" placeholder="password" id="id_password"/>
	<input type="submit" class="button" value="Continue" />
</form>

<h2>Register</h2>
<form action="/accounts/register" method="post" enctype="multipart/form-data">
	{% csrf_token %}
        <input id="id_username" type="text" name="username" placeholder="username" maxlength="30" />
        <input type="text" name="email" id="id_email" placeholder="e-mail" />
        <input type="password" name="password1" id="id_password1" placeholder="password" />
        <input type="password" name="password2" id="id_password2" placeholder="confirm password" />
    <input type="submit" value="Submit"/>
</form>

{% endblock %}