{% extends "socialplatform/base.html" %}

{% block contextNav %}
	{% include '_includes/contextnav-default.html' %}
{% endblock %}

{% block bodyContent %}
	<form action="{% url 'socialplatform.views.add_twitter_acct' %}" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<table>
			<tr><td>Username:</td></tr>
			<tr><td>{{form.user_name}}</td></tr>
		</table>
		<input type='hidden' name="user" id="id_user" value='{{user.id}}'/>
		<input type="submit" value="Submit"/>
	</form>
{% endblock %}