{% extends "base.html" %}

{% block style %}
.checklist_instance_header{
    font-size:0.7em;  
    font-weight:bold; 
}

.checklist_instance_header td{
    padding-left:2em;
}

.checklist_instance_item a{
    font-size:0.7em;
    padding-left:3em;
}
{% endblock %}

{% block container %}
        <table>
            <tr>
                <td>
                    <b>Checklists</b>
                </td>
            </tr>
            {% for checklist in checklists %}
                <tr>
                    <td>
                    <a href="/checklist/{{checklist.id}}">{{checklist.name}}</a>
                    </td>
                    <td>
                        <a href="/checklist/checklist_instance_new/{{checklist.id}}">Add</a>
                    </td>
                </tr>

                {% if checklist_instances %}
                    <tr class="checklist_instance_header">
                        <td>Checklist Instances</td>
                        <td></td>
                    </tr>
                    {% for k, v in checklist_instances.items%}
                        {% if v.title == checklist.name%}
                        <tr class="checklist_instance_item">
                            <td>
                            <a href="/checklist/instance/{{v.id}}">{{v.title}}</a>
                            </td>
                            <td>
                                {% if v.completion_status %}
                                Complete
                                {% else %}
                                Incomplete
                                {% endif%}
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </table>

{% endblock %}
