{% extends "checklists/base.html" %}

{% block contextNav %}
    <!--<a href="{% url 'projects.views.project_overview' project.id %}">{{project.name}}</a>-->
    <li><a href="/checklist/new/{{project.id}}">New Checklist</a></li>
    <li><a href="{% url 'checklists.views.project_checklists' project.id %}">Project Checklists</a></li>

{% endblock%}

{% block pageTitle %}
Checklists
{% endblock %}

{% block bodyContent %}
        <table>
            {% for checklist in checklists %}
                <tr>
                    <td>
                    <a href="/checklist/{{checklist.id}}/edit">{{checklist.name}}</a>
                    </td>
                    <td>
                        <a href="/checklist/checklist_instance_new/{{checklist.id}}">Add</a>
                    </td>
                </tr>

                {% if checklist_instances %}
                    <tr class="checklist_instance_header">
                        <td>Checklist Instances</td>
                        <td></td>
                    </tr>
                    {% for k, v in checklist_instances.items%}
                        {% if v.title == checklist.name %}
                        <tr class="checklist_instance_item">
                            <td>
                            <a href="/checklist/instance/{{v.id}}">{{v.title}}</a>
                            </td>
                            <td>
                                {% if v.completion_status %}
                                Complete
                                {% else %}
                                Incomplete
                                {% endif%}
                            </td>
                            <td>
                                {{v.created}}
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </table>

{% endblock %}
