{% extends "base.html" %}

{% block context_nav %}
    <a href="/project/{{checklist.project.id}}">{{checklist.project.name}}</a>
    <a href="/checklist/new/{{checklist.project.id}}">New Checklist</a>
{% endblock%}

{% block container %}
    <form action="/checklist/{{checklist.id}}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{formset.management_form}}
        <table>
            {{checklist_form.as_table}}

            {% for form in formset.forms %}
                <table>
                    Checklist Item: 
                    {{ form }}<br>
                </table>
            {% endfor %}
        </table>
    <input type="submit" name="submit" value="Submit"/>
    </form><br>


{% endblock %}
