{% extends "base.html" %}

{% block context_nav %}
    <a href="/project/{{project.id}}">{{project.name}}</a>
    <a href="/checklist/project/{{project.id}}">{{project.name}} Checklists</a>
{% endblock%}

{% block container %}
    <form action="/checklist/new/{{project.id}}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{formset.management_form}}
        <table>
            {{checklist_form.as_table}}

            {% for form in formset.forms %}
                <table>
                    Checklist Item: <input title='Add a new checklist item' type='submit' name='add_checklist_item' value='Add Item' /><br>
                    {{ form }}
                </table>
            {% endfor %}
        </table>
    <input type="submit" name="submit" value="Submit"/>
    </form>

{% endblock %}