{% extends "base.html" %}
{% block basecontent %}
<div id="maincontent" class="container">
	<header id="pageheader">
		<h1 id="pagetitle" class="page-header">
			<span class="title-pagetype">{{page_type}}</span>
			{% if page_value %}
			<span class="title-separator title-seperator-pagevalue">::</span>
			<span class="title-pagevalue">{{page_value}}</span>
			{% endif %}
			{% if issue %}
			<span class="title-separator title-seperator-issuestatus">::</span>
			<small class="title-issuestatus label
				{% if issue.status == 'not_a_bug' %}
					label-info">Not a Bug
				{% elif issue.status == 'wont_fix' %}
					label-info">Won't Fix
				{% elif issue.status == 'duplicate' %}
					label-info">Duplicate
				{% elif issue.status == 'active' %}
					label-warning">Active
				{% elif issue.status == 'fixed' %}
					label-success">Fixed
				{% elif issue.status == 'retest' %}
					label-warning">Retest
				{% elif issue.status == 'unverified' %}
					label-default">Unverified
				{% else %}
					label-default">None
				{% endif %}</small>
			{% endif %}
		</h1>
	</header>
	<div id="pagemessage"></div>
	{% block container %}{% endblock %}
</div>
{% endblock %}