<!doctype html>
<html lang="en">
<head>
	{% load staticfiles %}
	<meta charset="utf-8">
	<title>Gadget</title>

	<link rel="stylesheet" href="/static/css/jquery-ui.css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

	<style>
	{% include "theme/_includes/siteheader.css" %}
	{% block style %}{% endblock %}
	</style>

	{% block extra_head %}{% endblock %}
</head>
<body>
	
</body>
</html>