<!doctype html>
<html lang="en">
<head>
	{% load staticfiles %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Gadget</title>

	<link rel="stylesheet" href="{% static "theme/assets/css/bootstrap-responsive.css" %}">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
	<script src="{% static "theme/assets/js/bootstrap.js" %}"></script>

	<style>
	{% include "theme/_includes/siteheader.css" %}
	{% block style %}{% endblock %}
	</style>

	{% block extra_head %}{% endblock %}
</head>
<body>
	<div id="siteheader">
	    <div id="siteheader-overlay"></div>
	    <div id="siteheader-content">
	        <div id="sitelogo"></div>
	        <nav id="sitenav">
	            <ul>
	                <li><a href="/" class="navitem {% if navIndicator == 'dashboard' %}navitem-active{% endif %}">Dashboard</a></li>
	                <li>
	                    <span class="navitem {% if navIndicator == 'projects' %}navitem-active{% endif %}">Projects</span>
	                    <ul class="navitem-sub navitem-sub-hidden">
	                        {% for project in projects%}
	                           <li><a href="/project/{{project.id}}">{{project.name}}</a></li>
	                        {% endfor %}
	                        <li><a href="/project/new">New Project</a></li>
	                    </ul>
	                </li>
	                <li><a href="/reports" class="navitem {% if navIndicator == 'reports' %}navitem-active{% endif %}">Reports</a></li>
	            </ul>
	        </nav>
	        <div id="userbar">
	            <ul>
	                <li>
	                    <span class="navitem">Context</span>
	                    <ul class="navitem-sub navitem-sub-hidden">
	                        {% block context_nav %}{% endblock %}
	                    </ul>
	                </li>
	                <li>
	                    <span class="navitem">{{user}}</span>
	                    <ul class="navitem-sub navitem-sub-hidden">
	                        <li><a href="/accounts/account_settings">Settings</a></li>
	                        <li><a href="/accounts/logout/?next=/">Logout</a></li>
	                    </ul>
	                </li>
	            </ul>
	        </div>
	        <div id="sitesearch">
	            <form action="/issue/search" method="POST">
	                {% csrf_token %}
	                <a href="/issue/advsearch"><i class="icon-search icon-white"></i></a>
	                <input type="search" name="searchText" id="search">
	                <input type="submit" value="search">
	            </form>
	        </div>
	    </div>
	</div>
	<div id="sitecontent">
		<div id="sitecontent-wrapper">
			<h1>{% if page_type %}<span class="title-pagetype">{{page_type}}</span>{% endif %}{% if page_type and page_value %} <span class="title-separator">::</span> {% endif %}{% if page_value %}<span class="title-pagevalue">{{page_value}}</span>{% endif %}</h1>

			{% block container %}{% endblock %}
		</div>
	</div>
	<footer id="sitefooter">

	</footer>
	<script>
    	{% include "theme/_includes/siteheader.js" %}
    </script>
</body>
</html>