{% extends "base.html" %}

{% block context_nav %}
    <li><a href="/food/new">New Food Request</a></li>
    <li><a href="/food/complete">Completed Requests</a></li>
    <li><a href="/food/overview">Pending Requests</a></li>
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.8.3.js"></script>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>

<script>
    $(function() {
        $( "#id_desired_completion" ).datepicker({dateFormat: 'yy-mm-dd'});
    });
</script>
{% endblock %}

{% block basecontent %}
    <form action="/food/new" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            <b>Requested By:</b></br>
            {{form.user}}</br>
            <b>Item & Quantity:</b></br>
            {{form.item}}
            {{form.quantity}}
            {{form.quantity_type}}</br>
            <b>Per Unit Cost:</b></br>
            {{form.cost_per_quantity}}</br>
            <b>Desired Date of Completion:</b></br>
            {{form.desired_completion}}
        </table>
        <input type='hidden' name="user" id="id_user" value='{{user.id}}'/><br>
    <input type="submit" value="Submit"/>
    </form>

{% endblock %}
{% block additionaljs %}
//<script>
$(function(){
    $('#id_desired_completion').datepicker();
})
{% endblock %}