{% extends "food/base.html" %}

{% block contextNav %}
    <li><a href="{% url 'food.views.food_form' %}">New Food Request</a></li>
	<li class="divider"></li>
	<li><a href="{% url 'food.views.all_food' %}">All Requests</a></li>
    <li><a href="{% url 'food.views.food_overview_complete' %}">Completed Requests</a></li>
    <li><a href="{% url 'food.views.food_overview' %}">Pending Requests</a></li>
{% endblock %}

{% block pageTitle %}Pending Food Requests{% endblock %}

{% block bodyContent %}
<table class="table table-striped">
	<thead>
    <tr>
        <td><b>Requested By: </b></td>
        <td><b>Item Requested: </b></td>
        <td><b>Quantity: </b></td>
        <td><b>Total Cost: </b></td>
        <td><b>Expected By: </b></td>
    </tr>
	</thead>
	<tbody>
    {% for food in pending_food%}
    <tr>
        <td><a href="{% url 'food.views.user_food_overview' food.id %}">{{food.user}}</a></td>
        <td><a href="{% url 'food.views.food_received' food.id %}">{{food.item}}</a></td>
        <td>{{food.quantity}}</td>
        <td>{{food.total_cost}}</td>
        <td>{{food.desired_completion}}</td>
    </tr>
    {% endfor%}
	</tbody>
</table>
{% endblock %}