{% extends "food/base.html" %}

{% block contextNav %}
{% include '_includes/contextnav-food.html' %}
{% endblock %}

{% block pageTitle %}Food Requests by {{user_name}}{% endblock %}

{% block bodyContent %}
<table class="table table-striped">
	<thead>
    <tr>
		<th>Item:</th>
        <th>Quantity:</th>
        <th>Total Cost:</th>
        <th>Expected By:</th>
    </tr>
	</thead>
	<tbody>
	{% for food in user_food%}
    <tr>
		<td><a href="{% url 'food.views.food_received' food.id %}">{{food.item}}</a></td>
        <td>{{food.quantity}}</td>
		<td>{{food.total_cost}}</td>
        <td>{{food.desired_completion}}</td>
    </tr>
	{% endfor%}
	</tbody>
</table>
{% endblock %}