{% extends "food/base.html" %}

{% block contextNav %}
    <li><a href="{% url 'food.views.food_form' %}">New Food Request</a></li>
	<li class="divider"></li>
	<li><a href="{% url 'food.views.all_food' %}">All Requests</a></li>
    <li><a href="{% url 'food.views.food_overview_complete' %}">Completed Requests</a></li>
    <li><a href="{% url 'food.views.food_overview' %}">Pending Requests</a></li>
{% endblock %}  

{% block pageTitle %}All Registered Food Requests{% endblock %}

{% block bodyContent%}
<table class="table table-striped">
	<thead>
    <tr>
        <th>Requested By:</th>
        <th>Item:</th>
        <th>Quantity:</th>
        <th>Total Cost:</th>
        <th>Request Completed:</th>
    </tr>
	</thead>
	<tbody>
    {% for food in food_all%}
    <tr>
        <td><a href="{% url 'food.views.user_food_overview' food.id %}">{{food.user}}</a></td>
        <td><a href="{% url 'food.views.food_received' food.id %}">{{food.item}}</td>
        <td>{{food.quantity}}</td>
        <td>${{food.total_cost}}</td>
        <td>{% if food.request_completed_bool %}
		<span class="label label-success">{{food.request_completed_bool}}</span>
		{% else %}
		<span class="label">{{food.request_completed_bool}}</span>
		{% endif %}</td>
    </tr>
    {% endfor%}
	</tbody>
</table>
{% endblock%}