{% extends "food/base.html" %}

{% block contextNav %}
{% include '_includes/contextnav-food.html' %}
{% endblock %}  

{% block pageTitle %}Food Request{% endblock %}

{% block bodyContent %}
<table class="table table-striped">
	<thead>
    <tr>
		<th>Item:</th>
        <th>Unit Cost:</th>
        <th>Quantity:</th>
        <th>Total Cost:</th>
		<th>Requested By:</th>
		<th>Requested On:</th>
        <th>Desired Date of Completion:</th>
    </tr>
	</thead>
	<tbody>
    <tr>
		<td><a href="{% url 'food.views.get_food' food.id %}">{{food.item}}</td>
        <td>{{food.cost_per_quantity}} per {{food.quantity_type}}</td>
        <td>{{food.quantity}} {{food.quantity_type}}</td>
        <td>${{food.total_cost}}</td>
		<td>{{food.user}}</td>
		<td>{{food.request_initiated}}</td>
        <td>{{food.desired_completion}}</td>
    </tr>
	</tbody>
</table>
{% endblock %}