{% extends "food/base.html" %}

{% block contextNav %}
{% include '_includes/contextnav-food.html' %}
{% endblock %}

{% block pageTitle %}Pending Food Requests{% endblock %}

{% block bodyContent %}
<table class="table table-striped">
	<thead>
    <tr>
        <td>Requested By:</td>
        <td>Item:</td>
        <td>Quantity:</td>
        <td>Total Cost:</td>
        <td>Date Requested:</td>
		<td>Date Complete:</td>
    </tr>
	</thead>
	<tbody>
    {% for food in complete_food%}
    <tr>
        <td>{{food.user}}</td>
        <td>{{food.item}}</td>
        <td>{{food.quantity}}</td>
        <td>{{food.total_cost}}</td>
        <td>{{food.request_initiated}}</td>
        <td>{{food.request_completed_date}}</td>
    </tr>
    {% endfor%}
	</tbody>
</table>
{% endblock %}