{% extends "base.html" %}

{% block contextNav %}
    <li><a href="{% url 'food.views.food_form' %}">New Food Request</a></li>
    <li><a href="{% url 'food.views.food_overview_complete' %}">Completed Requests</a></li>
    <li><a href="{% url 'food.views.food_overview' %}">Pending Requests</a></li>
{% endblock %}

{% block bodyContent %}

<h2><a href="{% url 'food.views.food_overview' %}">Food Requests by {{user_name}}: </a></h2>
<table>
    <tr>
        <td><b>Item:  </b></td>
        <td><b>Quantity:  </b></td>
        <td><b>Total Cost:  </b></td>
        <td><b>Expected By:  </b></td>
    </tr>
    {% for food in user_food%}
    <tr>
        <td><a href="/food/comp/{{food.id}}">{{food.item}}</a></td>
        <td>{{food.quantity}}</td><td>{{food.total_cost}}</td>
        <td>{{food.desired_completion}}</td>
    </tr>
    {% endfor%}
</table>

{% endblock %}