{% extends "food/base.html" %}

{% block contextNav %}
{% include '_includes/contextnav-food.html' %}
{% endblock %}

{% block pageTitle %}New Food Request{% endblock %}

{% block additionalHead %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
{% endblock %}

{% block bodyContent %}
<form action="{% url 'food.views.food_form' %}" method="post" class="form-horizontal span8 offset2" enctype="multipart/form-data">
	{% csrf_token %}

	<div class="control-group">
		<label class="control-label">Requested By:</label>
		<div class="controls">
			{{form.user}}
        </div>
    </div>

	<div class="control-group">
		<label class="control-label">Item:</label>
		<div class="controls">
			{{form.item}}
        </div>
    </div>

	<div class="control-group">
		<label class="control-label">Quantity:</label>
		<div class="controls">
			{{form.quantity}}
			{{form.quantity_type}}
        </div>
    </div>

	<div class="control-group">
		<label class="control-label">Per Unit Cost:</label>
		<div class="controls">
			{{form.cost_per_quantity}}
        </div>
    </div>

	<div class="control-group">
		<label class="control-label">Desired Date of Completion:</label>
		<div class="controls">
			{{form.desired_completion}}
        </div>
    </div>

	<div class="form-actions">
		<input type='hidden' name="user" id="id_user" value='{{user.id}}'/>
		<input type="submit" value="Submit" class="btn btn-primary" />
	</div>
</form>
{% endblock %}

{% block endScripts %}
<script>
	$(function(){
	    $('#id_desired_completion').datepicker();
	})
</script>
{% endblock %}