{% extends "theme/base.html" %}
{% load markup %}

{% block context_nav %}
	<li><a id="context-issue-new" href="/issue/new/{{issue.project.id}}">New Issue : {{issue.project.name}}</a></li>
	<li><a id="context-issue-subscribe" href="/issue/subscribe/{{issue.id}}">{% if subscribe == None%}Subscribe{% else %}Unsubscribe{% endif %}</a></li>
	<li><a id="context-issue-pin" href="/issue/pin/{{issue.id}}">{% if pin %}Unpin{% else %}Pin{% endif %}</a></li>
	<li><a id="context-issue-assign" href="/issue/assign/{{issue.id}}">{% if issue.assigned_to == user%}Unassign{% else %}Take{% endif %}</a></li>
	<li>
		<a id="context-issue-assignto">
			<form class="form-inline">
				Assign To:&nbsp;
				<div class="input-append">
					<select name="assigned_user">
						{% for user in users %}
							<option value="{{user.id}}">{{user.username}}</option>
						{% endfor%}
					</select>
					<button class="btn" type="button" data-url="/issue/assign/{{ issue.id }}/">Assign</button>
				</div>
			</form>
		</a>
	</a></li>
	<li>
		<a id="context-issue-status">
			<form class="form-inline">
				Status:&nbsp;
				<div class="input-append">
					{{form.status}}
					<button class="btn" type="button">Set</button>
				</div>
			</form>
		</a>
	</li>
	<li><a href="#" data-target="#modal-issue-related" role="button" data-toggle="modal">Set Related To...</a></li>
    <li><a href="/issue/{{issue.id}}/history">History</a></li>
	<li><a href="/issue/{{issue.id}}/edit">Edit</a></li>
{% endblock%}

{% block container %}
	<article class="row">
		<div id="issue-column-main" class="span9">
			<div id="issue-details" class="well">
				<div class="media">
					<div class="media-body">
						<h4 class="media-header">Summary</h4>
						{{issue.summary}}
					</div>
				</div>
				<div class="media">
					<div class="media-body">
						<h4 class="media-header">Description</h4>
						{{issue.description|markdown:"safe"}}
					</div>
				</div>
				{% if images %}
				<div class="media">
					<div class="media-body">
						<h4 class="media-header">Attached Images</h4>
						<ul class="thumbnails">
							{% for image in images %}
							<li class="span2">
								<a class="thumbnail"><img src="/static/{{image.screenshot}}"></a>
							</li>
							{% endfor %}
						</ul>
					</div>
				</div>
				{% endif %}
			</div>

			<aside id="issue-comments" class="well">
				<header>
					<h3>Comments</h3>
				</header>
				<div id="issue-comments-add">
					<form class="form-inline" action="/issue/comment/{{ issue.id }}" method="post">
						{% csrf_token %}
						<input type="hidden" name="issue" id="id_issue" value="{{issue.id}}">
						<input type="hidden" name="user" id="id_user" value="{{user.id}}">
						{% if comment_form.errors %}
						<div class="alert alert-block alert-error">
							{{comment_form.errors}}
						</div>
						{% endif %}
						<div class="control-group">
							<label class="control-label" for="id_description">Comment</label>
							<div class="control-group">
								{{comment_form.description}}
							</div>
						</div>
						<div class="form-actions">
	                    	<button class="btn btn-primary" type="submit">Submit</button>
	                    </div>
					</form>
				</div>
				<ul id="issue-comments-list" class="media-list">
					{% for comment in comments%}
					<li class="media">
						<article id="issue-comment-{{comment.id}}" class="issue-comment" data-commentid="{{comment.id}}" data-commentuser="{{comment.user}}">
							<div class="media-body">
								<aside class="clearfix">
									<p><span class="pull-left">{{comment.user}}</span> <span class="pull-right">{{comment.created|date:"M d, Y g:i A"}} </span></p>
								</aside>
								<button class="btn btn-mini pull-right comment-editbutton" data-commentid="{{comment.id}}" data-commentuser="{{comment.user}}" data-commentcontent="{{comment.description}}"><i class="icon-edit"></i></button>
								<div class="comment-content">
									{{comment.description|markdown:"safe"}}
								</div>
							</div>
						</article>
					</li>
					{% endfor %}
				</ul>
			</aside>
		</div>
		<div id="issue-column-aside" class="span3">
			<aside id="issue-metainfo" class="well metainfo-show">
				<div class="pull-right">
					<button id="metainfo-toggle" class="btn btn-mini" type="button"><i class="icon-resize-small"></i></button>
				</div>
				<div id="issue-metainfo-content">
					<b>Issue Id:</b> {{issue.id}}<br>
					<b>Assigned To:</b> <a href="/auth/user/{{issue.assigned_to.id}}">{{issue.assigned_to}}</a><br/>
					<b>Meta Issue:</b> {{issue.meta_issues.title}}<br/>
					<!--
					<b>Project Name:</b> <a href="/project/{{issue.project.id}}">{{issue.project.name}}</a><br/>
					<b>State:</b> {{issue.state}}<br />
					<b>Projected Start:</b> {{issue.projected_start}}<br/>
					<b>Projected End:</b> {{issue.projected_end}}<br/>
					<b>Actual Start:</b> {{issue.actual_start}}<br />
					<b>Actual End:</b> {{issue.actual_end}}<br />-->
					<b>Date Reported:</b> {{issue.date_reported}}<br/>
					<b>Created:</b> {{issue.created}}<br/>
					<b>Modified:</b> {{issue.modified}}<br/>
					<b>View Type:</b> {{issue.view_type}}<br/>
					<b>Issue Type:</b> {{issue.issue_type}}<br/>
					<!--<b>Title:</b> {{issue.title}}<br/>
					<b>Link Slug:</b> {{issue.link_slug}}<br/>-->
					<b>Status:</b> {{issue.status}}<br/>
					<b>Criticality:</b> {{issue.criticality}}<br/>
					<b>Fixability:</b> {{issue.fixability}}<br/>
					<!--<b>R &amp; D:</b> {{issue.r_and_d}}<br/>
					<b>Feature:</b> {{issue.feature}}<br/>-->
					<b>OS:</b> {{issue.os}}<br/>
					<b>OS Version:</b> {{issue.os_version}}<br/>
					<b>Browser:</b> {{issue.browser}}<br/>
					<b>Browser Version:</b> {{issue.browser_version}}<br/>
					<!--<b>Screen Shot:</b> {{issue.screen_shot}}<br/>
					<b>Wireframe:</b> {{issue.wireframe}}<br/>
					<b>URI to Test:</b> {{issue.uri_to_test}}-->
					<b>Created By:</b> {{issue.created_by}}<br />
					<b>Modified By</b> {{issue.modified_by}}<br />
					<b>Point of Contact:</b> {{issue.point_of_contact}}<br />
					{% if related_issues %}
						<br><b>Related Issues</b> <br>
							<table id="relation_table">
								<tr>
									<th>
										Issue
									</th>
									<th>
										Relation
									</th>
								</tr>
							{% for issue_to_issue in related_issues %}
								<tr>
									<td>
										<a href="/issue/{{issue_to_issue.secondary_issue.id}}">{{issue_to_issue.secondary_issue.description}}</a>
									</td>
									<td>
										{{issue_to_issue.link_type}}
									</td>
									<td>
										<a onClick="unlink_issue('{{issue_to_issue.secondary_issue.id}}')">Unlink</a>
									</td>
								</tr>
							{% endfor %}
							</table>
					{% endif %}
				</div>
			</aside>
		</div>
	</div>

	<div id="modal-issue-fixed" class="modal fade hide">
		<header class="modal-header">
			<button class="close" data-dismiss="modal">×</button>
			<h3>Fixed Issue</h3>
		</header>
		<div class="modal-body">
			<form id="modal-issue-fixed-form" class="form-inline" action="/issue/set_bug_state" method="POST">
				{% csrf_token %}
				<input type="hidden" name="issue" id="id_issue" value="{{issue.id}}">
				<input type="hidden" name="user" id="id_user" value="{{user.id}}">
				<input type="hidden" name="status" value="fixed">
				{{comment_form.description}}
			</form>
		</div>
		<footer class="modal-footer">
			<button class="btn" data-dismiss="modal">Cancel</button>
			<button class="btn btn-primary" type="submit" form="modal-issue-fixed-form">Fix</button>
		</footer>
	</div>

	<div id="modal-issue-duplicate" class="modal fade hide">
		<header class="modal-header">
			<button class="close" data-dismiss="modal">×</button>
			<h3>Duplicate Issue</h3>
		</header>
		<div class="modal-body">
			<form class="form-inline">
				<label for="duplicate_issue_id">Duplicate Issue ID</label>
				<input type="text" id="duplicate_issue_id">
			</form>
		</div>
		<footer class="modal-footer">
			<button class="btn" data-dismiss="modal">Cancel</button>
			<button class="btn btn-primary">Duplicate</button>
		</footer>
	</div>

	<div id="modal-issue-related" class="modal fade hide">
		<header class="modal-header">
			<button class="close" data-dismiss="modal">×</button>
			<h3>Select Related Issue</h3>
		</header>
		<div class="modal-body">
			<form class="form-horizontal">
				<p>
					Current issue {{issue.id}} is a
					<select id="related_issue_id_type">
						<option value="duplicate">Duplicate</option>
						<option value="related">Related</option>
						<option value="child">Child</option>
						<option value="parent">Parent</option>
					</select>
					of Issue
				</p>

				<select name="related_issue_id">
				    {% for project_issue in project_issues%}
				        <option value="{{project_issue.id}}">{{project_issue.summary}}</option>
				    {% endfor %}
				</select>
			</form>
		</div>
		<footer class="modal-footer">
			<button class="btn" data-dismiss="modal">Cancel</button>
			<button class="btn btn-primary">Link</button>
		</footer>
	</div>

	<div id="modal-comment-edit" class="modal fade hide">
		<header class="modal-header">
			<button class="close" data-dismiss="modal">×</button>
			<h3>Edit Comment</h3>
		</header>
		<div class="modal-body">
			<div id="modal-comment-alert" class="alert alert-error hide">
				<strong>Uh-oh!!</strong> Well, there seems to have been a server-side error... Perhaps you should try again later?
			</div>
			<textarea id="modal-comment-textarea" rows="4" cols="250" style="width:95%">{{comment.description}}</textarea>
		</div>
		<footer class="modal-footer">
			<button class="btn" data-dismiss="modal">Cancel</button>
        	<button id="modal-comment-submit" class="btn btn-primary" type="button">Submit</button>
        </footer>
	</div>
{% endblock %}

{% block additionaljs %}
// <script> - commented out as only used in Sublime Text for syntax highlightling
	// Context menu - Status
	$('#context-issue-status .btn').click(function(){
		var btn = $(this),
			statusField = btn.siblings('select');

		switch (statusField.val()){
			case 'fixed':
				$('#modal-issue-fixed').modal();
				break;

			case 'duplicate':
				$('#modal-issue-duplicate').modal();
				break;

			default:
				$.ajax({
				    type: 'POST',
				    url: '/issue/set_bug_state',
				    data:{
				    	issue: '{{issue.id}}',
				    	status: statusField.val(),
						csrfmiddlewaretoken: '{{csrf_token}}'
				    },
				    success: function(data){
				    	AlertMessage.success(data.status);
				    },
				    error: AlertMessage.genericUnknownError
				});
				break;
		}

		return;
        var statusVal = $('#id_status').val();
        if( statusVal == "fixed"){

			$('#comment_title').text('Bug Fixed Comment');
			$('#id_description').focus();
            var submitComment = $('#submit_comment_button');
            $('<input type="hidden" name="status" value="fixed"></input>').insertBefore('#id_description')
            submitComment.val('Fix Bug');

			submitComment.unbind('click');
			$('#submit_comment_form').attr('action', '/issue/set_bug_state');

		}

		else if(statusVal == 'duplicate' ){
			if($('#link_issue_duplicate_popup').css('display') == "none"){
                    $('#link_issue_duplicate_popup').fadeToggle();
            }
		}

		else{
        	
    	}
	});

	// Context menu - Subscribee
	$('#context-issue-subscribe').asAjax( function(data, status) {
        if ( data.success ) {
            if ( data.is_subscribed ) {
                $(this).text('Unsubscribe');
                AlertMessage.success('Issue subscribed');
            }
            else {
                $(this).text('Subscribe');
                AlertMessage.success( 'Issue unsubscribed');
            }
        }
        else {
            AlertMessage.error('<strong>Subscribe error!</strong>' + data.error);
        }
    }, AlertMessage.genericUnknownError);

    // Context menu - Pin
    $('a.pin_issue').asAjax(function(data, status) {
        if ( data.success ) {
            if ( data.is_pinned ) {
                $(this).text('Unpin');
                AlertMessage.success('Issue pinned');
            }
            else {
                $(this).text('Pin');
                AlertMessage.success('Issue unpinned');
            }
        }
        else {
            AlertMessage.error('Pinning error: ' + data.error)
        }
    },AlertMessage.genericUnknownError);

	// Context menu - Assign (self)
	$('#context-issue-assign').asAjax(function(data){
		if ( data.success ) {
            if ( data.assigned_to == "self" ) {
                $(this).text( "Unassign" );
				AlertMessage.success('Issue now assigned to you.');
            }
            else if ( data.assigned_to == "none" ) {
                $(this).text( "Take" );
				AlertMessage.success('Issue unassigned.');
            }
            else if ( data.assigned_to == "user" ) {
                $(this).text( "Take" );
				AlertMessage.success('Issue successfully assigned.');
            }
        }
        else {
        	AlertMessage.error('<strong>Server Error!</strong> ' + data.error);
        }
	},AlertMessage.genericUnknownError);

	// Hides sidebar
	$("#metainfo-toggle").click(function(){
		var btn = $(this),
			icon = btn.children('i').first(),
			parent = $("#issue-metainfo"),
			mainColumn = $('#issue-column-main'),
			sideColumn = $('#issue-column-aside');

		if (parent.hasClass('metainfo-show')) {
			icon.removeClass('icon-resize-small').addClass('icon-resize-full');
			parent.removeClass('metainfo-show').addClass('metainfo-hide');
			mainColumn.removeClass('span9').addClass('span11');
			sideColumn.removeClass('span3').addClass('span1');
		}
		else {
			icon.removeClass('icon-resize-full').addClass('icon-resize-small');
			parent.removeClass('metainfo-hide').addClass('metainfo-show');
			mainColumn.removeClass('span11').addClass('span9');
			sideColumn.removeClass('span1').addClass('span3');
		}
	});

	// Edit Comment - hide/show edit button
	$('.issue-comment').on({
		mouseover: function(){
			var me = $(this);
			if (me.attr('data-commentuser') == '{{user}}') {
				me.addClass('show-editbutton');
			}
		},
		mouseout: function(){
			$(this).removeClass('show-editbutton');
		}
	});

	// Edit Comment - show edit form
	$('.comment-editbutton').click(function(){
		var btn = $(this),
			currentUser = '{{user}}',
			modalForm = $('#modal-comment-edit'),
			textArea = $('#modal-comment-textarea'),
			submitBtn = $('#modal-comment-submit'),
			alertMsg = $('#modal-comment-alert');

		alertMsg.hide();
		submitBtn.unbind('click');

		if (btn.attr('data-commentuser') == currentUser) {
			textArea.val(btn.attr('data-commentcontent'));
			submitBtn.click(function(){
				$.ajax({
					type:"POST",
					url:"/issue/edit_comment",
					data:{
						comment_id: btn.attr('data-commentid'),
						comment: textArea.val()
					},
					success: function(data){
						alertMsg.hide();
						AlertMessage.success('Comment successfully updated.',btn.siblings('.comment-content'));
						submitBtn.unbind('click');
						modalForm.modal('hide');
					},
					error: function(data){
						$('#modal-comment-alert').show();
					}
				});
			});
			modalForm.modal();
		}
	});
// </script>
{% endblock %}