{% extends "theme/base.html" %}
{% load markup %}

{% block context_nav %}
	<li><a href="/issue/new/{{issue.project.id}}">New Issue : {{issue.project.name}}</a></li>
	<li><a href="/issue/subscribe/{{issue.id}}">{% if subscribe == None%}Subscribe{% else %}Unsubscribe{% endif %}</a></li>
	<li><a href="/issue/pin/{{issue.id}}">{% if pin %}Unpin{% else %}Pin{% endif %}</a></li>
	<li><a href="/issue/assign/{{issue.id}}">{% if issue.assigned_to == user%}Unassign{% else %}Take{% endif %}</a></li>
	<li>
		<a>
			<form class="form-inline">
				<label for="assigned_user">Assign To:</label>
				<select name="assigned_user">
					{% for user in users %}
						<option value="{{user.id}}">{{user.username}}</option>
					{% endfor%}
				</select>
				<button type="submit" data-url="/issue/assign/{{ issue.id }}/">Assign</button>
			</form>
		</a>
	</a></li>
	<li>
		<a>
			<form class="form-inline">
				<label for="assigned_user" for="status">Status:</label>
				{{form.status}}
				<button type="submit">Set</button>
			</form>
		</a>
	</li>
	<li><a href="#" data-target="#modal-issue-related" role="button" data-toggle="modal">Set Related To...</a></li>
    <li><a href="/issue/{{issue.id}}/history">History</a></li>
	<li><a href="/issue/{{issue.id}}/edit">Edit</a></li>
{% endblock%}

{% block container %}

	<article class="row">
		<div id="issue-column-main" class="span9">
			<div id="issue-details" class="well">
				<div class="media">
					<div class="media-body">
						<h4 class="media-header">Summary</h4>
						{{issue.summary}}
					</div>
				</div>
				<div class="media">
					<div class="media-body">
						<h4 class="media-header">Description</h4>
						{{issue.description|markdown:"safe"}}
					</div>
				</div>
				{% if images %}
				<div class="media">
					<div class="media-body">
						<h4 class="media-header">Attached Images</h4>
						<ul class="thumbnails">
							{% for image in images %}
							<li class="span2">
								<a class="thumbnail"><img src="/static/{{image.screenshot}}"></a>
							</li>
							{% endfor %}
						</ul>
					</div>
				</div>
				{% endif %}
			</div>

			<aside id="issue-comments" class="well">
				<header>
					<h3>Comments</h3>
				</header>
				<div id="issue-comments-add">
					<form class="form-inline" action="/issue/comment/{{ issue.id }}" method="post">
						{% csrf_token %}
						<input type="hidden" name="issue" id="id_issue" value="{{issue.id}}">
						<input type="hidden" name="user" id="id_user" value="{{user.id}}">
						{% if comment_form.errors %}
						<div class="alert alert-block alert-error">
							{{comment_form.errors}}
						</div>
						{% endif %}
						<div class="control-group">
							<label class="control-label" for="id_description">Comment</label>
							<div class="control-group">
								{{comment_form.description}}
							</div>
						</div>
						<div class="form-actions">
	                    	<button class="btn btn-primary" type="submit">Submit</button>
	                    </div>
					</form>
				</div>
				<ul id="issue-comments-list" class="media-list">
					{% for comment in comments%}
					<li class="media">
						<article class="issue-comment">
							<div class="media-body">
								<aside class="clearfix">
									<p><span class="pull-left">{{comment.user}}</span> <span class="pull-right">{{comment.created|date:"M d, Y g:i A"}} </span></p>
								</aside>
								<div class="pull-right comment-editbutton">
									<button class="btn btn-mini" data-toggle="modal" data-target="#modal-comment-edit"><i class="icon-edit"></i></button>
								</div>
								<div class="comment-content">
									{{comment.description|markdown:"safe"}}
								</div>
							</div>
						</article>
					</li>
					{% endfor %}
				</ul>
			</aside>
		</div>
		<div id="issue-column-aside" class="span3">
			<aside id="issue-metainfo" class="well metainfo-show">
				<div class="pull-right">
					<button id="metainfo-toggle" class="btn btn-mini" type="button"><i class="icon-resize-small"></i></button>
				</div>
				<div id="issue-metainfo-content">
					<b>Issue Id:</b> {{issue.id}}<br>
					<b>Assigned To:</b> <a href="/auth/user/{{issue.assigned_to.id}}">{{issue.assigned_to}}</a><br/>
					<b>Meta Issue:</b> {{issue.meta_issues.title}}<br/>
					<!--
					<b>Project Name:</b> <a href="/project/{{issue.project.id}}">{{issue.project.name}}</a><br/>
					<b>State:</b> {{issue.state}}<br />
					<b>Projected Start:</b> {{issue.projected_start}}<br/>
					<b>Projected End:</b> {{issue.projected_end}}<br/>
					<b>Actual Start:</b> {{issue.actual_start}}<br />
					<b>Actual End:</b> {{issue.actual_end}}<br />-->
					<b>Date Reported:</b> {{issue.date_reported}}<br/>
					<b>Created:</b> {{issue.created}}<br/>
					<b>Modified:</b> {{issue.modified}}<br/>
					<b>View Type:</b> {{issue.view_type}}<br/>
					<b>Issue Type:</b> {{issue.issue_type}}<br/>
					<!--<b>Title:</b> {{issue.title}}<br/>
					<b>Link Slug:</b> {{issue.link_slug}}<br/>-->
					<b>Status:</b> {{issue.status}}<br/>
					<b>Criticality:</b> {{issue.criticality}}<br/>
					<b>Fixability:</b> {{issue.fixability}}<br/>
					<!--<b>R &amp; D:</b> {{issue.r_and_d}}<br/>
					<b>Feature:</b> {{issue.feature}}<br/>-->
					<b>OS:</b> {{issue.os}}<br/>
					<b>OS Version:</b> {{issue.os_version}}<br/>
					<b>Browser:</b> {{issue.browser}}<br/>
					<b>Browser Version:</b> {{issue.browser_version}}<br/>
					<!--<b>Screen Shot:</b> {{issue.screen_shot}}<br/>
					<b>Wireframe:</b> {{issue.wireframe}}<br/>
					<b>URI to Test:</b> {{issue.uri_to_test}}-->
					<b>Created By:</b> {{issue.created_by}}<br />
					<b>Modified By</b> {{issue.modified_by}}<br />
					<b>Point of Contact:</b> {{issue.point_of_contact}}<br />
					{% if related_issues %}
						<br><b>Related Issues</b> <br>
							<table id="relation_table">
								<tr>
									<th>
										Issue
									</th>
									<th>
										Relation
									</th>
								</tr>
							{% for issue_to_issue in related_issues %}
								<tr>
									<td>
										<a href="/issue/{{issue_to_issue.secondary_issue.id}}">{{issue_to_issue.secondary_issue.description}}</a>
									</td>
									<td>
										{{issue_to_issue.link_type}}
									</td>
									<td>
										<a onClick="unlink_issue('{{issue_to_issue.secondary_issue.id}}')">Unlink</a>
									</td>
								</tr>
							{% endfor %}
							</table>
					{% endif %}
				</div>
			</aside>
		</div>
	</div>

	<div id="modal-issue-duplicate" class="modal fade hide">
		<header class="modal-header">
			<button class="close" data-dismiss="modal">×</button>
			<h3>Duplicate Issue</h3>
		</header>
		<div class="modal-body">
			<form class="form-inline">
				<label for="duplicate_issue_id">Duplicate Issue ID</label>
				<input type="text" id="duplicate_issue_id">
			</form>
		</div>
		<footer class="modal-footer">
			<button class="btn" data-dismiss="modal">Cancel</button>
			<button class="btn btn-primary">Link</button>
		</footer>
	</div>

	<div id="modal-issue-related" class="modal fade hide">
		<header class="modal-header">
			<button class="close" data-dismiss="modal">×</button>
			<h3>Select Related Issue</h3>
		</header>
		<div class="modal-body">
			<form class="form-horizontal">
				<p>
					Current issue {{issue.id}} is a
					<select id="related_issue_id_type">
						<option value="duplicate">Duplicate</option>
						<option value="related">Related</option>
						<option value="child">Child</option>
						<option value="parent">Parent</option>
					</select>
					of Issue
				</p>

				<select  name="related_issue_id">
				    {% for project_issue in project_issues%}
				        <option value="{{project_issue.id}}">{{project_issue.summary}}</option>
				    {% endfor %}
				</select>
			</form>
		</div>
		<footer class="modal-footer">
			<button class="btn" data-dismiss="modal">Cancel</button>
			<button class="btn btn-primary">Link</button>
		</footer>
	</div>

	<div id="modal-comment-edit" class="modal fade hide">
		<header class="modal-header">
			<button class="close" data-dismiss="modal">×</button>
			<h3>Edit Comment</h3>
		</header>
		<div class="modal-body">
			<textarea rows="4" cols="250">{{comment.description}}</textarea>
		</div>
		<footer class="modal-footer">
			<button class="btn" data-dismiss="modal">Cancel</button>
        	<button class="btn btn-primary" type="button">Submit</button>
        </footer>
	</div>
{% endblock %}

{% block additionaljs %}
	$("#metainfo-toggle").click(function(){
		var btn = $(this),
			icon = btn.children('i').first(),
			parent = $("#issue-metainfo"),
			mainColumn = $('#issue-column-main'),
			sideColumn = $('#issue-column-aside');

		if (parent.hasClass('metainfo-show')) {
			icon.removeClass('icon-resize-small').addClass('icon-resize-full');
			parent.removeClass('metainfo-show').addClass('metainfo-hide');
			mainColumn.removeClass('span9').addClass('span11');
			sideColumn.removeClass('span3').addClass('span1');
		}
		else {
			icon.removeClass('icon-resize-full').addClass('icon-resize-small');
			parent.removeClass('metainfo-hide').addClass('metainfo-show');
			mainColumn.removeClass('span11').addClass('span9');
			sideColumn.removeClass('span1').addClass('span3');
		}
	});
{% endblock %}