{% extends "test_templates/test_report_base.html" %}

{% block spiffy_box_right %}
    <ul>
        <li>Basic Info</li>
        <li>Some Other</li>
        <li>Tag Or Some Type</li>
        <li>Of Information That You</li>
        <li>want handy!</li>
    </ul>
{% endblock %}
{% block container %}
    <h1>Some Title Of Something <span>;)</span></h1>
            <p>Sorry, but the Princess you were trying to view does not exist in this castle.</p>
            <p>It looks like this was the result of either:</p>
            <ul>
                <li>a mistyped address</li>
                <li>an out-of-date link</li>
                <li>Bowser winning</li>
            </ul>
        </div>
{% endblock %}
{% block container_bottom_clear %}
<div>
    <ul>
        <li>Comment: Stuff Blah Here We Can Be Something Something Darkside</li>
        <li>Comment: Something Darkside Stuff Blah Here We Can Be Something </li>
        <li>Comment: Can Be Something Stuff Blah Here We Something Darkside</li>
    </ul>
</div>
{% endblock %}