<!DOCTYPE HTML>
<html>
    <head>
        <style>
            body{
                margin: 0px;
                padding: 0px;
            }
        </style>
    </head>
    <body>
        <div id = "container"> </div>
         <script src="http://d3lp1msu2r81bx.cloudfront.net/kjs/js/lib/kinetic-v4.4.0.min.js"></script>
          <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
         <script>
         //Set variables for future calculations
            var tooltipInfo = [{"x":400,"y":500,"text": "THIS IS A BUG"}, {"x":200,"y":200,"text": "THIS IS ANOTHER BUG"}]
            var imageWidth = 1920;
            var imageHeight = 1080;
            var tooltipXPos = 400;
            var tooltipYPos = 500;
            var tooltipWidth = 200;
            var tooltipHeight = 200;
            var tooltipText = "THIS IS A BUG BLAH BLAH BLAH BLAH BLAH";
            var imageObj = new Image();
            imageObj.onload = function() {
                var bgImage = new Kinetic.Image({
                    image: imageObj,
                    width: imageWidth,
                    height: imageHeight,
                    id: 'backgroundImage',
                  });
                bgImage.on('mousedown', function(){
                var mousePos = stage.getMousePosition();
                var x = mousePos.x ;
                var y = mousePos.y ;
                $('body').append('<p>X: ' + x + ' Y: ' + y + '</p>'); 
                });

                var stage = new Kinetic.Stage({
                    container: 'container',
                    width: imageWidth,
                    height: imageHeight,
                });
                var shapesLayer = new Kinetic.Layer();
                var messageLayer = new Kinetic.Layer();
                shapesLayer.add(bgImage);

                for (var i=0;i<tooltipInfo.length;i++){
                    var circleID = "circle" + i;
                    var tooltipID = "tooltip" + i;
                    console.log(circleID);
                    console.log(tooltipID);
                    var tooltip = new Kinetic.Label({
                        x: tooltipInfo[i]["x"] + 15,
                        y: tooltipInfo[i]["y"],
                        opacity: 0.75,
                        listening: false,
                        visible: true,
                        id: tooltipID,
                        rect:{
                            fill: 'black',
                            pointerDirection: 'left',
                            pointerWidth: 10,
                            pointerHeight: 10,
                            lineJoin: 'round',
                            shadowColor: 'black',
                            shadowBlur: 10,
                            shadowOffset: 10,
                            shadowOpacity: 0.5,
                            }
                    });

                    var circle = new Kinetic.Circle({
                        x: tooltipInfo[i]["x"],
                        y: tooltipInfo[i]["y"],
                        radius: 5,
                        fill: '#00d2ff',
                        stroke: 'black',
                        strokeWidth: 2,
                        id: circleID,
                    });

                    shapesLayer.on('click', function(evt) {
                    // get the shape that was clicked on
                    var shape = evt.targetNode;
                    alert('you clicked on \"' + shape.getId() + '\"');
                    });
/*                    
                    circle.on('mouseover', function(){
                        document.body.style.cursor = 'pointer';
                    });
                    circle.on('mouseout', function(){
                        document.body.style.cursor = 'default';
                    });

                    circle.on('mousedown', function(){
                        if (tooltip.isVisible()){
                            tooltip.hide();
                            shapesLayer.draw();
                            $('#tooltip0').css('visibility', 'hidden');

                        }else{
                            tooltip.show();
                            shapesLayer.draw();
                            $('#' + tooltip).css('visibility', 'visible');
                        }; 
                    });
*/                    
                    shapesLayer.add(circle);
                    shapesLayer.add(tooltip);
                    $('body').append("<div id = 'tooltip" + i + "' style = 'width: " + tooltipWidth +"px; height: " + tooltipHeight + "px; position: absolute; top: " + (tooltipInfo[i]["y"] - (tooltipHeight / 4)) + "px; left: " + (tooltipInfo[i]["x"] + 25) + "px; background-color: black; opacity: 0.9; visibility: visible;'><p style = 'color: grey; text-align: center'>" + tooltipText + "</p></div>");
                };
                stage.add(shapesLayer);

             };
            imageObj.src = '/static/img/screenshot.png';

         </script>

             
    </body>
</html>