<!doctype html>
<html>
<head>
  <title>Solari</title>
</head>
<body>
	<div id="container"></div>
  <script src="lib/underscore.js"></script>
  <script src="lib/Three.js"></script>
  <script src="lib/stats.js"></script>
  <script src="lib/events.js"></script>
  <script src="src/SolariTexture.js"></script>
  <script src="src/SolariRow.js"></script>
  <script src="src/SolariFlap.js"></script>
  <script src="src/Solari.js"></script>

  <style>
  *{
    margin:0;
    padding:0;
    overflow:hidden;
  }
  body{
    background:#111;
  }
  </style>
  <div style="display:none;">
<?xml version="1.0" encoding="UTF-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xmlns:media="http://search.yahoo.com/mrss/" xml:lang="en-US">
  <id>tag:github.com,2008:/tekton/DocuCanvas/commits/master</id>
  <link type="text/html" rel="alternate" href="https://github.com/tekton/DocuCanvas/commits/master"/>
  <link type="application/atom+xml" rel="self" href="https://github.com/tekton/DocuCanvas/commits/master.atom"/>
  <title>Recent Commits to DocuCanvas:master</title>
  <updated>2013-04-12T14:11:47-07:00</updated>
  <entry>
    <id>tag:github.com,2008:Grit::Commit/98203f104a9e17030c7c443060b46cdab5a4e0ac</id>
    <link type="text/html" rel="alternate" href="https://github.com/tekton/DocuCanvas/commit/98203f104a9e17030c7c443060b46cdab5a4e0ac"/>
    <title>
        adding more checklist functionality
    </title>
    <updated>2013-04-12T14:11:47-07:00</updated>
    <media:thumbnail height="30" width="30" url="https://secure.gravatar.com/avatar/8ed6b83343b2ad1e597ab0fdc1af0903?s=30&amp;d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png"/>
    <author>
      <name></name>
      <email>jason@jason.(none)</email>
    </author>
    <content type="html">
      &lt;pre>m checklists/urls.py
m checklists/views.py
m templates/checklists/checklist_edit.html
m templates/checklists/checklists.html
&lt;/pre>
      &lt;pre style='white-space:pre-wrap;width:81ex'>adding more checklist functionality&lt;/pre>
    </content>
  </entry>
  <entry>
    <id>tag:github.com,2008:Grit::Commit/1d32e612278eb5415e280c2b6ceb31ec1a6d63f9</id>
    <link type="text/html" rel="alternate" href="https://github.com/tekton/DocuCanvas/commit/1d32e612278eb5415e280c2b6ceb31ec1a6d63f9"/>
    <title>
        Merge branch &#39;master&#39; of https://github.com/tekton/DocuCanvas
    </title>
    <updated>2013-04-12T13:35:45-07:00</updated>
    <media:thumbnail height="30" width="30" url="https://secure.gravatar.com/avatar/8ed6b83343b2ad1e597ab0fdc1af0903?s=30&amp;d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png"/>
    <author>
      <name></name>
      <email>jason@jason.(none)</email>
    </author>
    <content type="html">
      &lt;pre>+ issues/customfields.py
m issues/forms.py
m issues/urls.py
m issues/views.py
+ static/css/advsearch.css
+ static/scripts/advsearch.js
m templates/base.html
m templates/base_issues.html
+ templates/issues/issue_adv_search.html
m templates/issues/issue_edit.html
&lt;/pre>
      &lt;pre style='white-space:pre-wrap;width:81ex'>Merge branch &#39;master&#39; of https://github.com/tekton/DocuCanvas&lt;/pre>
    </content>
  </entry>
  <entry>
    <id>tag:github.com,2008:Grit::Commit/2de794010c1b3d4596aaea05612369e806a73bd9</id>
    <link type="text/html" rel="alternate" href="https://github.com/tekton/DocuCanvas/commit/2de794010c1b3d4596aaea05612369e806a73bd9"/>
    <title>
        adding more functionality to checlists
    </title>
    <updated>2013-04-12T13:35:18-07:00</updated>
    <media:thumbnail height="30" width="30" url="https://secure.gravatar.com/avatar/8ed6b83343b2ad1e597ab0fdc1af0903?s=30&amp;d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png"/>
    <author>
      <name></name>
      <email>jason@jason.(none)</email>
    </author>
    <content type="html">
      &lt;pre>m checklists/models.py
m checklists/urls.py
m checklists/views.py
m templates/checklists/checklist_overview.html
+ templates/checklists/checklists.html
&lt;/pre>
      &lt;pre style='white-space:pre-wrap;width:81ex'>adding more functionality to checlists&lt;/pre>
    </content>
  </entry>
  <entry>
    <id>tag:github.com,2008:Grit::Commit/1dbe1364605d72c5b06de75f84e8232447cc3793</id>
    <link type="text/html" rel="alternate" href="https://github.com/tekton/DocuCanvas/commit/1dbe1364605d72c5b06de75f84e8232447cc3793"/>
    <title>
        updated advanced search link in nav
    </title>
    <updated>2013-04-12T11:27:52-07:00</updated>
    <media:thumbnail height="30" width="30" url="https://secure.gravatar.com/avatar/9603a5e8b3083ed9b28085871bb395b5?s=30&amp;d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png"/>
    <author>
      <name>samfahmie</name>
      <uri>https://github.com/samfahmie</uri>
    </author>
    <content type="html">
      &lt;pre>m templates/base.html
m templates/base_issues.html
&lt;/pre>
      &lt;pre style='white-space:pre-wrap;width:81ex'>updated advanced search link in nav&lt;/pre>
    </content>
  </entry>
  <entry>
    <id>tag:github.com,2008:Grit::Commit/28b309c90caed2ea3351d631149c2bfe76538d42</id>
    <link type="text/html" rel="alternate" href="https://github.com/tekton/DocuCanvas/commit/28b309c90caed2ea3351d631149c2bfe76538d42"/>
    <title>
        Merge branch &#39;dev&#39;
    </title>
    <updated>2013-04-12T11:18:05-07:00</updated>
    <media:thumbnail height="30" width="30" url="https://secure.gravatar.com/avatar/9603a5e8b3083ed9b28085871bb395b5?s=30&amp;d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png"/>
    <author>
      <name>samfahmie</name>
      <uri>https://github.com/samfahmie</uri>
    </author>
    <content type="html">
      &lt;pre>+ issues/customfields.py
m issues/forms.py
m issues/urls.py
m issues/views.py
+ static/css/advsearch.css
+ static/scripts/advsearch.js
+ templates/issues/issue_adv_search.html
m templates/issues/issue_edit.html
&lt;/pre>
      &lt;pre style='white-space:pre-wrap;width:81ex'>Merge branch &#39;dev&#39;&lt;/pre>
    </content>
  </entry>
  <entry>
    <id>tag:github.com,2008:Grit::Commit/918eca19272419ee72a6c8d4f13e34a59f8055db</id>
    <link type="text/html" rel="alternate" href="https://github.com/tekton/DocuCanvas/commit/918eca19272419ee72a6c8d4f13e34a59f8055db"/>
    <title>
        Advanced search works
    </title>
    <updated>2013-04-12T11:16:57-07:00</updated>
    <media:thumbnail height="30" width="30" url="https://secure.gravatar.com/avatar/9603a5e8b3083ed9b28085871bb395b5?s=30&amp;d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png"/>
    <author>
      <name>samfahmie</name>
      <uri>https://github.com/samfahmie</uri>
    </author>
    <content type="html">
      &lt;pre>m issues/forms.py
m issues/views.py
m static/scripts/advsearch.js
&lt;/pre>
      &lt;pre style='white-space:pre-wrap;width:81ex'>Advanced search works&lt;/pre>
    </content>
  </entry>
  <entry>
    <id>tag:github.com,2008:Grit::Commit/bb959da2c21c7eef81f1bc53260df18f33f6230f</id>
    <link type="text/html" rel="alternate" href="https://github.com/tekton/DocuCanvas/commit/bb959da2c21c7eef81f1bc53260df18f33f6230f"/>
    <title>
        Form object based adv search form perfected
    </title>
    <updated>2013-04-12T10:41:05-07:00</updated>
    <media:thumbnail height="30" width="30" url="https://secure.gravatar.com/avatar/9603a5e8b3083ed9b28085871bb395b5?s=30&amp;d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png"/>
    <author>
      <name>samfahmie</name>
      <uri>https://github.com/samfahmie</uri>
    </author>
    <content type="html">
      &lt;pre>+ issues/customfields.py
m issues/forms.py
m issues/views.py
m static/scripts/advsearch.js
m templates/issues/issue_adv_search.html
&lt;/pre>
      &lt;pre style='white-space:pre-wrap;width:81ex'>Form object based adv search form perfected&lt;/pre>
    </content>
  </entry>
  <entry>
    <id>tag:github.com,2008:Grit::Commit/a319f152c058e05f119368ab41b2f24229edf96c</id>
    <link type="text/html" rel="alternate" href="https://github.com/tekton/DocuCanvas/commit/a319f152c058e05f119368ab41b2f24229edf96c"/>
    <title>
        modified models.py
    </title>
    <updated>2013-04-12T09:45:58-07:00</updated>
    <media:thumbnail height="30" width="30" url="https://secure.gravatar.com/avatar/bd1712590b6eb3db5cfb6c72b0da98a8?s=30&amp;d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png"/>
    <author>
      <name>Senate5000</name>
      <uri>https://github.com/Senate5000</uri>
    </author>
    <content type="html">
      &lt;pre>m boards/models.py
&lt;/pre>
      &lt;pre style='white-space:pre-wrap;width:81ex'>modified models.py&lt;/pre>
    </content>
  </entry>
  <entry>
    <id>tag:github.com,2008:Grit::Commit/b660466ddae0624b2381f2c325adb20daac770ed</id>
    <link type="text/html" rel="alternate" href="https://github.com/tekton/DocuCanvas/commit/b660466ddae0624b2381f2c325adb20daac770ed"/>
    <title>
        Merge branch &#39;master&#39; into dev
    </title>
    <updated>2013-04-11T18:38:52-07:00</updated>
    <media:thumbnail height="30" width="30" url="https://secure.gravatar.com/avatar/9603a5e8b3083ed9b28085871bb395b5?s=30&amp;d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png"/>
    <author>
      <name>samfahmie</name>
      <uri>https://github.com/samfahmie</uri>
    </author>
    <content type="html">
      &lt;pre>m DocuCanvas/settings.py
m DocuCanvas/urls.py
m boards/forms.py
m boards/models.py
m boards/urls.py
m boards/views.py
+ checklists/__init__.py
+ checklists/admin.py
+ checklists/forms.py
+ checklists/migrations/0001_initial.py
+ checklists/migrations/0002_auto__add_field_checklist_name.py
+ checklists/migrations/0003_auto__add_checklistlayoutitems.py
+ checklists/migrations/0004_auto__del_field_checklist_layout.py
+ checklists/migrations/__init__.py
+ checklists/models.py
+ checklists/urls.py
+ checklists/views.py
m dashboard/views.py
m nodes/admin.py
+ static/css/dashboard.css
+ static/css/images/animated-overlay.gif
+ static/css/images/ui-bg_flat_0_aaaaaa_40x100.png
+ static/css/images/ui-bg_flat_75_ffffff_40x100.png
+ static/css/images/ui-bg_glass_55_fbf9ee_1x400.png
+ static/css/images/ui-bg_glass_65_ffffff_1x400.png
+ static/css/images/ui-bg_glass_75_dadada_1x400.png
+ static/css/images/ui-bg_glass_75_e6e6e6_1x400.png
+ static/css/images/ui-bg_glass_95_fef1ec_1x400.png
+ static/css/images/ui-bg_highlight-soft_75_cccccc_1x100.png
+ static/css/images/ui-icons_222222_256x240.png
+ static/css/images/ui-icons_2e83ff_256x240.png
+ static/css/images/ui-icons_454545_256x240.png
+ static/css/images/ui-icons_888888_256x240.png
+ static/css/images/ui-icons_cd0a0a_256x240.png
+ static/css/jquery-ui.css
+ static/img/screenshot.png
+ static/scripts/daily_reports.js
+ static/scripts/jquery-ui.min.js
+ static/scripts/jquery.min.js
+ static/scripts/vendor/jquery.js
+ static/scripts/vendor/jquery.ui.js
m templates/base.html
m templates/base_issues.html
+ templates/boards/boards.html
+ templates/boards/index.html
+ templates/checklists/checklist_edit.html
+ templates/checklists/checklist_form.html
+ templates/checklists/checklist_overview.html
m templates/dashboard.html
m templates/issues/issue_overview.html
m templates/projects/project_overview.html
&lt;/pre>
      &lt;pre style='white-space:pre-wrap;width:81ex'>Merge branch &#39;master&#39; into dev&lt;/pre>
    </content>
  </entry>
  <entry>
    <id>tag:github.com,2008:Grit::Commit/deaaafa64db1c3f41e77acfec10e5edd767f805f</id>
    <link type="text/html" rel="alternate" href="https://github.com/tekton/DocuCanvas/commit/deaaafa64db1c3f41e77acfec10e5edd767f805f"/>
    <title>
        Adv search form functionality hooked up with form object
    </title>
    <updated>2013-04-11T18:38:13-07:00</updated>
    <media:thumbnail height="30" width="30" url="https://secure.gravatar.com/avatar/9603a5e8b3083ed9b28085871bb395b5?s=30&amp;d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png"/>
    <author>
      <name>samfahmie</name>
      <uri>https://github.com/samfahmie</uri>
    </author>
    <content type="html">
      &lt;pre>m issues/forms.py
m issues/urls.py
m issues/views.py
+ static/css/advsearch.css
+ static/scripts/advsearch.js
+ templates/issues/issue_adv_search.html
m templates/issues/issue_edit.html
&lt;/pre>
      &lt;pre style='white-space:pre-wrap;width:81ex'>Adv search form functionality hooked up with form object&lt;/pre>
    </content>
  </entry>
  <entry>
    <id>tag:github.com,2008:Grit::Commit/38faee95992dd4aed50f7a62fc8a30e57710d21a</id>
    <link type="text/html" rel="alternate" href="https://github.com/tekton/DocuCanvas/commit/38faee95992dd4aed50f7a62fc8a30e57710d21a"/>
    <title>
        Merge branch &#39;master&#39; of http://github.com/tekton/DocuCanvas
    </title>
    <updated>2013-04-11T18:19:00-07:00</updated>
    <media:thumbnail height="30" width="30" url="https://secure.gravatar.com/avatar/986f8d4ca755d9367a6fc200317660c4?s=30&amp;d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png"/>
    <author>
      <name></name>
      <email>siid@siid-VirtualBox.(none)</email>
    </author>
    <content type="html">
      &lt;pre>m checklists/forms.py
m checklists/urls.py
m checklists/views.py
m templates/checklists/checklist_form.html
+ templates/checklists/checklist_overview.html
&lt;/pre>
      &lt;pre style='white-space:pre-wrap;width:81ex'>Merge branch &#39;master&#39; of http://github.com/tekton/DocuCanvas&lt;/pre>
    </content>
  </entry>
  <entry>
    <id>tag:github.com,2008:Grit::Commit/8f353256e93a25d4718871fe22f476d859a1a4a1</id>
    <link type="text/html" rel="alternate" href="https://github.com/tekton/DocuCanvas/commit/8f353256e93a25d4718871fe22f476d859a1a4a1"/>
    <title>
        adding template
    </title>
    <updated>2013-04-11T18:18:35-07:00</updated>
    <media:thumbnail height="30" width="30" url="https://secure.gravatar.com/avatar/986f8d4ca755d9367a6fc200317660c4?s=30&amp;d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png"/>
    <author>
      <name></name>
      <email>siid@siid-VirtualBox.(none)</email>
    </author>
    <content type="html">
      &lt;pre>+ templates/boards/boards.html
&lt;/pre>
      &lt;pre style='white-space:pre-wrap;width:81ex'>adding template&lt;/pre>
    </content>
  </entry>
  <entry>
    <id>tag:github.com,2008:Grit::Commit/10524db48706289c8a3222323d0eb4adaaf27fac</id>
    <link type="text/html" rel="alternate" href="https://github.com/tekton/DocuCanvas/commit/10524db48706289c8a3222323d0eb4adaaf27fac"/>
    <title>
        modified canvas functionality
    </title>
    <updated>2013-04-11T18:17:34-07:00</updated>
    <media:thumbnail height="30" width="30" url="https://secure.gravatar.com/avatar/986f8d4ca755d9367a6fc200317660c4?s=30&amp;d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png"/>
    <author>
      <name></name>
      <email>siid@siid-VirtualBox.(none)</email>
    </author>
    <content type="html">
      &lt;pre>m DocuCanvas/settings.py
m boards/forms.py
m boards/models.py
m boards/urls.py
m boards/views.py
+ static/css/dashboard.css
+ static/css/images/animated-overlay.gif
+ static/css/images/ui-bg_flat_0_aaaaaa_40x100.png
+ static/css/images/ui-bg_flat_75_ffffff_40x100.png
+ static/css/images/ui-bg_glass_55_fbf9ee_1x400.png
+ static/css/images/ui-bg_glass_65_ffffff_1x400.png
+ static/css/images/ui-bg_glass_75_dadada_1x400.png
+ static/css/images/ui-bg_glass_75_e6e6e6_1x400.png
+ static/css/images/ui-bg_glass_95_fef1ec_1x400.png
+ static/css/images/ui-bg_highlight-soft_75_cccccc_1x100.png
+ static/css/images/ui-icons_222222_256x240.png
+ static/css/images/ui-icons_2e83ff_256x240.png
+ static/css/images/ui-icons_454545_256x240.png
+ static/css/images/ui-icons_888888_256x240.png
+ static/css/images/ui-icons_cd0a0a_256x240.png
+ static/css/jquery-ui.css
+ static/img/screenshot.png
+ static/scripts/daily_reports.js
+ static/scripts/jquery-ui.min.js
+ static/scripts/jquery.min.js
+ static/scripts/vendor/jquery.js
+ static/scripts/vendor/jquery.ui.js
+ templates/boards/index.html
&lt;/pre>
      &lt;pre style='white-space:pre-wrap;width:81ex'>modified canvas functionality&lt;/pre>
    </content>
  </entry>
  <entry>
    <id>tag:github.com,2008:Grit::Commit/0db21fb510ec271448dff08daa8222eabc8ecc20</id>
    <link type="text/html" rel="alternate" href="https://github.com/tekton/DocuCanvas/commit/0db21fb510ec271448dff08daa8222eabc8ecc20"/>
    <title>
        Refactored navigation menu code; clicking form buttons in nav menu now hides the menu on success
    </title>
    <updated>2013-04-11T18:04:26-07:00</updated>
    <media:thumbnail height="30" width="30" url="https://secure.gravatar.com/avatar/54f00aa984fef7189f15d2dfce2fd289?s=30&amp;d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png"/>
    <author>
      <name>wjmazza</name>
      <uri>https://github.com/wjmazza</uri>
    </author>
    <content type="html">
      &lt;pre>m templates/base.html
m templates/base_issues.html
m templates/issues/issue_overview.html
&lt;/pre>
      &lt;pre style='white-space:pre-wrap;width:81ex'>Refactored navigation menu code; clicking form buttons in nav menu now hides the menu on success&lt;/pre>
    </content>
  </entry>
  <entry>
    <id>tag:github.com,2008:Grit::Commit/3607a4b747e541f0aa43b1a71d7f7e06792b3d45</id>
    <link type="text/html" rel="alternate" href="https://github.com/tekton/DocuCanvas/commit/3607a4b747e541f0aa43b1a71d7f7e06792b3d45"/>
    <title>
        minor css tweaks
    </title>
    <updated>2013-04-11T17:06:26-07:00</updated>
    <media:thumbnail height="30" width="30" url="https://secure.gravatar.com/avatar/54f00aa984fef7189f15d2dfce2fd289?s=30&amp;d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png"/>
    <author>
      <name>wjmazza</name>
      <uri>https://github.com/wjmazza</uri>
    </author>
    <content type="html">
      &lt;pre>m templates/base.html
m templates/base_issues.html
m templates/projects/project_overview.html
&lt;/pre>
      &lt;pre style='white-space:pre-wrap;width:81ex'>minor css tweaks&lt;/pre>
    </content>
  </entry>
  <entry>
    <id>tag:github.com,2008:Grit::Commit/8bf68d424cd803816f8a70e174a70cd9d51f9057</id>
    <link type="text/html" rel="alternate" href="https://github.com/tekton/DocuCanvas/commit/8bf68d424cd803816f8a70e174a70cd9d51f9057"/>
    <title>
        Merge branch &#39;master&#39; of https://github.com/tekton/DocuCanvas
    </title>
    <updated>2013-04-11T16:19:02-07:00</updated>
    <media:thumbnail height="30" width="30" url="https://secure.gravatar.com/avatar/54f00aa984fef7189f15d2dfce2fd289?s=30&amp;d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png"/>
    <author>
      <name>wjmazza</name>
      <uri>https://github.com/wjmazza</uri>
    </author>
    <content type="html">
      &lt;pre>m checklists/forms.py
+ checklists/migrations/0004_auto__del_field_checklist_layout.py
m checklists/models.py
m checklists/urls.py
m checklists/views.py
m templates/checklists/checklist_form.html
&lt;/pre>
      &lt;pre style='white-space:pre-wrap;width:81ex'>Merge branch &#39;master&#39; of https://github.com/tekton/DocuCanvas&lt;/pre>
    </content>
  </entry>
  <entry>
    <id>tag:github.com,2008:Grit::Commit/23688275d285ae41bcae2a5f97e1363eca4a901e</id>
    <link type="text/html" rel="alternate" href="https://github.com/tekton/DocuCanvas/commit/23688275d285ae41bcae2a5f97e1363eca4a901e"/>
    <title>
        sync&#39;d css and js between base.html and base_issues.html; removed top and bottom margins of page layout
    </title>
    <updated>2013-04-11T16:18:42-07:00</updated>
    <media:thumbnail height="30" width="30" url="https://secure.gravatar.com/avatar/54f00aa984fef7189f15d2dfce2fd289?s=30&amp;d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png"/>
    <author>
      <name>wjmazza</name>
      <uri>https://github.com/wjmazza</uri>
    </author>
    <content type="html">
      &lt;pre>m templates/base.html
m templates/base_issues.html
&lt;/pre>
      &lt;pre style='white-space:pre-wrap;width:81ex'>sync&#39;d css and js between base.html and base_issues.html; removed top and bottom margins of page layout&lt;/pre>
    </content>
  </entry>
  <entry>
    <id>tag:github.com,2008:Grit::Commit/3d32c98657cf74f5702438877a22b3b5c913e262</id>
    <link type="text/html" rel="alternate" href="https://github.com/tekton/DocuCanvas/commit/3d32c98657cf74f5702438877a22b3b5c913e262"/>
    <title>
        added delay timer to nav menu
    </title>
    <updated>2013-04-11T15:48:01-07:00</updated>
    <media:thumbnail height="30" width="30" url="https://secure.gravatar.com/avatar/54f00aa984fef7189f15d2dfce2fd289?s=30&amp;d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png"/>
    <author>
      <name>wjmazza</name>
      <uri>https://github.com/wjmazza</uri>
    </author>
    <content type="html">
      &lt;pre>m templates/base_issues.html
&lt;/pre>
      &lt;pre style='white-space:pre-wrap;width:81ex'>added delay timer to nav menu&lt;/pre>
    </content>
  </entry>
  <entry>
    <id>tag:github.com,2008:Grit::Commit/48239a8fb8424e0e07ed40e123d58384e8c148b8</id>
    <link type="text/html" rel="alternate" href="https://github.com/tekton/DocuCanvas/commit/48239a8fb8424e0e07ed40e123d58384e8c148b8"/>
    <title>
        Merge branch &#39;master&#39; of https://github.com/tekton/DocuCanvas
    </title>
    <updated>2013-04-11T15:22:41-07:00</updated>
    <media:thumbnail height="30" width="30" url="https://secure.gravatar.com/avatar/54f00aa984fef7189f15d2dfce2fd289?s=30&amp;d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png"/>
    <author>
      <name>wjmazza</name>
      <uri>https://github.com/wjmazza</uri>
    </author>
    <content type="html">
      &lt;pre>m DocuCanvas/settings.py
m DocuCanvas/urls.py
+ checklists/__init__.py
+ checklists/admin.py
+ checklists/forms.py
+ checklists/migrations/0001_initial.py
+ checklists/migrations/0002_auto__add_field_checklist_name.py
+ checklists/migrations/0003_auto__add_checklistlayoutitems.py
+ checklists/migrations/__init__.py
+ checklists/models.py
+ checklists/urls.py
+ checklists/views.py
m dashboard/views.py
m nodes/admin.py
+ templates/checklists/checklist_edit.html
+ templates/checklists/checklist_form.html
&lt;/pre>
      &lt;pre style='white-space:pre-wrap;width:81ex'>Merge branch &#39;master&#39; of https://github.com/tekton/DocuCanvas&lt;/pre>
    </content>
  </entry>
  <entry>
    <id>tag:github.com,2008:Grit::Commit/b6dd828dc96d2427c93bedc37dd11e02c68dd1b8</id>
    <link type="text/html" rel="alternate" href="https://github.com/tekton/DocuCanvas/commit/b6dd828dc96d2427c93bedc37dd11e02c68dd1b8"/>
    <title>
        Updated navigation menu JavaScript code; fixed issue of menu disappearing when clicking child items such as drop-down lists
    </title>
    <updated>2013-04-11T15:22:05-07:00</updated>
    <media:thumbnail height="30" width="30" url="https://secure.gravatar.com/avatar/54f00aa984fef7189f15d2dfce2fd289?s=30&amp;d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png"/>
    <author>
      <name>wjmazza</name>
      <uri>https://github.com/wjmazza</uri>
    </author>
    <content type="html">
      &lt;pre>m templates/base_issues.html
m templates/issues/issue_overview.html
m templates/projects/project_overview.html
&lt;/pre>
      &lt;pre style='white-space:pre-wrap;width:81ex'>Updated navigation menu JavaScript code; fixed issue of menu disappearing when clicking child items such as drop-down lists&lt;/pre>
    </content>
  </entry>
</feed>
  </div>
  <script>
    var entries = document.getElementsByTagName('entry'),
    boardOutput = [],
    boardRefresh,
    boardMessageOn = 0;

    for (var i=0, il=entries.length; i<il; i++){
      var contentOut = [],
        entry = entries[i];

      contentOut.push(entry.getElementsByTagName('author')[0].getElementsByTagName('name')[0].textContent.toUpperCase());

      var updatedTime = new Date(Date.parse(entry.getElementsByTagName('updated')[0].textContent));
      contentOut.push(updatedTime.toLocaleString().toUpperCase().replace(/:/g,'.').replace(/\//g,'-'));

      var title = entry.getElementsByTagName('title')[0].textContent.toUpperCase().replace(/(?:(?:^|\n)\s+|\s+(?:$|\n))/g,'').replace(/\s+/g,' ');
      var titleArr = title.match(/.{1,24}/g);
      var titleArrCount = titleArr.length <= 5 ? titleArr.length : 5;

      for (var ix=0; ix < titleArrCount; ix++ ) {
        contentOut.push(titleArr[ix]);
      }

      boardOutput.push(contentOut);
    }

      (function () {
      var board = window.Board = new Solari;
      new SolariTexture().bind('load', function () {
        var alphaSet = this,
            row;

        document.getElementById('container').appendChild(board.el);

        // Set up the board
        _(8).times(function () {
          row = new SolariRow(board.y);

          _(24).times(function () {
            row.add(alphaSet);
          });
          board.add(row);
        });

        Board.start();

        // Set a message
        setTimeout(function(){
          Board.setMessage(boardOutput[boardMessageOn++]);
          boardRefresh = setInterval(function(){
            Board.setMessage(boardOutput[boardMessageOn++]);
          },35500);
        },2500);

      }).load('img/chars.png', 'ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890-.# '.split(''), 70, 63);

      })();

    boardRefresh = setInterval(function(){
      if (boardMessageOn >= boardOutput.length) {
        boardRefresh = 0;
      }
      Board.setMessage(boardOutput[boardMessageOn++]);
    },15500);
  </script>
</body>
</html>
