/** START include/table.css **/

/*
 * Generic Table Style
 * 
 * Base class style to add to all tables
 *     that you want to apply a style template to
 */
.tbl-generic { border-collapse: collapse; border-spacing: 0; width: 100%; }
.tbl-generic td,
.tbl-generic th { vertical-align: top; padding: .2em .4em; }
.tbl-generic thead tr,
.tbl-generic .tbl-rowheader { background: #bbb; font-size: .7em; height: 1.4em; }
.tbl-generic th,
.tbl-generic thead td,
.tbl-generic .tbl-fauxth { font-weight: bold; text-align: left; }
.tbl-generic .tbl-ui-trigger { width: 18px; padding-top: .5em; text-align: center; }
.tbl-generic .tbl-project { width: 150px; }
.tbl-generic .tbl-summary {}
.tbl-generic .tbl-status {}
.tbl-generic .tbl-date {}
.tbl-generic .tbl-assigned_to { width: 125px; }


/*
 * Issues Table
 * 
 * Used on:
 *     Project Overview : Issues
 */
.tbl-issues {
    width: 100%;
}
.tbl-issues th {
    text-align: left;
}
.tbl-issues .tbl-issues-summary {
    width: 60%;
}
.tbl-issues .tbl-issues-status {
    width: 18%;
}

.tbl-issues .tbl-issues-assigned_to {
    width: 22%;
}

.tbl-overview {}
.tbl-overview td {}
.tbl-overview .tbl-overview-content {
    padding: .2em;
}


/*
 * Comments Table
 * 
 * Used on:
 *     Issue Overview : Comments
 */
.tbl-comments {
    margin: 2em auto;
}
.tbl-comments .comment_textarea textarea {
    width: 100%;
}
.tbl-comments .tbl-comments-user {
    font-weight: bold;
    text-align: left;
    padding: .2em .4em;
}
.tbl-comments .tbl-comments-created {
    text-align: right;
    padding: .2em .4em;
    font-weight: normal;
}
.tbl-comments .tbl-comments-description {
    font-size: 1em;
    width: 100%;
    padding: .2em;
}


/*
 * Dashboard Table
 * 
 * Used on:
 *     Dashboard
 */
.tbl-dashboard {}
.tbl-dashboard .tbl-dashboard-project {
    width: 150px;
}
.tbl-dashboard .tbl-dashboard-summary {}
.tbl-dashboard .tbl-dashboard-assigned_to {
    width: 125px;
}

/*
*   Project Status Count Table
*
*
*/

.tbl-project-status-count td a{
    padding-left:2em;
}

.tbl-project-blank-count{
    display:none;
}

.tbl-project-active-count{ 
    display:none;
}

.tbl-project-unverified-count{ 
    display:none;
}

.tbl-project-not-a-bug-count{ 
    display:none;
}

.tbl-project-wont-fix-count{ 
    display:none;
}

.tbl-project-fixed-count{ 
    display:none;
}

.tbl-project-retest-count{ 
    display:none;
}

.tbl-project-duplicate-count{ 
    display:none;
}

.tbl-project-assignment-issue{
    display:none;
}

.tbl-meta-issue-blank-count{
    display:none;
}

.tbl-meta-issue-active-count{ 
    display:none;
}

.tbl-meta-issue-unverified-count{ 
    display:none;
}

.tbl-meta-issue-not-a-bug-count{ 
    display:none;
}

.tbl-meta-issue-wont-fix-count{ 
    display:none;
}

.tbl-meta-issue-fixed-count{ 
    display:none;
}

.tbl-meta-issue-retest-count{ 
    display:none;
}

.tbl-meta-issue-duplicate-count{ 
    display:none;
}

.tbl-meta-issue-assignment-issue{
    display:none;
}

.meta-issue-status-count:hover{
    cursor:pointer;
}

.project-status-count:hover{
    cursor:pointer;
}
.project-assignment-count:hover{
    cursor:pointer;
}


/** END include/table.css **/