<div id="siteheader">
    <div id="siteheader-overlay"></div>
    <div id="siteheader-content">
        <div id="sitelogo"></div>
        <nav id="sitenav">
            <ul>
                <li><a href="/" class="navitem {% if navIndicator == 'dashboard' %}navitem-active{% endif %}">Dashboard</a></li>
                <li>
                    <span class="navitem {% if navIndicator == 'projects' %}navitem-active{% endif %}">Projects</span>
                    <ul class="navitem-sub navitem-sub-hidden">
                        {% for project in projects%}
                           <li><a href="/project/{{project.id}}">{{project.name}}</a></li>
                        {% endfor %}
                        <li><a href="/project/new">New Project</a></li>
                    </ul>
                </li>
                <li><a href="/reports" class="navitem {% if navIndicator == 'reports' %}navitem-active{% endif %}">Reports</a></li>
            </ul>
        </nav>
        <div id="userbar">
            <ul>
                <li>
                    <span class="navitem">Context</span>
                    <ul class="navitem-sub navitem-sub-hidden">