<div id="siteheader">
    <div id="siteheader-overlay"></div>
    <div id="siteheader-content">
        <div id="sitelogo"></div>
        <nav id="sitenav">
            <ul>
                <li><a href="/" class="navitem {% if navIndicator == 'dashboard' %}navitem-active{% endif %}">Dashboard</a></li>
                <li>
                    <span class="navitem {% if navIndicator == 'projects' %}navitem-active{% endif %}">Projects</span>
                    <ul class="navitem-sub navitem-sub-hidden">
                        {% for project in projects%}
                           <li><a href="/project/{{project.id}}">{{project.name}}</a></li>
                        {% endfor %}
                        <li><a href="/project/new">New Project</a></li>
                    </ul>
                </li>
                <li><a href="/reports" class="navitem {% if navIndicator == 'reports' %}navitem-active{% endif %}">Reports</a></li>
            </ul>
        </nav>
        <div id="userbar">
            <ul>
                <li>
                    <span class="navitem">Context</span>
                    <ul class="navitem-sub navitem-sub-hidden">
                        {% block context_nav %}{% endblock %}
                    </ul>
                </li>
                <li>
                    <span class="navitem">{{user}}</span>
                    <ul class="navitem-sub navitem-sub-hidden">
                        <li><a href="/accounts/account_settings">Settings</a></li>
                        <li><a href="/accounts/logout/?next=/">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div id="sitesearch">
            <form action="/issue/search" method="POST">
                {% csrf_token %}
                <a class="ui-icon ui-icon-search" id="search_icon" href="{% url 'issues.views.issue_search_advanced' %}"></a>
                <input type="search" name="searchText" id="search">
                <input type="submit" value="search">
            </form>
        </div>
    </div>
</div>