{% extends "issues/base.html" %}

{% block additionalHead %}
    <style type="text/css">
        td.permSelect div {
            min-width: 250px;
            margin-right: 20px;
            float: left;
        }

        td.permSelect select {
            min-width: 220px;
        }
    </style>
    {{ form.media }}
{% endblock %}

{% block contextNav %}
    {% if form.project.value %}
        <li><a href="{% url 'issues.views.issue_form_project' form.project.value %}">New Issue</a></li>
        <li><a href="{% url 'issues.views.meta_issue_form' %}">New Meta Issue</a></li>
        <li><a href="{% url 'issues.views.issue_form_project' form.project.value %}">New Risk</a></li>
        <li><a href="{% url 'checklists.views.checklist_form_project' form.project.value %}">New Checklist</a></li>
        <li><a href="{% url 'projects.views.project_stats' form.project.value %}">Report</a></li>
        <li><a href="{% url 'checklists.views.project_checklists' form.project.value %}">Checklists</a></li>
        <li><a href="{% url 'projects.views.edit' form.project.value %}">Edit Project</a></li>
    {% else %}
        <li><a href="{% url 'issues.views.issue_form' %}">New Issue</a></li>
        <li><a href="{% url 'issues.views.unassigned_issues' %}">Unassigned Issues</a></li>
        <li><a href="{% url 'food.views.all_food' %}">Food Requests</a></li>
        <li><a href="{% url 'daily_reports.views.edit_report' %}">Daily Reports</a></li>
        <li><a href="{% url 'helpdesknew.views.user_help' %}">Help</a></li>
    {% endif %}
{% endblock%}

{% block pageTitle %}
Issue Tracker
{% endblock %}

{% block bodyContent %}
<article class="row">
    <div id="issue-column-main" class="span9 metainfo-maincolumn">
        <div id="issue-details" class="well">
            <table width='100%'>
                <tr>
                    <td><b>Assigned To User</b></td>
                    <td><b>Project</b></td>
                    <td><b>Meta Issue</b></td>
                    <td><b>Status</b></td>
                    <td><b>Description</b></td>
                </tr>
                {% for issue in issues %}
                <tr>
                    <td>{{issue.assigned_to}}</td>
                    <td>{{issue.project}}</td>
                    <td>{{issue.meta_issues}}</td>
                    <td>{{issue.status}}</td>
                    <td><a href="{{issue.id}}">{{issue.summary|truncatechars:80}}</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div id="issue-column-aside" class="span3 metainfo-asidecolumn">
        <aside id="issue-metainfo" class="well metainfo metainfo-show">
            {% if filter_assigned or filter_project or filter_status %}
                <h3>Applied Filters:</h3>
                {% if filter_assigned %}
                <b>Users:</b>
                    {% for user in filter_assigned %}
                    </br>{{user}} 
                    {% endfor %}
                </br>
                {% endif %}
                {% if filter_project %}
                <b>Projects:</b>
                    {% for project in filter_project %}
                    </br>{{project}}
                    {% endfor %}
                {% endif %}
                {% if filter_status %}
                <b>Status:</b>
                    {% for status in filter_status %}
                    </br>{{status}}
                    {% endfor %}
                {% endif %}
                </br></br>
            {% endif %}
            <h3>Filter Options</h3>
            <form id="modal-issue-fixed-form" class="form-inline" action="{% url 'issues.views.trackIssues' %}" method="POST">
                {% csrf_token %}
                <table id="assigned-filter-table">
                    <tr><td>Assigned To <a onclick='addAssignedTo()'>(+)</a></td></tr>
                    <tr>
                        <td>
                            <select name='assigned_to'>
                                <option value='none'></option>
                                {% for user in users %}
                                <option value='{{user.username}}'>{{user.username}}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                </table>
                <table id="project-filter-table">
                    <tr><td>Project <a onclick='addProject()'>(+)</a></td></tr>
                    <tr>
                        <td>
                            <select name='project'>
                                <option value='none'></option>
                                {% for project in projects %}
                                <option value='{{project}}'>{{project.name}}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                </table>
                <table id='status-filter-table'>
                    <tr><td>Status <a onclick='addStatus()'>(+)</a></td></tr>
                    <tr>
                        <td>
                            <select name='status'>
                                <option value='none'></option>
                                <option value='active'>Active</option>
                                <option value='duplicate'>Duplicate</option>
                                <option value='fixed'>Fixed</option>
                                <option value='not_a_bug'>Not A Bug</option>
                                <option value='retest'>Retest</option>
                                <option value='unverified'>Unverified</option>
                                <option value='wont_fix'>Won't Fix</option>
                            </select>
                        </td>
                    </tr>
                </table>
                <input type='submit' value='Apply Filters'></tr>
            </form>
        </aside>
    </div>
</article>
{% endblock %}

{% block endScripts %}
<script type="text/javascript">
    function addAssignedTo(){
        var content = "<tr><td><select name='assigned_to'><option value='none'></option>{% for user in users %}<option value='{{user.username}}'>{{user.username}}</option>{% endfor %}</select></td></tr>";
        $('#assigned-filter-table').append(content);
    }

    function addProject(){
        var content = "<tr><td><select name='project'><option value='none'></option>{% for project in projects %}<option value='{{project}}'>{{project.name}}</option>{% endfor %}</select></td></tr>";
        $('#project-filter-table').append(content);
    }

    function addStatus(){
        var content= "<tr><td><select name='status'><option value='none'></option><option value='active'>Active</option><option value='duplicate'>Duplicate</option><option value='fixed'>Fixed</option><option value='not_a_bug'>Not A Bug</option><option value='retest'>Retest</option><option value='unverified'>Unverified</option><option value='wont_fix'>Won't Fix</option></select></td></tr>";
        $('#status-filter-table').append(content);
    }
</script>
{% endblock %}