{% extends "issues/base.html" %}
{% load set_var %}

{% block contextNav %}
    <li><a href="{% url 'issues.views.issue_form' %}">New Issue</a></li>
{% endblock %}

{% block pageTitle %}
    Unassigned Issues
{% endblock %}

{% block bodyContent %}
    {% if issues.count > 0 %}
        <div class="well">
            <table class="table">
                {% for issue in issues reversed %}
                    {% if newest_unassigned != issue.created %}
                        {% set newest_unassigned = issue.created %}
                        <tr>
                            <td colspan="4">{{issue.created}}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td><a href="{% url 'projects.views.project_overview' issue.project.id %}">{{issue.project.name}}</td>
                        <td><a href="{% url 'issues.views.issue_overview' issue.id %}">{{issue.summary}}</td>
                        <td><a href="{% url 'issues.views.issue_overview' issue.id %}">{{issue.due_date}}</td>
                        <td><a href="{% url 'issues.views.assign' issue.id %}" class="assign_issue">Take</a></td>
                    </tr>
                {% endfor%}
            </table>
        </div>
    {% else %}
        <p>Woohoo! All issues are currently assigned!</p>
    {% endif %}
{% endblock %}

{% block endScripts %}
    <script>
        $('a.assign_issue').asAjax(function(data) {
            if ( data.success ) {
                if ( data.assigned_to == "self" ) {
                    $(this).text( "Unassign" );
                    AlertMessage.success( "Issue now assigned to you." );
                }
                else if ( data.assigned_to == "none" ) {
                    $(this).text( "Take" );
                    AlertMessage.success( "Issue unassigned." );
                }
                else if ( data.assigned_to == "user" ) {
                    $(this).text( "Take" );
                    AlertMessage.success( "Issue successfully assigned." );
                }
            }
            else {
                AlertMessage.error( "<strong>Assigning error:</strong> " + data.error );
            }
        }, AlertMessage.genericUnknownError);
    </script>
{% endblock %}
