{% extends "base.html" %}

<!--{%block extra_head%}
    <script type="text/javascript">
        $(document).ready(function(){
            if("{{project_id}}" != "None"){
                $('#id_project').val("{{project_id}}")
            }
        });
    </script>
{% endblock%}-->

{% block context_nav %}
    <li><a href="/issue/unassigned" >Unassigned Issues</a></li>
    <li><a href="issue/new">New Issue</a></li>

{% endblock %}

{% block additional_head %}
    {{ form.media }}
{% endblock %}

{% block basecontent %}
    <form action="/issue/new" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {{form.project.as_hidden}}
        Summary: {{form.summary}}<br>
        Description{{form.description}}<br>
        Screenshot: 
        <input type="file" name="myfiles" multiple/><br>

    <input type="submit" value="Submit"/>
    </form>

{% endblock %}