{% extends "issues/base.html" %}

{% block contextNav %}
	<li><a href="/issue/new">New Issue : {{issue.project.name}}</a></li>
{% endblock%}

{% block pageTitle %}
	Advanced Search
{% endblock %}

{% block bodyContent %}
	<form action="/issue/advsearch" method="POST">
		{% csrf_token %}
		<p id="addField">Add Field: <select id="fieldList"></select> <a href="#">Add</a></p>
        <input type="submit" value="Submit"/>
	</form>
	<div id="formFields">
		{{ form.as_p }}
    </div>
{% endblock %}

{% block endScripts %}
<script src="/static/scripts/advsearch.js"></script>
{% endblock %}