{% extends "base_issues.html" %}

{% block extra_head%}
	<script type="text/javascript">

		$(document).ready(function(){
			$('#subscribe_to_issue').click(function(){
            	$.ajax({
				    type:"POST",
				    url:"/issue/subscribe",
				    data:{
				    	issue:"{{issue.id}}"
				    },
				    success: function(data){	
				    	alert(data['status']);
				    },
				    error: function(data){
				    	alert("Server side error");
				    }

				})
        	});

			$('#pin_issue').click(function(){
            	$.ajax({
				    type:"POST",
				    url:"/issue/pin",
				    data:{
				    	issue:"{{issue.id}}"
				    },
				    success: function(data){	
				    	alert(data['status']);
				    },
				    error: function(data){
				    	alert("Server side error");
				    }

				})
        	});

        	$('#assign_issue').click(function(){
            	$.ajax({
				    type:"POST",
				    url:"/issue/assign",
				    data:{
				    	issue:"{{issue.id}}",
				    	assign:"assign"
				    },
				    success: function(data){	
				    	alert(data['status']);
				    	if( data['status'] == "Successfully unassigned issue"){
				    		$('#assign_issue').text("Assign");
				    	}
				    	else if(data['status'] == "Successfully assigned issue" || data['status'] == "Successfully reassigned issue"){
				    		$('#assign_issue').text("Unassign");
				    	}		    	
				    },
				    error: function(data){
				    	alert("Server side error");
				    }

				})
        	});

        	$('#assign_issue_to').click(function(){
            	$.ajax({
				    type:"POST",
				    url:"/issue/assign",
				    data:{
				    	issue:"{{issue.id}}",
				    	assign:"assign_to",
				    	user:$('#assigned_user').val()
				    },
				    success: function(data){	
				    	alert(data['status']);
				    },
				    error: function(data){
				    	alert("Server side error");
				    }

				})
        	});

		});

	</script>

{% endblock %}

{% block context_nav %}
	<a href="/issue/new?project={{issue.project.id}}">New Issue : {{issue.project.name}}</a>
	<a id="subscribe_to_issue">Subscribe</a>
	<a id="pin_issue">Pin</a>
	{% if issue.assigned_to == user%}
	<a id="assign_issue">Unassign</a>
	{% else %}
	<a id="assign_issue">Assign</a>
	{% endif %}
	<a>Assign To:  
		<select id="assigned_user">
			{% for user in users%}
				<option value="{{user.id}}">{{user.username}}</option>
			{% endfor%}
		</select>
		<input type="button" id="assign_issue_to" value="Assign"/>
	</a>
{% endblock%}

{% block container %}
	<h2>Issue Overview</h2>
	<b>Summary:</b> {{issue.summary}}<br/>
	<b>Description:</b> {{issue.description}}
{% endblock %}

{% block spiffy_box_right %}
	<b>Project Name:</b> {{issue.project.name}}<br/>
	<b>Meta Issue:</b> {{issue.meta_issues.title}}<br/>
	<b>State:</b> {{issue.state}}<br />
	<b>Projected Start:</b> {{issue.projected_start}}<br/>
	<b>Projected End:</b>{{issue.projected_end}}<br/>
	<b>Actual Start:</b>{{issue.actual_start}}<br />
	<b>Actual End:</b> {{issue.actual_end}}<br />
	<b>Date Reported:</b> {{issue.date_reported}}<br/>
	<b>Created:</b> {{issue.created}}<br/>
	<b>Modified:</b> {{issue.modified}}<br/>
	<b>View Type:</b> {{issue.view_type}}<br/>
	<b>Issue Type:</b> {{issue.issue_type}}<br/>
	<b>Assigned To:</b> {{issue.assigned_to}}<br/>
	<b>Title:</b> {{issue.title}}<br/>
	<b>Link Slug:</b> {{issue.link_slug}}<br/>
	<b>Status:</b> {{issue.status}}<br/>
	<b>Criticality:</b> {{issue.criticality}}<br/>
	<b>Fixability:</b> {{issue.fixability}}<br/>
	<b>R & D:</b> {{issue.r_and_d}}<br/>
	<b>Feature:</b> {{issue.feature}}<br/>
	<b>OS:</b> {{issue.os}}<br/>
	<b>OS Version:</b> {{issue.os_version}}<br/>
	<b>Browser:</b> {{issue.browser}}<br/>
	<b>Browser Version:</b> {{issue.browser_version}}<br/>
	<b>Screen Shot:</b> {{issue.screen_shot}}<br/>
	<b>Wireframe:</b> {{issue.wireframe}}<br/>
	<b>URI to Test:</b> x{{issue.uri_to_test}}
{% endblock %}

{% block container_bottom_clear %}
	<br>
		
	<form action="/issue/comment/{{issue.id}}" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<b>Comment:</b> {{comment_form.errors}} <br />{{comment_form.description}}
		<input type='hidden' name="issue" id="id_issue" value='{{issue.id}}'/>
		<input type='hidden' name="user" id="id_user" value='{{user.id}}'/><br>
		<input type="submit" value="Submit"/>
	</form>

	<table>
		{% for comment in comments%}
			<tr>
				<td><b>{{comment.user}}</b></td>
				<td>{{comment.created}}</td>
			</tr>
			<tr>
				<td>{{comment.description}}</td>
			</tr>
		{% endfor %}

	</table>
{% endblock %}