{% extends "base.html" %}

{% block context_nav %} 
    <li><a href="/issue/{{issue.id}}">Back to Issue</a></li>
    <li><a href="/project/{{issue.project.id}}">{{issue.project.name}}</a></li>
{% endblock%}
{% block additional_head %}
{{ form.media }}
{% endblock %}
{% block basecontent %}
    <form action="/issue/{{issue.id}}/edit" method="post" enctype="multipart/form-data" class='form-horizontal'>
        {% csrf_token %}
        {% for i in form %}
        <div class="control-group">
            <label class="control-label" for="{{i.name}}">{{i.label}}:</label>
            <div class="controls">
                {{i}}
            </div>
        </div>
        {% endfor %}
    <input type="button" id="button" value="Something" />
    <input type="submit" value="Submit"/>
    </form>

{% endblock %}

{% block additionaljs %}
//<script>
    $(function(){
        $('input[name="projected_start"]').datepicker();
        $('input[name="projected_end"]').datepicker();
        $('input[name="actual_start"]').datepicker();
        $('input[name="actual_end"]').datepicker();
        $('input[name="due_date"]').datepicker();
        $('input[name="date_reported"]').datepicker();
    });
        $("#button").click(function(e) {
            var x = $('#something').val();
            alert(x);
        });
{% endblock %}