{% extends "issues/base.html" %}
{% load markup %}
{% load humanize %}
{% load static %}

{% block additionalHead %}
    {{ form.media }}
	<link rel="stylesheet" href="{% static 'css/theme.bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'css/jquery.tablesorter.pager.css' %}">
	<link rel="stylesheet" href="{% static 'css/test_template.css' %}">
{% endblock %}
{% block bodyClass %}issues-overview{% endblock %}

{% block pageTitle %}
Issues Overview
{% endblock %}

{% block contextNav %}

{% endblock%}

{% block bodyContent %}
<!-- Begin filters -->
<div class="accordion" id="filters">
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#filters" href="#collapseOne">
				Filter Issues
			</a>
		</div>
		<div id="collapseOne" class="accordion-body collapse">
			<div class="accordion-inner">
				
				<!-- Begin row-fluid -->
				<div class="row-fluid">
					
					<!-- Begin span3 -->
					<div class="span3">
						<!-- <label class="control-label" for="inputEmail">Saved Filters</label>
						<select>
							<option></option>
							<option>Issues assigned to Me</option>
						</select> -->
						
						<!-- Begin saved-filters -->
						<div class="saved-filters">
							<div class="saved-filters-header clearfix">
								<h3 class="pull-left">Saved Filters</h3>
								<button class="btn btn-mini pull-right">Edit</button>
							</div>
							<ul>
								<li><a href="#">Issues assigned to me</a> <button class="close">&times;</button></li>
								<li><a href="#">Duplicates</a> <button class="close">&times;</button></li>
								<li><a href="#">Created by me</a> <button class="close">&times;</button></li>
								<li><a href="#">Past due</a> <button class="close">&times;</button></li>
								{% for query in saved_queries %}
								<li><a href="{% url 'issues.views.trackIssues' query.query_hash %}">{{query.name}}</a> <button class="close">&times;</button></li>
								{% endfor %}
							</ul>
						</div>
						<!-- End saved-filters -->
					</div>
					<!-- End span3 -->
					
					<!-- Begin span9 -->
					<div class="span9">
						<form id="use-this-form-to-save" action="{% url 'issues.views.tempTrack' %}" method="POST">
			                {% csrf_token %}
							<h3>Filters</h3>
							<table class="table table-condensed filter-table">
							
							</table>
							
							<!-- <a onclick="saveForm()" href="#">Create new filters</a> -->
							
			                <input type="hidden" id="id-filter-count" name="filter_count" value="1">
							
							<div class="text-right">
								<input type="button" value="Clear" class="btn" onclick="reload()" />
								<a href="#" class="btn filter-save"  rel="popover" data-content="<form class='form-inline span12 save-filter' style='float:none;margin:0;'><input type='text' id='filter-name-input' class='input-medium' placeholder='Name'> <button type='submit' class='btn' onclick='saveForm()'>Save</button></div>" data-html="true" data-placement="left">Save Filter</a>
								<input type="submit" value="Apply Filters" class="btn btn-primary" />
							</div>
		                </form>
					</div>
					<!-- End span9 -->
					
				</div>
				<!-- End row-fluid -->
			</div>
		</div>
	</div>
</div>
<!-- End filters -->

<table class="table table-striped overview-table">
	<thead>
		<tr>
			<th>ID</th>
			<th>Summary</th>
			<th>Project</th>
			<th>Assigned To</th>
			<th>Status</th>
			<th>Priority</th>
			<th>Sprint</th>
			<th>Created</th>
			<th>Last Modified</th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<th>ID</th>
			<th>Summary</th>
			<th>Project</th>
			<th>Assigned To</th>
			<th>Status</th>
			<th>Priority</th>
			<th>Sprint</th>
			<th>Created</th>
			<th>Last Modified</th>
		</tr>
		<tr>
			<th colspan="9" class="ts-pager form-horizontal">
				<button type="button" class="btn first"><i class="icon-step-backward glyphicon glyphicon-step-backward"></i></button>
				<button type="button" class="btn prev"><i class="icon-arrow-left glyphicon glyphicon-backward"></i></button>
				<span class="pagedisplay"></span> <!-- this can be any element, including an input -->
				<button type="button" class="btn next"><i class="icon-arrow-right glyphicon glyphicon-forward"></i></button>
				<button type="button" class="btn last"><i class="icon-step-forward glyphicon glyphicon-step-forward"></i></button>
				<select class="pagesize input-mini" title="Select page size">
					<option selected="selected" value="10">10</option>
					<option value="25">25</option>
					<option value="50">50</option>
					<option value="100">100</option>
				</select>
				<select class="pagenum input-mini" title="Select page number"></select>
			</th>
		</tr>
	</tfoot>
	<tbody class="issue_body">
        {% for issue in issues%}
        <tr>
			<td class="issue-id"><a href="{% url 'issues.views.issue_overview' issue.id %}">{{issue.id}}</a></td>
            <td class="issue-summary"><div><a href="{% url 'issues.views.issue_overview' issue.id %}">{{issue.summary}}</a></div></td>
			<td class="issue-project"><a href="{% url 'projects.views.project_overview' issue.project.id %}">{{issue.project.name}}</a></td>
			<td class="issue-sprint"><a href="{% url 'projects.views.project_overview' issue.project.id %}">{{issue.assigned_to}}</a></td>
			<td class="issue-status"><span class="title-issuestatus label {{issue.status}}">{{issue.get_status_display}}</span></td>
			<td class="issue-priority">{{issue.criticality}}</td>
			<td class="issue-sprint"><a href="{% url 'projects.views.project_overview' issue.project.id %}">{{issue.sprint}}</a></td>
			<td class="issue-create">{{issue.created|date:"n/j/o h:i A"}}</td>
			<td class="issue-modify">{{issue.modified|date:"n/j/o h:i A"}}</td>
        </tr>
        {% endfor%}
	</tbody>
</table>
<div id="formFields" hidden>
    {{ form.as_p }}
</div>
{% endblock %}

{% block endScripts %}
<script src="{% static 'js/jquery.tablesorter.pager.min.js' %}"></script>
<script>
var query = JSON.parse('{{json_query|escapejs|safe}}');
var hist = JSON.parse('{{applied_filters|escapejs|safe}}');
var filter_count = {{total_filters}};

$(document).ready(function(){
    var hist_cont = "";
    for(field in hist){
        hist_cont += "<tr><td><input type='hidden' name='" + field + "' value='" + hist[field][0] + "'>" + hist[field][0] + "</td><td><input type='hidden' name='" + field + "' value='" + hist[field][1] + "'>" + hist[field][1]+ "</td><td><input type='hidden' name='" + field + "' value='" + hist[field][2] + "'>" + hist[field][2] + "</td></tr>";
    }
    $('.table-condensed').append(hist_cont);

    var content = "";
    for(field in query["options"]){
        content += "<option>" + query["options"][field] + "</option>";
    }
    var to_insert = "<tr><td><select name=" + filter_count + " id='"+ filter_count +"-selector' onchange='populateOptions(" + filter_count + ")'><option></option>" + content + "</select></td><td><select name=" + filter_count + "><option>is</option><option>is not</option></select></td><td><select name=" + filter_count + " id='filter-options-" + filter_count + "'></select></td><td><a class=\"btn\" href=\"#\"><i class=\"icon-minus\"></i></a></td><td><a onclick='addFilter()' class=\"btn\ href=\"#\"><i class=\"icon-plus\"></i></a></td></tr>";
    $('.table-condensed').append(to_insert);
});


function populateOptions(filter_id){
    var elem = document.getElementById(filter_id + "-selector");
    var node = elem.options[elem.selectedIndex];
    var fieldName = node.value;
    if(fieldName == "Status"){
        content = "<option value=\"\"></option><option value=\"active\">Active</option><option value=\"duplicate\">Duplicate</option><option value=\"fixed\">Fixed</option><option value=\"not_a_bug\">Not A Bug</option><option value=\"retest\">Retest</option><option value=\"unverified\">Unverified</option><option value=\"wont_fix\">Won't Fix</option><option value=\"None\">No Status (None)</option>";
    }
    else{
        var content = "<option></option>";
        for(option in query[fieldName]){
            content += "<option>" + query[fieldName][option] + "</option>";
        }
    }
    document.getElementById("filter-options-" + filter_id).innerHTML = content;
};

function addFilter(){
    filter_count += 1;
    var content = "";
    for(field in query["options"]){
        content += "<option>" + query["options"][field] + "</option>";
    }
    var to_insert = "<tr><td><select name=" + filter_count + " id='"+ filter_count +"-selector' onchange='populateOptions(" + filter_count + ")'><option></option>" + content + "</select></td><td><select name=" + filter_count + "><option>is</option><option>is not</option></select></td><td><select name=" + filter_count + " id='filter-options-" + filter_count + "'></select></td><td><a class=\"btn\" href=\"#\"><i class=\"icon-minus\"></i></a></td><td><a onclick='addFilter()' class=\"btn\ href=\"#\"><i class=\"icon-plus\"></i></a></td></tr>";
    $('.table-condensed').append(to_insert);
    $('#id-filter-count').val(filter_count);
}

$(function(){
	$('#maincontent').removeClass('container');
	
	savedFiltersEditMode = false;
	
	$('.saved-filters-header button').on('click', function(e){
		e.preventDefault();
		
		if (savedFiltersEditMode){
			$(this).text('Edit');
			$('.saved-filters').removeClass('edit');
			$('.saved-filters ul').sortable('disable');
			savedFiltersEditMode = false;
		}
		else {
			$(this).text('Done');
			$('.saved-filters').addClass('edit');
			$('.saved-filters ul').sortable({
				update: function(e, ui){
					// Code here to update saved filter list
				}
			});
			$('.saved-filters ul').sortable('enable');
			$('.saved-filters ul').disableSelection();
			savedFiltersEditMode = true;
		}
	});

	$('.save-filter').on('submit', function(e){
		e.stopPropagation();
		e.preventDefault();
		console.log('hi');
	});
	
	$('form').on('submit', function(e){
		// return false;
		e.preventDefault();
		console.log("biiiitch");
		$.ajax({
	        type: 'post',
	        url: '{% url "issues.views.trackIssues" %}',
	        data: $('#use-this-form-to-save').serialize(),
	        success: function(data){
	            applyFilters(data);
	        },
	        error: function(data){
	            alert("error");
	        }
	    });
	})
	
	$('.saved-filters li button.close').on('click', function(e){
		e.preventDefault();
		$(this).parents('li').fadeOut();
		
		// Function here to remove saved filter from backend
	})
	
	$('.filter-save').popover();
	
	$.extend($.tablesorter.themes.bootstrap, {
	    // these classes are added to the table. To see other table classes available,
	    // look here: http://twitter.github.com/bootstrap/base-css.html#tables
	    table      : 'table table-bordered',
	    sortNone   : 'bootstrap-icon-unsorted',
	    sortAsc    : 'icon-chevron-up glyphicon glyphicon-chevron-up',     // includes classes for Bootstrap v2 & v3
	    sortDesc   : 'icon-chevron-down glyphicon glyphicon-chevron-down' // includes classes for Bootstrap v2 & v3
	  });
	
	$('.overview-table').tablesorter({
		theme: 'bootstrap',
		showProcessing: true,
		headerTemplate: '{content} {icon}',
		widgets : ['uitheme', 'filter', 'zebra']
	})
	.tablesorterPager({

	    // target the pager markup - see the HTML block below
	    container: $(".ts-pager"),

	    // target the pager page select dropdown - choose a page
	    cssGoto  : ".pagenum",

	    // remove rows from the table to speed up the sort of large tables.
	    // setting this to false, only hides the non-visible rows; needed if you plan to add/remove rows with the pager enabled.
	    removeRows: false,

	    // output string - default is '{page}/{totalPages}';
	    // possible variables: {page}, {totalPages}, {filteredPages}, {startRow}, {endRow}, {filteredRows} and {totalRows}
	    output: '{startRow} - {endRow} / {filteredRows} ({totalRows})'

	  });
});

function reload(){
    window.location.open('/issue/temp');
};

function applyFilters(input){
	$('.table-condensed tr').remove();
	var hist_cont = "";
	data = JSON.parse(input);
    for(field in data["hist"]){
        hist_cont += "<tr><td><input type='hidden' name='" + field + "' value='" + data["hist"][field][0] + "'>" + data["hist"][field][0] + "</td><td><input type='hidden' name='" + field + "' value='" + data["hist"][field][1] + "'>" + data["hist"][field][1]+ "</td><td><input type='hidden' name='" + field + "' value='" + data["hist"][field][2] + "'>" + data["hist"][field][2] + "</td></tr>";
    }
    $(".table-condensed").append(hist_cont);
	filter_count = data["total_filters"];
    var content = "";
    for(field in query["options"]){
        content += "<option>" + query["options"][field] + "</option>";
    }
    var to_insert = "<tr><td><select name=" + filter_count + " id='"+ filter_count +"-selector' onchange='populateOptions(" + filter_count + ")'><option></option>" + content + "</select></td><td><select name=" + filter_count + "><option>is</option><option>is not</option></select></td><td><select name=" + filter_count + " id='filter-options-" + filter_count + "'></select></td><td><a class=\"btn\" href=\"#\"><i class=\"icon-minus\"></i></a></td><td><a onclick='addFilter()' class=\"btn\ href=\"#\"><i class=\"icon-plus\"></i></a></td></tr>";
    $('.table-condensed').append(to_insert);
    var issue_content = "";
    for(issue in data["issues"]){
    	issue_content += "<tr><td class=\"issue-id\"><a href=\"/issue/" + data["issues"][issue]["id"] + "\">" + data["issues"][issue]["id"] + "</a></td><td class=\"issue-summary\"><div><a href=\"/issue/" + data["issues"][issue]["id"] + "\">" + data["issues"][issue]["summary"] + "</a></div></td><td class=\"issue-project\"><a href=\"/project/" + data["issues"][issue]["project_id"] + "\">" + data["issues"][issue]["project_name"] + "</a></td><td class=\"issue-sprint\"><a href=\"/auth/user/" + data["issues"][issue]["assigned_to_username"] + "\">" + data["issues"][issue]["assigned_to_username"] + "</a></td><td class=\"issue-status\"><span class=\"title-issuestatus label " + data["issues"][issue]["status"] + "\">"
    	issue_content += data["issues"][issue]["status"] + "</span></td><td class=\"issue-priority\">" + data["issues"][issue]["criticality"] + "</td><td class=\"issue-sprint\"><a href=\"/sprints/" + data["issues"][issue]["sprint_id"] + "\">" + data["issues"][issue]["sprint_name"] + "</a></td><td class=\"issue-create\">" + data["issues"][issue]["created"] + "</td><td class=\"issue-modify\">" + data["issues"][issue]["modified"] + "</td></tr>";
    }
    $('.issue_body tr').remove();
    $('.issue_body').append(issue_content);
};

function saveForm(){
	var name = document.getElementById('filter-name-input').value;
    $.ajax({
        type: 'post',
        url: '/issue/save_filters?name=' + name,
        data: $('#use-this-form-to-save').serialize(),
        success: function(data){
            window.location.open('{% url "issues.views.tempTrack" %}');
        },
        error: function(data){
            alert("error");
        }
    });
}
</script>
{% endblock %}