{% extends "issues/base.html" %}
{% load markup %}
{% load humanize %}
{% load static %}

{% block additionalHead %}
    {{ form.media }}
	<link rel="stylesheet" href="{% static 'css/theme.bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'css/jquery.tablesorter.pager.css' %}">
	<link rel="stylesheet" href="{% static 'css/test_template.css' %}">
{% endblock %}
{% block bodyClass %}issues-overview{% endblock %}

{% block pageTitle %}
Issues Overview
{% endblock %}

{% block contextNav %}

{% endblock%}

{% block bodyContent %}
<div class="accordion" id="filters">
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#filters" href="#collapseOne">
				Filter Issues
			</a>
		</div>
		<div id="collapseOne" class="accordion-body collapse">
			<div class="accordion-inner">
				
				<!-- Begin row-fluid -->
				<div class="row-fluid">
					
					<!-- Begin span3 -->
					<div class="span3">
						<form>
							<a onclick="saveForm()" href="#">Create new filters</a><br />or<br />
							<label class="control-label" for="inputEmail">Load Saved Filters</label>
							<select>
								<option></option>
								<option>Issues assigned to Me</option>
							</select>
						</form>
					</div>
					<!-- End span3 -->
					
					<!-- Begin span9 -->
					<div class="span9">
                        <form id="use-this-form-to-save" action="{% url 'issues.views.tempTrack' %}" method="POST">
    						<table class="table table-condensed">
    						</table>
                        {% csrf_token %}
                        <input type="hidden" id="id-filter-count" name="filter-count" value="1">
                        <input type="submit">
                        </form>
					</div>
					<!-- End span9 -->
					
				</div>
				<!-- End row-fluid -->
			</div>
		</div>
	</div>
</div>

<table class="table table-striped overview-table">
	<thead>
		<tr>
			<th>ID</th>
			<th>Summary</th>
			<th>Project</th>
			<th>Assigned To</th>
			<th>Status</th>
			<th>Priority</th>
			<th>Sprint</th>
			<th>Created</th>
			<th>Last Modified</th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<th>ID</th>
			<th>Summary</th>
			<th>Project</th>
			<th>Assigned To</th>
			<th>Status</th>
			<th>Priority</th>
			<th>Sprint</th>
			<th>Created</th>
			<th>Last Modified</th>
		</tr>
		<tr>
			<th colspan="9" class="ts-pager form-horizontal">
				<button type="button" class="btn first"><i class="icon-step-backward glyphicon glyphicon-step-backward"></i></button>
				<button type="button" class="btn prev"><i class="icon-arrow-left glyphicon glyphicon-backward"></i></button>
				<span class="pagedisplay"></span> <!-- this can be any element, including an input -->
				<button type="button" class="btn next"><i class="icon-arrow-right glyphicon glyphicon-forward"></i></button>
				<button type="button" class="btn last"><i class="icon-step-forward glyphicon glyphicon-step-forward"></i></button>
				<select class="pagesize input-mini" title="Select page size">
					<option selected="selected" value="10">10</option>
					<option value="25">25</option>
					<option value="50">50</option>
					<option value="100">100</option>
				</select>
				<select class="pagenum input-mini" title="Select page number"></select>
			</th>
		</tr>
	</tfoot>
	<tbody>
        {% for issue in issues%}
        <tr>
			<td class="issue-id"><a href="{% url 'issues.views.issue_overview' issue.id %}">{{issue.id}}</a></td>
            <td class="issue-summary"><div><a href="{% url 'issues.views.issue_overview' issue.id %}">{{issue.summary}}</a></div></td>
			<td class="issue-project"><a href="{% url 'projects.views.project_overview' issue.project.id %}">{{issue.project.name}}</a></td>
			<td class="issue-sprint"><a href="{% url 'projects.views.project_overview' issue.project.id %}">{{issue.assigned_to}}</a></td>
			<td class="issue-status"><span class="title-issuestatus label {{issue.status}}">{{issue.get_status_display}}</span></td>
			<td class="issue-priority">{{issue.criticality}}</td>
			<td class="issue-sprint"><a href="{% url 'projects.views.project_overview' issue.project.id %}">{{issue.sprint}}</a></td>
			<td class="issue-create">{{issue.created|date:"n/j/o h:i A"}}</td>
			<td class="issue-modify">{{issue.modified|date:"n/j/o h:i A"}}</td>
        </tr>
        {% endfor%}
	</tbody>
</table>
<div id="formFields" hidden>
    {{ form.as_p }}
</div>
{% endblock %}

{% block endScripts %}
<script src="{% static 'js/jquery.tablesorter.pager.min.js' %}"></script>
<script>
var query = JSON.parse('{{json_query|escapejs|safe}}');
var hist = JSON.parse('{{applied_filters|escapejs|safe}}');
var filter_count = {{total_filters}};

$(document).ready(function(){
    var hist_cont = "";
    for(field in hist){
        hist_cont += "<tr><td><input type='hidden' name='" + field + "' value='" + hist[field][0] + "'>" + hist[field][0] + "</td><td><input type='hidden' name='" + field + "' value='" + hist[field][1] + "'>" + hist[field][1]+ "</td><td><input type='hidden' name='" + field + "' value='" + hist[field][2] + "'>" + hist[field][2] + "</td></tr>";
    }
    $('.table-condensed').append(hist_cont);

    var content = "";
    for(field in query["options"]){
        content += "<option>" + query["options"][field] + "</option>";
    }
    var to_insert = "<tr><td><select name=" + filter_count + " id='"+ filter_count +"-selector' onchange='populateOptions(" + filter_count + ")'><option></option>" + content + "</select></td><td><select name=" + filter_count + "><option>is</option><option>is not</option></select></td><td><select name=" + filter_count + " id='filter-options-" + filter_count + "'></select></td><td><a class=\"btn\" href=\"#\"><i class=\"icon-minus\"></i></a></td><td><a onclick='addFilter()' class=\"btn\ href=\"#\"><i class=\"icon-plus\"></i></a></td></tr>";
    $('.table-condensed').append(to_insert);
});

function populateOptions(filter_id){
    var elem = document.getElementById(filter_id + "-selector");
    var node = elem.options[elem.selectedIndex];
    var fieldName = node.value;
    if(fieldName == "Status"){
        content = "<option value=\"\"></option><option value=\"active\">Active</option><option value=\"duplicate\">Duplicate</option><option value=\"fixed\">Fixed</option><option value=\"not_a_bug\">Not A Bug</option><option value=\"retest\">Retest</option><option value=\"unverified\">Unverified</option><option value=\"wont_fix\">Won't Fix</option><option value=\"None\">No Status (None)</option>";
    }
    else{
        var content = "<option></option>";
        for(option in query[fieldName]){
            content += "<option>" + query[fieldName][option] + "</option>";
        }
    }
    document.getElementById("filter-options-" + filter_id).innerHTML = content;
};

function addFilter(){
    filter_count += 1;
    var content = "";
    for(field in query["options"]){
        content += "<option>" + query["options"][field] + "</option>";
    }
    var to_insert = "<tr><td><select name=" + filter_count + " id='"+ filter_count +"-selector' onchange='populateOptions(" + filter_count + ")'><option></option>" + content + "</select></td><td><select name=" + filter_count + "><option>is</option><option>is not</option></select></td><td><select name=" + filter_count + " id='filter-options-" + filter_count + "'></select></td><td><a class=\"btn\" href=\"#\"><i class=\"icon-minus\"></i></a></td><td><a onclick='addFilter()' class=\"btn\ href=\"#\"><i class=\"icon-plus\"></i></a></td></tr>";
    $('.table-condensed').append(to_insert);
    $('#id-filter-count').val(filter_count);
}

$(function(){
	$('#maincontent').removeClass('container');
	
	$.extend($.tablesorter.themes.bootstrap, {
	    // these classes are added to the table. To see other table classes available,
	    // look here: http://twitter.github.com/bootstrap/base-css.html#tables
	    table      : 'table table-bordered',
	    sortNone   : 'bootstrap-icon-unsorted',
	    sortAsc    : 'icon-chevron-up glyphicon glyphicon-chevron-up',     // includes classes for Bootstrap v2 & v3
	    sortDesc   : 'icon-chevron-down glyphicon glyphicon-chevron-down' // includes classes for Bootstrap v2 & v3
	  });
	
	$('.overview-table').tablesorter({
		theme: 'bootstrap',
		showProcessing: true,
		headerTemplate: '{content} {icon}',
		widgets : ['uitheme', 'filter', 'zebra']
	})
	.tablesorterPager({

	    // target the pager markup - see the HTML block below
	    container: $(".ts-pager"),

	    // target the pager page select dropdown - choose a page
	    cssGoto  : ".pagenum",

	    // remove rows from the table to speed up the sort of large tables.
	    // setting this to false, only hides the non-visible rows; needed if you plan to add/remove rows with the pager enabled.
	    removeRows: false,

	    // output string - default is '{page}/{totalPages}';
	    // possible variables: {page}, {totalPages}, {filteredPages}, {startRow}, {endRow}, {filteredRows} and {totalRows}
	    output: '{startRow} - {endRow} / {filteredRows} ({totalRows})'

	  });
})

	function addAssignedTo(){
        var content = "<tr><td><select name='assigned_to'><option value='none'></option>{% for user in users %}<option value='{{user.username}}'>{{user.username}}</option>{% endfor %}</select></td></tr>";
        $('#assigned-filter-table').append(content);
    };

    function addProject(){
        var content = "<tr><td><select name='project'><option value='none'></option>{% for project in projects %}<option value='{{project}}'>{{project.name}}</option>{% endfor %}</select></td></tr>";
        $('#project-filter-table').append(content);
    };

    function addStatus(){
        var content= "<tr><td><select name='status'><option value='none'></option><option value='active'>Active</option><option value='duplicate'>Duplicate</option><option value='fixed'>Fixed</option><option value='not_a_bug'>Not A Bug</option><option value='retest'>Retest</option><option value='unverified'>Unverified</option><option value='wont_fix'>Won't Fix</option></select></td></tr>";
        $('#status-filter-table').append(content);
    };

    function addMetaIssue(){
        var content = "<tr><td><select name='meta-issue'><option value='none'></option>{% for meta in meta_issues %}<option value='{{meta}}'>{{meta.title}}</option>{% endfor %}</select></td></tr>";
        $('#meta-filter-table').append(content);
    };

    function reload(){
        window.location = '/issue/track';
    };

    function saveForm(){
        $.ajax({
            type: 'post',
            url: '{% url "issues.views.trackIssues" %}',
            data: $('#use-this-form-to-save').serialize(),
            success: function(data){
                window.location.open('{% url "issues.views.tempTrack" %}');
            },
            error: function(data){
                alert("error");
            }
        });
    }
</script>
{% endblock %}