{% extends "issues/base.html" %}
{% load markup %}
{% load humanize %}
{% load static %}

{% block additionalHead %}
    {{ form.media }}
	<link rel="stylesheet" href="{% static 'css/theme.bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'css/jquery.tablesorter.pager.css' %}">
	<link rel="stylesheet" href="{% static 'css/test_template.css' %}">
{% endblock %}
{% block bodyClass %}issues-overview{% endblock %}

{% block pageTitle %}
Issues Overview
{% endblock %}

{% block contextNav %}

{% endblock%}

{% block bodyContent %}
<div class="accordion" id="filters">
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#filters" href="#collapseOne">
				Filter Issues
			</a>
		</div>
		<div id="collapseOne" class="accordion-body collapse">
			<div class="accordion-inner">
				
				<!-- Begin row-fluid -->
				<div class="row-fluid">
					
					<!-- Begin span3 -->
					<div class="span3">
						<form>
							<a href="#">Create new filters</a><br />or<br />
							<label class="control-label" for="inputEmail">Load Saved Filters</label>
							<select>
								<option></option>
								<option>Issues assigned to Me</option>
							</select>
						</form>
					</div>
					<!-- End span3 -->
					
					<!-- Begin span9 -->
					<div class="span9">
						<table class="table table-condensed">
							<tr>
								<td>
									<select>
										<option>Status</option>
									</select>
								</td>
								<td>
									<select>
										<option>is</option>
										<option>is not</option>
									</select>
								</td>
								<td>
									<select>
										<option value="none"></option>
										<option value="active">Active</option>
										<option value="duplicate">Duplicate</option>
										<option value="fixed">Fixed</option>
										<option value="not_a_bug">Not A Bug</option>
										<option value="retest">Retest</option>
										<option value="unverified">Unverified</option>
										<option value="wont_fix">Won't Fix</option>
										<option value="no_status">No Status (None)</option>
									</select>
								</td>
								<td><a class="btn" href="#"><i class="icon-minus"></i></a></td>
								<td><a class="btn" href="#"><i class="icon-plus"></i></a></td>
							</tr>
							<tr>
								<td>
									<select>
										<option>Assigned</option>
									</select>
								</td>
								<td>
									<select>
										<option>is</option>
										<option>is not</option>
									</select>
								</td>
								<td>
									<select>
										<option value="none"></option>
										<option>Unassigned</option>
										<option value="active">Adam</option>
										<option value="duplicate">Bob</option>
										<option value="fixed">Chuck</option>
										<option value="not_a_bug">Jason</option>
									</select>
								</td>
								<td><a class="btn" href="#"><i class="icon-minus"></i></a></td>
								<td><a class="btn" href="#"><i class="icon-plus"></i></a></td>
							</tr>
							<tr>
								<td>
									<select>
										<option>Assigned</option>
										<option>Project</option>
										<option>Meta Issue</option>
										<option>Status</option>
									</select>
								</td>
								<td>
									<select>
										<option>is</option>
										<option>is not</option>
									</select>
								</td>
								<td>
									<select>
									</select>
								</td>
								<td><a class="btn" href="#"><i class="icon-minus"></i></a></td>
								<td><a class="btn" href="#"><i class="icon-plus"></i></a></td>
							</tr>
						</table>
					</div>
					<!-- End span9 -->
					
				</div>
				<!-- End row-fluid -->
				
			    {% if filter_assigned or filter_project or filter_status or filter_meta %}
				<table class="table">
				    {% if filter_assigned %}
			        {% for user in filter_assigned %}
					<tr>
						<th>Assigned To</th>
						<td>{{user}} </td>
						<td><a class="btn" href="#"><i class="icon-minus"></i></a></td>
						<td><a class="btn" href="#"><i class="icon-plus"></i></a></td>
					</tr>
			        {% endfor %}
				    {% endif %}
		
				    {% if filter_project %}
			        {% for project in filter_project %}
					<tr>
						<th>Project</th>
						<td>{{project}} </td>
						<td><a class="btn" href="#"><i class="icon-minus"></i></a></td>
						<td><a class="btn" href="#"><i class="icon-plus"></i></a></td>
					</tr>
			        {% endfor %}
				    {% endif %}
		
				    {% if filter_meta %}
			        {% for meta in filter_meta %}
					<tr>
						<th>Meta Issue</th>
						<td>{{meta}} </td>
						<td><a class="btn" href="#"><i class="icon-minus"></i></a></td>
						<td><a class="btn" href="#"><i class="icon-plus"></i></a></td>
					</tr>
			        {% endfor %}
				    {% endif %}
		
				    {% if filter_status %}
			        {% for status in filter_status %}
					<tr>
						<th>Status</th>
						<td>{{status}} </td>
						<td><a class="btn" href="#"><i class="icon-minus"></i></a></td>
						<td><a class="btn" href="#"><i class="icon-plus"></i></a></td>
					</tr>
			        {% endfor %}
				    {% endif %}
				</table>
	
			    <input type="button" value="Remove Filters" class="btn btn-warning" onclick="reload()"></br>
			    {% endif %}
				
				
				
				
				
				<form class="form-inline">
					<label>Save search settings</label>
					<input type="text" class="input-large" placeholder="Name">
					<button type="submit" class="btn">Save</button>
				</form>
				
			    <!-- <form id="modal-issue-fixed-form" class="form-inline" action="{% url 'issues.views.trackIssues' %}" method="POST">
			        {% csrf_token %}
			        <table id="assigned-filter-table">
			            <tr><td>Assigned To <a onclick='addAssignedTo()'>(+)</a></td></tr>
			            <tr>
			                <td>
			                    <select name='assigned_to'>
			                        <option value='none'></option>
			                        {% for user in users %}
			                        <option value='{{user.username}}'>{{user.username}}</option>
			                        {% endfor %}
			                    </select>
			                </td>
			            </tr>
			        </table>
			        <table id="project-filter-table">
			            <tr><td>Project <a onclick='addProject()'>(+)</a></td></tr>
			            <tr>
			                <td>
			                    <select name='project'>
			                        <option value='none'></option>
			                        {% for project in projects %}
			                        <option value='{{project}}'>{{project.name}}</option>
			                        {% endfor %}
			                    </select>
			                </td>
			            </tr>
			        </table>
			        <table id="meta-filter-table">
			            <tr><td>Meta Issue <a onclick='addMetaIssue()'>(+)</a></td></tr>
			            <tr>
			                <td>
			                    <select name='meta-issue'>
			                        <option value='none'></option>
			                        {% for meta in meta_issues %}
			                        <option value='{{meta}}'>{{meta.title}}</option>
			                        {% endfor %}
			                    </select>
			                </td>
			            </tr>
			        </table>
			        <table id='status-filter-table'>
			            <tr><td>Status <a onclick='addStatus()'>(+)</a></td></tr>
			            <tr>
			                <td>
			                    <select name='status'>
			                        <option value='none'></option>
			                        <option value='active'>Active</option>
			                        <option value='duplicate'>Duplicate</option>
			                        <option value='fixed'>Fixed</option>
			                        <option value='not_a_bug'>Not A Bug</option>
			                        <option value='retest'>Retest</option>
			                        <option value='unverified'>Unverified</option>
			                        <option value="wont_fix">Won't Fix</option>
			                        <option value='no_status'>No Status (None)</option>
			                    </select>
			                </td>
			            </tr>
			        </table>
			        <input type="submit" value="Apply Filters" class="btn btn-primary" />
			        {% for status in filter_status %}
			        <input type='hidden' name='status_filter' value='{{status}}'>
			        {% endfor %}
			        {% for project in filter_project %}
			        <input type='hidden' name='project_filter' value='{{project}}'>
			        {% endfor %}
			        {% for user in filter_assigned %}
			        <input type='hidden' name='assigned_filter' value='{{user}}'>
			        {% endfor %}
			        {% for meta in filter_meta %}
			        <input type='hidden' name='meta_filter' value='{{meta}}'>
			        {% endfor %}
			    </form> -->
				
			</div>
		</div>
	</div>
</div>

<table class="table table-striped overview-table">
	<thead>
		<tr>
			<th>ID</th>
			<th>Summary</th>
			<th>Project</th>
			<th>Assigned To</th>
			<th>Status</th>
			<th>Priority</th>
			<th>Sprint</th>
			<th>Created</th>
			<th>Last Modified</th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<th>ID</th>
			<th>Summary</th>
			<th>Project</th>
			<th>Assigned To</th>
			<th>Status</th>
			<th>Priority</th>
			<th>Sprint</th>
			<th>Created</th>
			<th>Last Modified</th>
		</tr>
		<tr>
			<th colspan="9" class="ts-pager form-horizontal">
				<button type="button" class="btn first"><i class="icon-step-backward glyphicon glyphicon-step-backward"></i></button>
				<button type="button" class="btn prev"><i class="icon-arrow-left glyphicon glyphicon-backward"></i></button>
				<span class="pagedisplay"></span> <!-- this can be any element, including an input -->
				<button type="button" class="btn next"><i class="icon-arrow-right glyphicon glyphicon-forward"></i></button>
				<button type="button" class="btn last"><i class="icon-step-forward glyphicon glyphicon-step-forward"></i></button>
				<select class="pagesize input-mini" title="Select page size">
					<option selected="selected" value="10">10</option>
					<option value="25">25</option>
					<option value="50">50</option>
					<option value="100">100</option>
				</select>
				<select class="pagenum input-mini" title="Select page number"></select>
			</th>
		</tr>
	</tfoot>
	<tbody>
        {% for issue in issues%}
        <tr>
			<td class="issue-id"><a href="{% url 'issues.views.issue_overview' issue.id %}">{{issue.id}}</a></td>
            <td class="issue-summary"><div><a href="{% url 'issues.views.issue_overview' issue.id %}">{{issue.summary}}</a></div></td>
			<td class="issue-project"><a href="{% url 'projects.views.project_overview' issue.project.id %}">{{issue.project.name}}</a></td>
			<td class="issue-sprint"><a href="{% url 'projects.views.project_overview' issue.project.id %}">{{issue.assigned_to}}</a></td>
			<td class="issue-status"><span class="title-issuestatus label {{issue.status}}">{{issue.get_status_display}}</span></td>
			<td class="issue-priority">{{issue.criticality}}</td>
			<td class="issue-sprint"><a href="{% url 'projects.views.project_overview' issue.project.id %}">{{issue.sprint}}</a></td>
			<td class="issue-create">{{issue.created|date:"n/j/o h:i A"}}</td>
			<td class="issue-modify">{{issue.modified|date:"n/j/o h:i A"}}</td>
        </tr>
        {% endfor%}
	</tbody>
</table>
{% endblock %}

{% block endScripts %}
<script src="{% static 'js/jquery.tablesorter.pager.min.js' %}"></script>
<script>
$(function(){
	$('#maincontent').removeClass('container');
	
	$.extend($.tablesorter.themes.bootstrap, {
	    // these classes are added to the table. To see other table classes available,
	    // look here: http://twitter.github.com/bootstrap/base-css.html#tables
	    table      : 'table table-bordered',
	    sortNone   : 'bootstrap-icon-unsorted',
	    sortAsc    : 'icon-chevron-up glyphicon glyphicon-chevron-up',     // includes classes for Bootstrap v2 & v3
	    sortDesc   : 'icon-chevron-down glyphicon glyphicon-chevron-down' // includes classes for Bootstrap v2 & v3
	  });
	
	$('.overview-table').tablesorter({
		theme: 'bootstrap',
		showProcessing: true,
		headerTemplate: '{content} {icon}',
		widgets : ['uitheme', 'filter', 'zebra']
	})
	.tablesorterPager({

	    // target the pager markup - see the HTML block below
	    container: $(".ts-pager"),

	    // target the pager page select dropdown - choose a page
	    cssGoto  : ".pagenum",

	    // remove rows from the table to speed up the sort of large tables.
	    // setting this to false, only hides the non-visible rows; needed if you plan to add/remove rows with the pager enabled.
	    removeRows: false,

	    // output string - default is '{page}/{totalPages}';
	    // possible variables: {page}, {totalPages}, {filteredPages}, {startRow}, {endRow}, {filteredRows} and {totalRows}
	    output: '{startRow} - {endRow} / {filteredRows} ({totalRows})'

	  });
})
	function addAssignedTo(){
        var content = "<tr><td><select name='assigned_to'><option value='none'></option>{% for user in users %}<option value='{{user.username}}'>{{user.username}}</option>{% endfor %}</select></td></tr>";
        $('#assigned-filter-table').append(content);
    };

    function addProject(){
        var content = "<tr><td><select name='project'><option value='none'></option>{% for project in projects %}<option value='{{project}}'>{{project.name}}</option>{% endfor %}</select></td></tr>";
        $('#project-filter-table').append(content);
    };

    function addStatus(){
        var content= "<tr><td><select name='status'><option value='none'></option><option value='active'>Active</option><option value='duplicate'>Duplicate</option><option value='fixed'>Fixed</option><option value='not_a_bug'>Not A Bug</option><option value='retest'>Retest</option><option value='unverified'>Unverified</option><option value='wont_fix'>Won't Fix</option></select></td></tr>";
        $('#status-filter-table').append(content);
    };

    function addMetaIssue(){
        var content = "<tr><td><select name='meta-issue'><option value='none'></option>{% for meta in meta_issues %}<option value='{{meta}}'>{{meta.title}}</option>{% endfor %}</select></td></tr>";
        $('#meta-filter-table').append(content);
    };

    function reload(){
        window.location = '/issue/track';
    };
</script>
{% endblock %}