body {
    font-size: 16px;
    padding-top: 55px;
}
textarea {
    width: 98%;
}

#sitenav .brand {
    padding: 0 5px;
    margin-left: 0;
    margin-right: 15px;
    background-color: #587C91;
    width: 50px;
    height: 50px;
    display: block;
}
#sitenav .brand .logo {
    display: block;
    text-indent: -9999px;
    width: 50px;
    height: 50px;
    background-image: url(/static/theme/assets/img/logo-gadget-sitenav.png);
    background-repeat: no-repeat;
    background-position: center;
}
#sitenav .navbar-inner {
    min-height: 50px;
    border-bottom: 0;
    box-shadow: 0 1px 5px #5A5A5A;
    background-color: #2B2F32;
    background-image: none;
}
#sitenav #mainnav li {
    text-transform: uppercase;
    font-weight: bold;
}
#sitenav #mainnav .dropdown-menu li {
    text-transform: none;
}
#sitenav form {
    margin-bottom: 0;
}
#sitenav .navbar-search .search-query {
    width: 145px;
    height: 18px;
    color: #ffffff;
    background-color: #515151;
    border-color: #111111;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.15);
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.15);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.15);
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}
#sitenav .navbar-search .search-query:-moz-placeholder {
    color: #cccccc;
}
#sitenav .navbar-search .search-query:-ms-input-placeholder {
    color: #cccccc;
}
#sitenav .navbar-search .search-query::-webkit-input-placeholder {
    color: #cccccc;
}
#sitenav .navbar-search .search-query:focus,
#sitenav .navbar-search .search-query.focused {
    padding: 5px 15px;
    color: #333333;
    text-shadow: 0 1px 0 #ffffff;
    background-color: #ffffff;
    border: 0;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    outline: 0;
}
#sitenav #mainnav .nav > li > a {
    padding-bottom: 10px;
    border-bottom: 5px solid transparent;
}
#sitenav #mainnav .nav > li > a.active {
    border-color: #587C91;
}

.panel,
.well {
    border: 1px solid #F2F2F2;
    box-shadow: 0 1px 4px #5A5A5A;
    background-color: #FFF;
}

.well.span6 {
    width: 530px;
}

#pagetitle {
    text-align: center;
    margin: 15px 0 25px;
}

#pagetitle .title-separator {
    display: none;
}

.metainfo-hide .metainfo-content  {
    display: none;
}

.issue-comment {
    min-height: 45px;
}
.issue-comment .comment-markbutton,
.issue-comment .comment-editbutton {
    display: none;
}
.issue-comment.show-editbutton .comment-editbutton,
.issue-comment.show-editbutton .comment-markbutton {
    display: block;
}

.mark_notification_as_read{
    cursor:pointer;
}

.comment aside {
    padding: .5em 0;
    margin: .5em 0;
    border-color: #CCC;
    border-style: solid;
    border-width: 1px 0 0;
}

.table-swimline {
    width: auto;
    max-width: none;
    overflow: auto;
    display: block;
    height: auto;
    padding: 0;
}
.table-swimline td {
    border: 1px solid gray;
    vertical-align: top;
    padding: 0;
    height: 330px;
}
.table-swimline .swimline-rowhead {
    min-width: 0;
    width: 25px;
    padding: 0;
}
.table-swimline .swimline-rotatewrapper {
    display: block;
    width: 25px;
    height: 330px;
    overflow: hidden;
}
.table-swimline .swimline-rotate {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    width: 330px;
    height: 330px;
    vertical-align: top;
    text-align: center;
}
.table-swimline table {}
.table-swimline table td {
    height: auto;
    width: auto;
}

.dailyreports-all {}
.dailyreports-all td,
.dailyreports-all .dailyreport-list,
.dailyreports-all .swimline-rotate,
.dailyreports-all .swimline-rotatewrapper {
    height: 300px;
}
.dailyreports-all .swimline-rotate  {
    width: 300px;
}
.dailyreports-all .swimline-column2 {
    width: 480px;
}
.dailyreports-all .swimline-column3,
.dailyreports-all .swimline-column4 {
    width: 330px;
}
.dailyreports-all .dailyreport-list {
    width: 480px;
    padding: 10px 15px 10px 10px;
    maring: 0;
    overflow: auto;
}
.dailyreport-list .accordion {}
.dailyreport-list .accordion .accordion-heading a {
    background-color: #f7f7f9;
    outline: none;
}
.dailyreport-list .accordion .accordion-heading.collapsed a {
    background-color: transparent;
}

.page-styleguide article section {
    padding-top: 55px; /* same as body's padding-top -- used to counter fixed position site navbar */
}


#maincontent {
    -o-animation: fadein .7s;
    -moz-animation: fadein .7s;
    -webkit-animation: fadein .7s;
    animation: fadein .7s;
}

@-o-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}​
@-moz-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@media (min-width: 980px) {
    
}

/* Large Desktop */
@media (min-width: 1200px) {
    
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    body {
        padding-top: 0;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    body {
        padding-top: 0;
    }
}