/* ------------------------------------------------------
	Test templates
	
	Last updated: 2014.01.23
-------------------------------------------------------*/



/* --- General Classes
-------------------------------------------------------*/



/* --- Issues Overview
-------------------------------------------------------*/

body.issues-overview {}
	
	body.issues-overview #maincontent {
		margin: 0 25px;
	}
	
	/* --- | Filters | --- */
	
	body.issues-overview #filters {}
		
		body.issues-overview #filters h3 {
			font-size: 14px;
			font-weight: bold;
			line-height: 20px;
			margin: 0 0 5px;
		}
		
		/* --- | Saved Filters | --- */
		
		body.issues-overview .saved-filters {
			padding-right: 10px;
			border-right: 1px solid #ddd;
		}
			
			body.issues-overview .saved-filters .saved-filters-header {}
			
			body.issues-overview .saved-filters ul {
				font-size: 14px;
				list-style: none;
				margin: 0;
			}
				
				body.issues-overview .saved-filters ul button.close { display: none; }
				body.issues-overview .saved-filters.edit ul button.close { display: block; }
		
		/* --- | Filter Table | --- */
		
		body.issues-overview #filters table {
			background: #f6f6f6;
			border: 1px solid #ddd;
		}
			
			body.issues-overview #filters table select {
				height: 25px;
				margin-bottom: 0;
			}
			
			body.issues-overview #filters table .btn {
				line-height: 25px;
				width: 25px;
				height: 25px;
				padding: 0;
				border-radius: 13px;
			}
	
	/* --- | Issues | --- */
	
	body.issues-overview .overview-table {
		font-size: 15px;
	}
		
		body.issues-overview .overview-table .issue-summary div {
			max-width: 700px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		
		body.issues-overview .overview-table .issue-project {
			white-space: nowrap;
		}
		
		body.issues-overview .overview-table .issue-create,
		body.issues-overview .overview-table .issue-modify {
			font-size: 13px;
			white-space: nowrap;
		}
	
	
	
/* --- Account Settings
-------------------------------------------------------*/
			
body.account-settings {}
	
	body.account-settings .password-hide { display: none; }
	
	body.account-settings .social-settings {}
		
		body.account-settings .social-settings li {
			margin: 0 0 1em;
		}