{% extends 'boards/base.html' %}
{% load markup %}
{% load staticfiles %}

{% block additionalHead %}
{% endblock %}

{% block bodyClass %}boards-landing{% endblock %}

{% block contextNav %}
<li><a href="{% url 'boards.views.boards_form' %}">New Board</a></li>
{% endblock %}

{% block bodyContent %}	
	{% if boards %}
		{% for i in boards %}
		{% if forloop.counter == 1 or forloop.counter|divisibleby:4 %}<div class="row">{% endif %}
			<div class="span3">
				<a href="{% url 'boards.views.board_display' i.id %}" class="thumbnail">
					<div class="image-container">
						<img src = '/static/{{i.image}}' />
					</div>
					<div class="caption">
						<h3><span>{{i.title}}</span></h3>
					</div>
				</a>
			</div>
		{% if forloop.counter|divisibleby:4 or forloop.last %}</div>{% endif %}
		{% endfor %}
	{% else %}
	<p>No Boards</p>
	{% endif %}
{% endblock %}