
{% block container %}
<body>
	<div id = 'container'></div>
    <script src="http://d3lp1msu2r81bx.cloudfront.net/kjs/js/lib/kinetic-v4.4.0.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
           <script>

            var imageWidth = {{board.width}};
            var imageHeight = {{board.height}};
            var noteCounter = 1
            var placementLock = false

            // Create Background image
            var imageObj = new Image();

            // Most everything occurs inside the image onload function
            imageObj.onload = function() {
                var bgImage = new Kinetic.Image({
                    image: imageObj,
                    width: imageWidth,
                    height: imageHeight,
                    id: 'backgroundImage',
                  });

                // Test function for getting mouse position
                bgImage.on('mousedown', function(){
                	createNoteForm(noteCounter);

                });

                var stage = new Kinetic.Stage({
                    container: 'container',
                    width: imageWidth,
                    height: imageHeight,
                });
                var shapesLayer = new Kinetic.Layer();
                var messageLayer = new Kinetic.Layer();
                shapesLayer.add(bgImage);

                {% if board_nodes %}
                    var circleId = 0;
                    {% for i in board_nodes %}
                        if("{{i.board}}" == "{{board.title}}"){
                        var newCircle = "circle" + circleId;
                        newCircle = new bugNote({{i.x}}, {{i.y}}, "{{i.description|linebreaksbr}}", circleId);
                        circleId ++;
                    };
                {% endfor %}
                {% else %}
                    $('body').append('<p>No Board nodes</p>');
                {% endif %}

                stage.add(shapesLayer);

                function createNoteForm(counter){

            	    var mousePos = stage.getMousePosition();
                	var x = mousePos.x ;
                	var y = mousePos.y ;
                	var noteDivWidth = 300;
                	var noteDivY = y - 4;
                	if(imageWidth - x <= noteDivWidth){
                		var noteDivX = x - 305;
                	}else{
                		var noteDivX = x + 20;
                	};
                	if(imageHeight - y <= 70){
                		var noteDivY = y - 70;
                	}else if(y < 10){
                		var noteDivY = y + 10;
                	}else{
                		var noteDivY = y - 4;
                	};

                	if(placementLock == false){
                		$('body').append("<div id = 'noteNo" + counter + "' style = 'position: absolute; top: " + noteDivY + "px; left: " + noteDivX + "px; visibility: visible; width: " + noteDivWidth + "px; background-color: gray'><form action='' method='post' enctype='multipart/form-data'>{% csrf_token %} <table><tr><th><label for='id_nodeLink'>NodeLink:</label></th><td><input type='text' name='nodeLink' id='id_nodeLink' /></td></tr><tr><th><label for='id_nodeType'>NodeType:</label></th><td><input id='id_nodeType' type='text' name='nodeType' value='note' maxlength='255' /></td></tr> </table><input type='submit' value='Submit'/><input type = 'hidden' id ='id_board' name = 'board' value ='{{board.id}}' /><input type = 'hidden' id ='id_y' name = 'y' value =" + y + " /><input type = 'hidden' id ='id_x' name = 'x' value =" + x + " /></form></div>");
                		placementLock = true
                		$('body').append('<p>X: ' + x + ' Y: ' + y + '</p>');
                		var circle = new Kinetic.Circle({
                        	x: x,
                        	y: y,
                        	radius: 8,
                        	fill: '#00d2ff',
                        	stroke: 'black',
                        	strokeWidth: 4,
                   		 });

                    	circle.on('mouseover', function(){
                    	    document.body.style.cursor = 'pointer';
                    	});
                    	circle.on('mouseout', function(){
                    	    document.body.style.cursor = 'default';
                    	});

                    	circle.on('mousedown', function(){
                    		if(placementLock == false){
                    	    	toggleNoteForm(counter)
                    		};
                    	});

                    	shapesLayer.add(circle);
                    	shapesLayer.draw();
                    	noteCounter += 1;
                    };

            	};

                    function bugNote(x, y, bugText, divId){
                        var tooltipId = "#" + divId;
                        var bugListId = "#bugListNo" + divId;
                        var noteDivWidth = 300;

                        var circle = new Kinetic.Circle({
                            x: x,
                            y: y,
                            radius: 8,
                            fill: '#00d2ff',
                            stroke: 'black',
                            strokeWidth: 4,
                        });

                        circle.on('mouseover', function(){
                            document.body.style.cursor = 'pointer';
                        });
                        circle.on('mouseout', function(){
                            document.body.style.cursor = 'default';
                        });

                        circle.on('mousedown', function(){
                            toggleInfoBox(divId);
                        });

                        shapesLayer.add(circle);
                        $('body').append("<div id = " + divId + " style = 'z-index: 2; width: " + noteDivWidth +"px;  position: absolute; top: " + (y - 20) + "px; left: " + (x + 24) + "px; background-color: black; opacity: 0.9; visibility: hidden; border-radius: 12px; padding: 10px'><p style = 'color: grey; text-align: left'>" + bugText + "</p><p style = 'text-align: right;'><a style = 'color: yellow' href = 'http://www.google.com'>THIS IS A LINK</a></p></div>");
                //};
                    };                

            };
            imageObj.src = '/static/{{board.image}}';



            function toggleNoteForm(divId){
            	var noteFormNo = "noteNo" + divId;
                var toggleNoteFormDiv = document.getElementById(noteFormNo);
                    if(toggleNoteFormDiv.style.visibility == 'visible'){
                        toggleNoteFormDiv.style.visibility = 'hidden';
                        placementLock = false;
                    }else{
                        toggleNoteFormDiv.style.visibility = 'visible';
                        placementLock = true;
                    };
            };

         </script>
</body>
{% endblock %}
