{% extends 'base.html' %}
{% block additionalHead %}
<style>
img{
	width: 30%;
	height: 30%;
}
#row{
	position: relative;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}
#titleContainer{
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 200px;
}
#imageContainer{
	width: 300px;
	height: auto;
	position: relative;
	display: inline-block;
	margin-bottom: 5px;
}
</style>
{% endblock %}
{% block baseContent %}
{% if boards %}
	<div id='maincontainer' class='container'>
	{% for i in boards %}
	<div id='row'>
		<div id='titleContainer'>Title: {{i.title}}</div> <a href='/board/board_display/{{i.id}}'><div id='imageContainer'><img src = '/static/{{i.image}}' /></a></div><br />
	</div>
	{% endfor %}
	</div>
{% else %}
	<p>No Boards</p>
{% endif %}
{% endblock %}
{% block contextNav %}
<li><a href='/board/new_board'>New Board</a></li>
{% endblock %}