{% extends "boards/base.html" %}
{% load markup %}
{% load staticfiles %}

{% block additionalHead%}
<link rel="stylesheet" href="{% static 'css/boards.css' %}">
{% endblock %}

{% block baseContent %}
<div id="container"></div>

<div id="bugList">
	<div id="buttonContainer">
		<input id="bugListButton" type="button" class="btn btn-primary" value='Done' onClick='window.location.href="/board/board_edit/{{board.id}}"' />
		<a class="brand" onClick='toggleHeader()'>
			<span class="logo">Gadget</span>
		</a>
	</div>
	
	<div class="notes">
	</div>
</div>
{% endblock %}

{% block endScripts %}
<script src="http://d3lp1msu2r81bx.cloudfront.net/kjs/js/lib/kinetic-v4.4.0.min.js"></script>
<script src="{% static 'scripts/boards.js' %}"></script>
<script>

//Test variables for placing notes, most will be contained in database when finished
var imageWidth = {{board.width}};
var imageHeight = {{board.height}};
var tooltipWidth = 200;
var tooltipHeight = 200;

// Create Background image
var imageObj = new Image();

// Most everything occurs inside the image onload function
imageObj.onload = function() {
	var bgImage = new Kinetic.Image({
		image: imageObj,
		width: imageWidth,
		height: imageHeight,
		id: 'backgroundImage',
	});


	var stage = new Kinetic.Stage({
		container: 'container',
		width: imageWidth,
		height: imageHeight,
	});
	var shapesLayer = new Kinetic.Layer();
	var messageLayer = new Kinetic.Layer();
	shapesLayer.add(bgImage);

	function issueNote(x, y, summary, description, link, divId){
		var tooltipId = "#" + divId;
		var bugListId = "#bugListNo" + divId;
		issueLink = link;
		if(issueLink != ""){
			issueLink = "<div id='issueLink'><a href = '" + link + "' target = '_blank'>View Issue</a></div>"
		};
		var circle = new Kinetic.Circle({
			x: x,
			y: y,
			radius: 8,
			fill: '#00d2ff',
			stroke: 'black',
			strokeWidth: 4,
		});

		circle.on('mouseover', function(){
			document.body.style.cursor = 'pointer';
		});
		circle.on('mouseout', function(){
			document.body.style.cursor = 'default';
		});

		circle.on('mousedown', function(){
			toggleInfoBox(divId);
		});

		shapesLayer.add(circle);
		$('#container').append("<div id = 'issueNote" + divId + "' style = 'top: " + (y - 30) + "px; left: " + (x + 24) + "px; '><div class = 'triangle'></div><div id='noteHeader'><strong>" + summary + "</strong></div><div id='noteDescription' >" + description + "</div>" + issueLink + "</div>");
		$('.notes').append("<div id = 'bugListNo" + divId + "' ><a href = '#' onClick = 'toggleInfoBox(" + divId + ")'>" + summary + "</a></div>");
    };
	
    {% if board_nodes %}
    var circleId = 0;
		{% for i in board_nodes %}
            if("{{i.board}}" == "{{board.title}}"){
				var newCircle = "circle" + circleId;
                if("{{i.nodeType}}" == "issue"){
                    {% for x in issues %}
                        if({{x.id}} == {{i.nodeLink}}){
                            newCircle = new issueNote({{i.x}}, {{i.y}}, "{{x.summary|linebreaksbr}}", '{{x.description|striptags|linebreaksbr}}',"/issue/"+{{i.nodeLink}}, circleId);
                        };
                    {% endfor %}
                 }else if('{{i.nodeType}}' == 'note'){
                    {% for y in board_notes %}
                        if("{{y.id}}" == "{{i.nodeLink}}"){
				          newCircle = new issueNote({{i.x}}, {{i.y}},"{{y.title|linebreaksbr}}", "{{y.description|linebreaksbr}}","", circleId);
                      };
                    {% endfor %}
                };
				circleId ++;
            };
	    {% endfor %}
	{% endif %}
    stage.add(shapesLayer);
 };
imageObj.src = '/static/{{board.image}}';

function toggleInfoBox(divId){
	var tooltipId = $('#issueNote' + divId);
	var bugListId = $('#bugListNo' + divId);
	
	tooltipId.toggle();
	bugListId.toggleClass('active');
};
</script>
{% endblock %}