{% extends "theme/default/base.html" %}
{% load set_var %}

{% block context_nav %}
{% include "theme/_includes/contextnav-default.html" %}
{% endblock%}

{% block container %}
    {% regroup issues by project as issuesGroupedByProject %}
    {% regroup issues by get_status_display as issuesGroupedByStatus %}

    <p><strong>Email:</strong> {{gadget_user.email}}</p>

    <section class="well">
        <header>
            <h3>Status Changes</h3>
        </header>
        <table class="table">
            {% for status_update in status_updates%}
                {% if newest_status_timestamp != status_update.time_stamp %}
                    {% set newest_status_timestamp = status_update.time_stamp%}
                        <!--<tr class="date_header tbl-rowheader"><td class="tbl-fauxth" colspan="4">{{status_update.time_stamp|date:'M-d-Y'}}</td></tr>-->
                        <tr><td colspan="4">{{newest_status_timestamp}}</td></tr>
                {% endif %}
                <tr>
                    <td title="project"><a href="/project/{{status_update.issue.project.id}}">{{status_update.issue.project}}</a></td>
                    <td title="issue"><a href="/issue/{{status_update.issue.id}}">{{status_update.issue.summary}}</a></td>
                    <td title="change type">{{status_update.new_status}}</td>
                </tr>
            {% endfor %}
        </table>
    </section>

    <section class="well">
        <header>
            <h3>Assigned To</h3>
        </header>
        <table class="table">
        {% for issue in issues %}
            {% if newest_project != issue.project %}
            {% set newest_project = issue.project %}
            <tr>
                <td colspan="4">{{issue.project.name}}</td>
            </tr>
            {% endif %}
            <tr>
                <td><a href="/issue/{{issue.id}}">{{issue.summary}}</a></td>
            </tr>
        {% endfor %}
        </table>
    </section>

    <section class="well hide">
        <header>
            <h3>Issue Count</h3>
        </header>
        <div id="accordion-useroverview-issuecount" class="accordion">

            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-useroverview-issuecount" data-target="#useroverview-issuecount-none">
                        None ({{blank_count}})
                    </a>
                </div>
                <div id="useroverview-issuecount-none" class="accordion-body collapse in">
                    <div class="accordion-inner">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Summary</th>
                                </tr>
                            </thead>
                            <tbody>
                        {% for issue in blank_issues%}
                            <tr>
                                <td>
                                    <a href="/project/{{issue.project.id}}">{{issue.project.name}}</a>
                                </td>
                                <td>
                                    <a href="/issue/{{issue.id}}">{{issue.summary}}</a>
                                </td>
                            </tr>
                        {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-useroverview-issuecount" href="#useroverview-issuecount-notabug">
                        Not a Bug ({{not_a_bug_count}})
                    </a>
                </div>
                <div id="useroverview-issuecount-notabug" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Summary</th>
                                </tr>
                            </thead>
                            <tbody>
                        {% for issue in not_a_bug_issues%}
                            <tr>
                                <td>
                                    <a href="/project/{{issue.project.id}}">{{issue.project.name}}</a>
                                </td>
                                <td>
                                    <a href="/issue/{{issue.id}}">{{issue.summary}}</a>
                                </td>
                            </tr>
                        {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-useroverview-issuecount" href="#useroverview-issuecount-wontfix">
                        Won't Fix ({{wont_fix_count}})
                    </a>
                </div>
                <div id="useroverview-issuecount-wontfix" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Summary</th>
                                </tr>
                            </thead>
                            <tbody>
                        {% for issue in wont_fix_issues %}
                            <tr>
                                <td>
                                    <a href="/project/{{issue.project.id}}">{{issue.project.name}}</a>
                                </td>
                                <td>
                                    <a href="/issue/{{issue.id}}">{{issue.summary}}</a>
                                </td>
                            </tr>
                        {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-useroverview-issuecount" href="#useroverview-issuecount-duplicate">
                        Duplicate ({{duplicate_count}})
                    </a>
                </div>
                <div id="useroverview-issuecount-duplicate" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Summary</th>
                                </tr>
                            </thead>
                            <tbody>
                        {% for issue in duplicate_issues %}
                            <tr>
                                <td>
                                    <a href="/project/{{issue.project.id}}">{{issue.project.name}}</a>
                                </td>
                                <td>
                                    <a href="/issue/{{issue.id}}">{{issue.summary}}</a>
                                </td>
                            </tr>
                        {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-useroverview-issuecount" href="#useroverview-issuecount-active">
                        Active ({{active_count}})
                    </a>
                </div>
                <div id="useroverview-issuecount-active" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Summary</th>
                                </tr>
                            </thead>
                            <tbody>
                        {% for issue in active_issues %}
                            <tr>
                                <td>
                                        <a href="/project/{{issue.project.id}}">{{issue.project.name}}</a>
                                </td>
                                <td>
                                    <a href="/issue/{{issue.id}}">{{issue.summary}}</a>
                                </td>
                            </tr>
                        {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-useroverview-issuecount" href="#useroverview-issuecount-fixed">
                        Fixed ({{fixed_count}})
                    </a>
                </div>
                <div id="useroverview-issuecount-fixed" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Summary</th>
                                </tr>
                            </thead>
                            <tbody>
                        {% for issue in fixed_issues%}
                            <tr>
                                <td>
                                        <a href="/project/{{issue.project.id}}">{{issue.project.name}}</a>
                                </td>
                                <td>
                                    <a href="/issue/{{issue.id}}">{{issue.summary}}</a>
                                </td>
                            </tr>
                        {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-useroverview-issuecount" href="#useroverview-issuecount-retest">
                        Retest ({{retest_count}})
                    </a>
                </div>
                <div id="useroverview-issuecount-retest" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Summary</th>
                                </tr>
                            </thead>
                            <tbody>
                        {% for issue in retest_issues%}
                            <tr>
                                <td>
                                        <a href="/project/{{issue.project.id}}">{{issue.project.name}}</a>
                                </td>
                                <td>
                                    <a href="/issue/{{issue.id}}">{{issue.summary}}</a>
                                </td>
                            </tr>
                        {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-useroverview-issuecount" href="#useroverview-issuecount-unverified">
                        Unverified ({{unverified_count}})
                    </a>
                </div>
                <div id="useroverview-issuecount-unverified" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Summary</th>
                                </tr>
                            </thead>
                            <tbody>
                        {% for issue in unverified_issues %}
                            <tr>
                                <td>
                                    <a href="/project/{{issue.project.id}}">{{issue.project.name}}</a>
                                </td>
                                <td>
                                    <a href="/issue/{{issue.id}}">{{issue.summary}}</a>
                                </td>
                                </tr>
                        {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <div class="row">
        <section class="well span6">
            <header>
                <h3>By Project</h3>
            </header>
            <div id="projectchart"></div>
            <div id="projectbreakdown" class="accordion">
                {% for issuegroup in issuesGroupedByProject %}
                <div class="accordion-group">
                    <div id="projectbreakdown-accordion-{{issuegroup.grouper|slugify}}" class="accordion-body collapse">
                        <div class="accordion-inner">
                            <table id="projectbreakdown-table-{{issuegroup.grouper|slugify}}" class="table">
                                <caption>
                                    {{issuegroup.grouper}}
                                </caption>
                                <thead>
                                    <th>Summary</th>
                                    <th>Status</th>
                                </thead>
                                <tbody>
                                    {% for issue in issuegroup.list %}
                                    <td>
                                        <a href="{% url 'issues.views.issue_overview' issue.id %}" title="{{issue.summary|escape}}">
                                            {{issue.summary|truncatechars:31}}
                                        </a>
                                    </td>
                                    <td>
                                        {{issue.get_status_display|truncatechars:16}}
                                    </td>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>

        <section class="well span6">
            <header>
                <h3>By Status</h3>
            </header>
            <div id="statuschart"></div>
            <div id="statusbreakdown" class="accordion">
                {% for issuegroup in issuesGroupedByStatus %}
                <div class="accordion-group">
                    <div id="statusbreakdown-accordion-{{issuegroup.grouper|slugify}}" class="accordion-body collapse">
                        <div class="accordion-inner">
                            <table id="statusbreakdown-table-{{issuegroup.grouper|slugify}}" class="table">
                                <caption>
                                    {{issuegroup.grouper}}
                                </caption>
                                <thead>
                                    <th>Summary</th>
                                    <th>Project</th>
                                </thead>
                                <tbody>
                                    {% for issue in issuegroup.list %}
                                    <td>
                                        <a href="{% url 'issues.views.issue_overview' issue.id %}" title="{{issue.summary|escape}}">
                                            {{issue.summary|truncatechars:31}}
                                        </a>
                                    </td>
                                    <td>
                                        {{issue.project|truncatechars:16}}
                                    </td>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
    </div>

    <script src="//cdn.sencha.com/ext/gpl/4.2.0/ext-all.js"></script>
    <script>
        var projectStore, statusStore, projectChart, statusChart, projectPanel, statusPanel;

        Ext.onReady(function(){
            function seriesClickHandler(idPrefix){
                return function(slice, eOpts){
                    var record = slice.storeItem,
                        idSuffix = record.get('name'),
                        el, parent;

                    idSuffix = idSuffix.replace(/[^a-zA-Z\d\s]/g,'').replace(/\s/g,'-').replace(/-+/g,'-').trim().toLowerCase();

                    el = $('#'+idPrefix+idSuffix);
                    parent = el.parents('.accordion');

                    el.collapse({
                        parent: parent,
                        toggle: true
                    })
                };
            }

            projectStore = new Ext.data.JsonStore({
                fields: ['name','count'],
                data: [
                {% for issuegroup in issuesGroupedByProject %}
                    {
                        name: '{{issuegroup.grouper}}',
                        count: {{issuegroup.list|length}}
                    }{% if not forloop.last %},{% endif %}
                {% endfor %}
                ]
            });

            statusStore = new Ext.data.JsonStore({
                fields: ['name','count'],
                data:  [
                {% for issuegroup in issuesGroupedByStatus %}
                    {
                        name: '{{issuegroup.grouper}}',
                        count: {{issuegroup.list|length}}
                    }{% if not forloop.last %},{% endif %}
                {% endfor %}
                ]
            });

            projectChart = new Ext.chart.Chart({
                animate: true,
                store: projectStore,
                shadow: true,
                legend: false,
                insetPadding: 20,
                series: [
                    {
                        type: 'pie',
                        field: 'count',
                        showInLegend: true,
                        highlight: false,
                        donut: false,
                        label: {
                            field: 'name',
                            display: 'rotate',
                            contrast: true,
                            font: '14px Arial'
                        },
                        listeners: {
                            itemmousedown: seriesClickHandler('projectbreakdown-accordion-')
                        }
                    }
                ]
            });

            statusChart = new Ext.chart.Chart({
                animate: true,
                store: statusStore,
                shadow: true,
                legend: false,
                insetPadding: 20,
                axes: [
                    {
                        type: 'Numeric',
                        position: 'left',
                        fields: 'count',
                        grid: true,
                        minimum: 0
                    },
                    {
                        type: 'Category',
                        position: 'bottom',
                        fields: 'name'
                    }
                ],
                series: [
                    {
                        type: 'column',
                        axis: 'left',
                        hightlight: false,
                        xField: 'name',
                        yField: 'count',
                        listeners: {
                            itemmousedown: seriesClickHandler('statusbreakdown-accordion-')
                        }
                    }
                ]
            });

            projectPanel = new Ext.Panel({
                width: 530,
                height: 400,
                layout: 'fit',
                items: projectChart,
                renderTo: Ext.get('projectchart')
            })

            statusPanel = new Ext.Panel({
                width: 530,
                height: 400,
                layout: 'fit',
                items: statusChart,
                renderTo: Ext.get('statuschart')
            })
        });
    </script>
{% endblock %}