{% extends "theme/default/base.html" %}
{% load set_var %}

{% block context_nav %}
{% include "theme/_includes/contextnav-default.html" %}
{% endblock%}

{% block container %}
    <p><strong>Email:</strong> {{gadget_user.email}}</p>

    <section class="well">
        <header>
            <h3>Status Changes</h3>
        </header>
        <table class="table">
            {% for status_update in status_updates%}
                {% if newest_status_timestamp != status_update.time_stamp %}
                    {% set newest_status_timestamp = status_update.time_stamp%}
                        <!--<tr class="date_header tbl-rowheader"><td class="tbl-fauxth" colspan="4">{{status_update.time_stamp|date:'M-d-Y'}}</td></tr>-->
                        <tr><td colspan="4">{{newest_status_timestamp}}</td></tr>
                {% endif %}
                <tr>
                    <td title="project"><a href="/project/{{status_update.issue.project.id}}">{{status_update.issue.project}}</a></td>
                    <td title="issue"><a href="/issue/{{status_update.issue.id}}">{{status_update.issue.summary}}</a></td>
                    <td title="change type">{{status_update.new_status}}</td>
                </tr>
            {% endfor %}
        </table>
    </section>

    <section class="well">
        <header>
            <h3>Assigned To:</h3>
        </header>
        <table class="table">
        {% for issue in issues %}
            {% if newest_project != issue.project %}
            {% set newest_project = issue.project %}
            <tr>
                <td colspan="4">{{issue.project.name}}</td>
            </tr>
            {% endif %}
            <tr>
                <td><a href="/issue/{{issue.id}}">{{issue.summary}}</a></td>
            </tr>
        {% endfor %}
        </table>
    </section>

    <section class="well">
        <header>
            <h3>Issue Count</h3>
        </header>
        <div id="accordion-useroverview-issuecount" class="accordion">

            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-useroverview-issuecount" data-target="#useroverview-issuecount-none">
                        None ({{blank_count}})
                    </a>
                </div>
                <div id="useroverview-issuecount-none" class="accordion-body collapse in">
                    <div class="accordion-inner">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Summary</th>
                                </tr>
                            </thead>
                            <tbody>
                        {% for issue in blank_issues%}
                            <tr>
                                <td>
                                    <a href="/project/{{issue.project.id}}">{{issue.project.name}}</a>
                                </td>
                                <td>
                                    <a href="/issue/{{issue.id}}">{{issue.summary}}</a>
                                </td>
                            </tr>
                        {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-useroverview-issuecount" href="#useroverview-issuecount-notabug">
                        Not a Bug ({{not_a_bug_count}})
                    </a>
                </div>
                <div id="useroverview-issuecount-notabug" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Summary</th>
                                </tr>
                            </thead>
                            <tbody>
                        {% for issue in not_a_bug_issues%}
                            <tr>
                                <td>
                                    <a href="/project/{{issue.project.id}}">{{issue.project.name}}</a>
                                </td>
                                <td>
                                    <a href="/issue/{{issue.id}}">{{issue.summary}}</a>
                                </td>
                            </tr>
                        {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-useroverview-issuecount" href="#useroverview-issuecount-wontfix">
                        Won't Fix ({{wont_fix_count}})
                    </a>
                </div>
                <div id="useroverview-issuecount-wontfix" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Summary</th>
                                </tr>
                            </thead>
                            <tbody>
                        {% for issue in wont_fix_issues %}
                            <tr>
                                <td>
                                    <a href="/project/{{issue.project.id}}">{{issue.project.name}}</a>
                                </td>
                                <td>
                                    <a href="/issue/{{issue.id}}">{{issue.summary}}</a>
                                </td>
                            </tr>
                        {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-useroverview-issuecount" href="#useroverview-issuecount-duplicate">
                        Duplicate ({{duplicate_count}})
                    </a>
                </div>
                <div id="useroverview-issuecount-duplicate" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Summary</th>
                                </tr>
                            </thead>
                            <tbody>
                        {% for issue in duplicate_issues %}
                            <tr>
                                <td>
                                    <a href="/project/{{issue.project.id}}">{{issue.project.name}}</a>
                                </td>
                                <td>
                                    <a href="/issue/{{issue.id}}">{{issue.summary}}</a>
                                </td>
                            </tr>
                        {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-useroverview-issuecount" href="#useroverview-issuecount-active">
                        Active ({{active_count}})
                    </a>
                </div>
                <div id="useroverview-issuecount-active" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Summary</th>
                                </tr>
                            </thead>
                            <tbody>
                        {% for issue in active_issues %}
                            <tr>
                                <td>
                                        <a href="/project/{{issue.project.id}}">{{issue.project.name}}</a>
                                </td>
                                <td>
                                    <a href="/issue/{{issue.id}}">{{issue.summary}}</a>
                                </td>
                            </tr>
                        {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-useroverview-issuecount" href="#useroverview-issuecount-fixed">
                        Fixed ({{fixed_count}})
                    </a>
                </div>
                <div id="useroverview-issuecount-fixed" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Summary</th>
                                </tr>
                            </thead>
                            <tbody>
                        {% for issue in fixed_issues%}
                            <tr>
                                <td>
                                        <a href="/project/{{issue.project.id}}">{{issue.project.name}}</a>
                                </td>
                                <td>
                                    <a href="/issue/{{issue.id}}">{{issue.summary}}</a>
                                </td>
                            </tr>
                        {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-useroverview-issuecount" href="#useroverview-issuecount-retest">
                        Retest ({{retest_count}})
                    </a>
                </div>
                <div id="useroverview-issuecount-retest" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Summary</th>
                                </tr>
                            </thead>
                            <tbody>
                        {% for issue in retest_issues%}
                            <tr>
                                <td>
                                        <a href="/project/{{issue.project.id}}">{{issue.project.name}}</a>
                                </td>
                                <td>
                                    <a href="/issue/{{issue.id}}">{{issue.summary}}</a>
                                </td>
                            </tr>
                        {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-useroverview-issuecount" href="#useroverview-issuecount-unverified">
                        Unverified ({{unverified_count}})
                    </a>
                </div>
                <div id="useroverview-issuecount-unverified" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Summary</th>
                                </tr>
                            </thead>
                            <tbody>
                        {% for issue in unverified_issues %}
                            <tr>
                                <td>
                                    <a href="/project/{{issue.project.id}}">{{issue.project.name}}</a>
                                </td>
                                <td>
                                    <a href="/issue/{{issue.id}}">{{issue.summary}}</a>
                                </td>
                                </tr>
                        {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section class="well">
        <header>
            <h3>Assignment Count</h3>
        </header>
        <div class="row">
            <div id="chart" class="span4"></div>
            <div class="span7">
                <div id="accordion-useroverview-assignmentcount" class="accordion">
                    {% for projectName, projectInfo in project_dict.items %}
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-useroverview-assignmentcount" href="#useroverview-assignmentcount-{{projectName|slugify}}">
                                {{projectName}}
                            </a>
                        </div>
                        <div id="useroverview-assignmentcount-{{projectName|slugify}}" class="accordion-body collapse {%if forloop.first %}in{% endif %}">
                            <div class="accordion-inner">
                                {% for issueId, issueSummary in projectInfo.items %}
                                {% if forloop.first %}
                                <h5>Issues ({{forloop.revcounter0}})</h5>
                                <ul>
                                {% endif %}
                                    {% if projectName != issueId %}
                                        <li><a href="{% url 'issues.views.issue_overview' issueId %}">{{issueSummary}}</a></li>
                                    {% endif %}
                                {% if forloop.first %}
                                </ul>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </section>

    <script src="//cdn.sencha.com/ext/gpl/4.2.0/ext-all.js"></script>
    <script>
        var projects = {{projectsAsJson|safe}};

        var projectcount = (function(){
            var arr = [];
            for (var i=0, il=projects.length; i<il; i++) {
                var project = projects[i];
                arr.push({
                    name: project.name,
                    count: project.issues.length
                });
            }
            return arr;
        })();

        var store, chart, panel;

        Ext.onReady(function(){

            store = new Ext.data.JsonStore({
                fields: ['name','count'],
                data: projectcount
            });

            chart = new Ext.chart.Chart({
                animate: true,
                store: store,
                shadow: true,
                legend: false,
                insetPadding: 20,
                series: [
                    {
                        type: 'pie',
                        field: 'count',
                        showInLegend: true,
                        donut: false,
                        highlight: {
                            segment: {
                                margin: 20
                            }
                        },
                        label: {
                            field: 'name',
                            display: 'rotate',
                            contrast: true,
                            font: '14px Arial'
                        },
                        listeners: {
                            itemmousedown: function(slice, eOpts){
                                var record = slice.storeItem,
                                    project = record.get('name'),
                                    selectorPrefix = '#useroverview-assignmentcount-';

                                project = project.replace(/[^a-zA-Z\d\s]/g,'').replace(/\s/g,'-').replace(/-+/g,'-').trim().toLowerCase();
                                
                                $(selectorPrefix + project).collapse('show');
                            }
                        }
                    }
                ]
            });

            panel = new Ext.Panel({
                header: false,
                width: 300,
                height: 300,
                plain: true,
                border: 0,
                renderTo: Ext.get('chart'),
                layout: 'fit',
                items: chart
            });
        });
    </script>
{% endblock %}