{% extends "theme/default/base.html" %}
{% load set_var %}

{% block context_nav %}
{% include "theme/_includes/contextnav-default.html" %}
{% endblock%}

{% block container %}
    <b>Email:</b> {{gadget_user.email}}<br><br>

    <section class="well">
        <header>
            <h3>Status Changes</h3>
        </header>
        <table class="table">
            {% for status_update in status_updates%}
                {% if newest_status_timestamp != status_update.time_stamp %}
                    {% set newest_status_timestamp = status_update.time_stamp%}
                        <!--<tr class="date_header tbl-rowheader"><td class="tbl-fauxth" colspan="4">{{status_update.time_stamp|date:'M-d-Y'}}</td></tr>-->
                        <tr class="date_header tbl-rowheader"><td class="tbl-fauxth" colspan="4">{{newest_status_timestamp}}</td></tr>
                {% endif %}
                <tr>
                    <td title="project"><a href="/project/{{status_update.issue.project.id}}">{{status_update.issue.project}}</a></td>
                    <td title="issue"><a href="/issue/{{status_update.issue.id}}">{{status_update.issue.summary}}</a></td>
                    <td title="change type">{{status_update.new_status}}</td>
                </tr>
                
            {% endfor %}
        </table>
    </section>

    <section class="well">
        <header>
            <h3>Assigned To:</h3>
        </header>
        <table class="table">
        {% for issue in issues %}
            {% if newest_project != issue.project %}
            {% set newest_project = issue.project %}
            <tr>
                <td colspan="4">{{issue.project.name}}</td>
            </tr>
            {% endif %}
            <tr>
                <td><a href="/issue/{{issue.id}}">{{issue.summary}}</a></td>
            </tr>
        {% endfor %}
        </table>
    </section>

    <section class="well">
        <header>
            <h3>Issue Count</h3>
        </header>
        <div id="accordion-useroverview-issuecount" class="accordion">

            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-useroverview-issuecount" data-target="#useroverview-issuecount-none">
                        None ({{blank_count}})
                    </a>
                </div>
                <div id="useroverview-issuecount-none" class="accordion-body collapse in">
                    <div class="accordion-inner">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Summary</th>
                                </tr>
                            </thead>
                            <tbody>
                        {% for issue in blank_issues%}
                            <tr class="tbl-project-status-count tbl-project-blank-count">
                                <td>
                                    <a href="/project/{{issue.project.id}}">{{issue.project.name}}</a>
                                </td>
                                <td>
                                    <a href="/issue/{{issue.id}}">{{issue.summary}}</a>
                                </td>
                            </tr>
                        {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-useroverview-issuecount" href="#useroverview-issuecount-notabug">
                        Not a Bug ({{not_a_bug_count}})
                    </a>
                </div>
                <div id="useroverview-issuecount-notabug" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Summary</th>
                                </tr>
                            </thead>
                            <tbody>
                        {% for issue in not_a_bug_issues%}
                            <tr class="tbl-project-status-count tbl-project-not-a-bug-count">
                                <td>
                                    <a href="/project/{{issue.project.id}}">{{issue.project.name}}</a>
                                </td>
                                <td>
                                    <a href="/issue/{{issue.id}}">{{issue.summary}}</a>
                                </td>
                            </tr>
                        {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-useroverview-issuecount" href="#useroverview-issuecount-wontfix">
                        Won't Fix ({{wont_fix_count}})
                    </a>
                </div>
                <div id="useroverview-issuecount-wontfix" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Summary</th>
                                </tr>
                            </thead>
                            <tbody>
                        {% for issue in wont_fix_issues %}
                            <tr class="tbl-project-status-count tbl-project-wont-fix-count">
                                <td>
                                    <a href="/project/{{issue.project.id}}">{{issue.project.name}}</a>
                                </td>
                                <td>
                                    <a href="/issue/{{issue.id}}">{{issue.summary}}</a>
                                </td>
                            </tr>
                        {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-useroverview-issuecount" href="#useroverview-issuecount-duplicate">
                        Duplicate ({{duplicate_count}})
                    </a>
                </div>
                <div id="useroverview-issuecount-duplicate" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Summary</th>
                                </tr>
                            </thead>
                            <tbody>
                        {% for issue in duplicate_issues %}
                            <tr class=" tbl-project-status-count tbl-project-duplicate-count">
                                <td>
                                    <a href="/project/{{issue.project.id}}">{{issue.project.name}}</a>
                                </td>
                                <td>
                                    <a href="/issue/{{issue.id}}">{{issue.summary}}</a>
                                </td>
                            </tr>
                        {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-useroverview-issuecount" href="#useroverview-issuecount-active">
                        Active ({{active_count}})
                    </a>
                </div>
                <div id="useroverview-issuecount-active" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Summary</th>
                                </tr>
                            </thead>
                            <tbody>
                        {% for issue in active_issues %}
                            <tr class="tbl-project-status-count tbl-project-active-count">
                                <td>
                                        <a href="/project/{{issue.project.id}}">{{issue.project.name}}</a>
                                </td>
                                <td>
                                    <a href="/issue/{{issue.id}}">{{issue.summary}}</a>
                                </td>
                            </tr>
                        {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-useroverview-issuecount" href="#useroverview-issuecount-fixed">
                        Fixed ({{fixed_count}})
                    </a>
                </div>
                <div id="useroverview-issuecount-fixed" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Summary</th>
                                </tr>
                            </thead>
                            <tbody>
                        {% for issue in fixed_issues%}
                            <tr class="tbl-project-status-count  tbl-project-fixed-count">
                                <td>
                                        <a href="/project/{{issue.project.id}}">{{issue.project.name}}</a>
                                </td>
                                <td>
                                    <a href="/issue/{{issue.id}}">{{issue.summary}}</a>
                                </td>
                            </tr>
                        {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-useroverview-issuecount" href="#useroverview-issuecount-retest">
                        Retest ({{retest_count}})
                    </a>
                </div>
                <div id="useroverview-issuecount-retest" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Summary</th>
                                </tr>
                            </thead>
                            <tbody>
                        {% for issue in retest_issues%}
                            <tr class="tbl-project-status-count  tbl-project-retest-count">
                                <td>
                                        <a href="/project/{{issue.project.id}}">{{issue.project.name}}</a>
                                </td>
                                <td>
                                    <a href="/issue/{{issue.id}}">{{issue.summary}}</a>
                                </td>
                            </tr>
                        {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-useroverview-issuecount" href="#useroverview-issuecount-unverified">
                        Unverified ({{unverified_count}})
                    </a>
                </div>
                <div id="useroverview-issuecount-unverified" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Summary</th>
                                </tr>
                            </thead>
                            <tbody>
                        {% for issue in unverified_issues %}
                            <tr class="tbl-project-status-count  tbl-project-unverified-count">
                                <td>
                                    <a href="/project/{{issue.project.id}}">{{issue.project.name}}</a>
                                </td>
                                <td>
                                    <a href="/issue/{{issue.id}}">{{issue.summary}}</a>
                                </td>
                                </tr>
                        {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section class="well">
        <header>
            <h3>Assignment Count</h3>
        </header>
        <table class="table">
           {% for k,v in project_dict.items%}
                <tr>
                    <td>{{k}}</td>
                    {% for key, value in v.items%}
                        {% if key == k %}
                            <td class="project-assignment-count" id="{{k}}" onClick="toggleProjectAssignmentCount($(this).attr('id'))">{{value}}</td>
                        {% endif %}
                    {% endfor %}
                </tr>

                {% for key,value in v.items%}
                    {% if key != k%}
                    <tr class="tbl-project-status-count tbl-project-assignment-issue {{k}}" >
                        <td><a href="/issue/{{key}}">{{value}}</a></td>
                    </tr>
                    {% endif %}
                {% endfor %}
            
           {% endfor %}
        </table>
    </section>

{% endblock %}