{% extends "base.html" %}
{% load set_var %}

{% comment %}
Extends /templates/base.html
Used for all templates in /templates/projects

==Blocks Available==
    additionalHead (from /templates/base.html)
        Used to add additional <link/>, <style/>, and/or <script/> tags to the <head/>
        SHOULD BE USED SPARINGLY - if CSS or JS needs to be added, refer to Gadget.css and Gadget.js, respectively
    contextNav (from /templates/base.html)
        Used to add/modify the context menu items
    baseContent (from /templates/base.html)
        Content that appears in the <body/> of the document. Is wrapped within <div#globalwrap/> and appears after <div#sitenav/>
        **NOTE: using baseContent will OVERRIDE bodyContent unless a bodyContent block is contained within**
    modalsIncluded (from /templates/base.html)
        Used specifically to contain the HTML for modals used by Bootstrap
        This content is hidden by default, is wrapped within a <div/> after <div#globalwrap/> and appears before any end scripts
    endScripts (from /templates/base.html)
        Used to include additional <script/> for the page
        Appears outside of <div#globalwrap/>, after any global <script/> and before the closing <body/> tag

==Blocks Provided==
    pageTitle (from /templates/projects/base.html)
        Supplies text to be displayed at the top of the page below the global nav bar
        Appears in <h1#pagetitle/> within <header#pageheader>
    bodyContent (from /templates/projects/base.html)
        Used to display any and all of the pages content
        Appears within <div#maincontent>
        **NOTE: made available by baseContent - if baseContent is defined within the template,bodyContent will not be displayed unless contained within baseContent**
{% endcomment %}

{% block bodyClass %}page-charts{% endblock %}
{% block baseContent %}
<div id="maincontent" class="container">
    <header id="pageheader">
        <h1 id="pagetitle" class="page-header">
            {% block pageTitle %}Charts{% endblock %}
        </h1>
    </header>
    <div id="pagemessage"></div>
    {% block bodyContent %}{% endblock %}
</div>
{% endblock %}