{% extends "base.html" %}
{% load set_var %}
{% load staticfiles %}

{% comment %}
Extends /templates/base.html
Used for all templates in /templates/projects

==Blocks Available==
    additionalHead (from /templates/base.html)
        Used to add additional <link/>, <style/>, and/or <script/> tags to the <head/>
        SHOULD BE USED SPARINGLY - if CSS or JS needs to be added, refer to Gadget.css and Gadget.js, respectively
    contextNav (from /templates/base.html)
        Used to add/modify the context menu items
    baseContent (from /templates/base.html)
        Content that appears in the <body/> of the document. Is wrapped within <div#globalwrap/> and appears after <div#sitenav/>
        **NOTE: using baseContent will OVERRIDE bodyContent unless a bodyContent block is contained within**
    modalsIncluded (from /templates/base.html)
        Used specifically to contain the HTML for modals used by Bootstrap
        This content is hidden by default, is wrapped within a <div/> after <div#globalwrap/> and appears before any end scripts
    endScripts (from /templates/base.html)
        Used to include additional <script/> for the page
        Appears outside of <div#globalwrap/>, after any global <script/> and before the closing <body/> tag

==Blocks Provided==
    pageTitle (from /templates/projects/base.html)
        Supplies text to be displayed at the top of the page below the global nav bar
        Appears in <h1#pagetitle/> within <header#pageheader>
    bodyContent (from /templates/projects/base.html)
        Used to display any and all of the pages content
        Appears within <div#maincontent>
        **NOTE: made available by baseContent - if baseContent is defined within the template,bodyContent will not be displayed unless contained within baseContent**
{% endcomment %}

{% block additionalHead%}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock%}

{% block contextNav %}
    <li class="nav-header">All</li>
        <li><a href="{% url 'charts.views.projects_chart'%}">Projects</a></li>
        <li><a href="{% url 'charts.views.home'%}">Issues</a></li>
    <li class="nav-header">Issues by Project</li>
    {% for project in projects%}
        <li><a href="{% url 'charts.views.issues_by_project_chart' project.id %}">{{project.name}}</a></li>
    {% endfor %}
    <li class="nav-header">Issues by User</li>
    <li><a href="{% url 'charts.views.users_chart' %}">All</a></li>
    {% for user in users%}
        <li><a href="{% url 'charts.views.issues_by_user_chart' user.id %}">{{user.username}}</a></li>
    {% endfor %}
    <li><a href="{% url 'charts.views.unassigned_issues_chart' %}">Not Assigned</a></li>
{% endblock%}

{% block bodyClass %}page-charts{% endblock %}
{% block baseContent %}
<div id="maincontent" class="container">
    <header id="pageheader">
        <h1 id="pagetitle" class="page-header">
            {% block pageTitle %}Charts{% endblock %}
        </h1>
    </header>
    <div id="pagemessage"></div>
    {% block bodyContent %}{% endblock %}
</div>


{% endblock %}

{% block sharedScripts%}
    <script src="{% static 'js/jquery.fn.gantt.min.js' %}"></script>
    <script language="javascript" type="text/javascript">
        var issues = JSON.parse('{{issues|escapejs|safe}}'), source = [], review_source = [], projects = {}, users = {}, projects_review = {}, users_review = {}, first_of_project = false, first_of_project_review = false, first_of_users_review = false, first_of_users = false, 
            gantt_labels = {0: "ganttBlue", 1: "ganttGreen", 2:"ganttOrange"}, review_chart_rendered = false,
            project_counter = 0, user_counter = 0, project_review_counter = 0, user_review_counter = 0;

            $(document).ready(function(){
            $('#switch_view_button').click(function(){
                if( $('#gantt_planning_container').css('display') != 'none'){
                    $('#gantt_planning_container').fadeToggle(function(){
                        $('#gantt_review_container').fadeToggle();
                        if(!review_chart_rendered && review_source.length > 0){
                            $("#gantt_review").gantt({
                                source:review_source,
                                scale: "days",
                                minScale: "days",
                                navigate: "scroll",
                                itemsPerPage: 30,
                                onItemClick: function(data){
                                    window.location = "/issue/" + data['id'];
                                }
                            });
                            review_chart_rendered = true;
                        }
                    });
                }
                else{
                    $('#gantt_review_container').fadeToggle(function(){
                        $('#gantt_planning_container').fadeToggle()
                    });
                }
            });
        });

        function drawPlanningGanttObject(issue, gantt_desc, gantt_name, gantt_label, customClass){
            var start_time, end_time, label, end_earlier_than_start = false, error_description = "";

            if(gantt_label == 'None'){
                label = 'Assign';
            }
            else{
                label = gantt_label;
            }

            if(issues[issue]['projected_start'] == 'None'){
                start_time = new Date(issues[issue]['created']);
                error_description = 'No Projected Start Date';
            }
            else{
                start_time = new Date(issues[issue]['projected_start']);
            }

            if(issues[issue]['projected_end'] == 'None'){
                end_time = new Date();
                error_description = 'No Projected End Date';
            }
            else{
                end_time = new Date(issues[issue]['projected_end']);
            }

            if(issues[issue]['projected_end'] == 'None' && issues[issue]['projected_start'] == 'None'){
                error_description = "No Projected Start and Projected End Date";
            }

            if(end_time < start_time){
                var temp_time;
                end_earlier_than_start = true;
                error_description = "End time earlier than Start time";
                temp_time = end_time;
                end_time = start_time;
                start_time = temp_time;
            }

            var start_friendly = "/Date(" + start_time.getTime() + ")/",
                end_friendly = "/Date(" + end_time.getTime() + ")/", values = [];

            var values_dict = {
                from:start_friendly,
                to: end_friendly,
                label:label,
                desc:issues[issue]['description'],
                customClass:gantt_labels[customClass],
                dataObj: {'id': issues[issue]['id']},
            }; 

            if(issues[issue]['projected_end'] == 'None' || end_earlier_than_start){
                values_dict['customClass'] = 'ganttRed';
                values_dict['desc'] = error_description;
            }

            values.push(values_dict);

            var gantt_item_dict = {
                values: values,
            };

            if(gantt_desc){
                gantt_item_dict['desc'] = gantt_desc;  
            }
            if(gantt_name){

                gantt_item_dict['name'] = gantt_name;
            }

            return gantt_item_dict;
        }

        function drawReviewGanttObject(issue, gantt_desc, gantt_name, gantt_label, customClass){
            var start_time,end_time, label, end_earlier_than_start = false, error_description = "";

            if(gantt_label == 'None'){
                label = 'Assign';
            }
            else{
                label = gantt_label;
            }

            if(issues[issue]['actual_end'] == 'None'){
                end_time = new Date();
                error_description = 'No Actual End Date';
            }
            else{
                end_time = new Date(issues[issue]['actual_end']);
            }

            if(issues[issue]['actual_start'] == 'None'){
                start_time = new Date(issues[issue]['created']);
                error_description = 'No Actual Start Date';
            }
            else{
                start_time = new Date(issues[issue]['actual_start']);
            }

            if(issues[issue]['actual_start'] == 'None' && issues[issue]['actual_end'] == 'None'){
                error_description = 'No Actual Start and Actual End Date';
            }

            if(end_time < start_time){
                var temp_time;
                end_earlier_than_start = true;
                error_description = "End time earlier than Start time";
                temp_time = end_time;
                end_time = start_time;
                start_time = temp_time;
            }

            var start_friendly = "/Date(" + start_time.getTime() + ")/",
                end_friendly = "/Date(" + end_time.getTime() + ")/", values = [];

            var values_dict = {
                from:start_friendly,
                to: end_friendly,
                label:label,
                desc:issues[issue]['description'],
                customClass:gantt_labels[customClass],
                dataObj: {'id': issues[issue]['id']},
            };

            if(issues[issue]['actual_end'] == 'None' || end_earlier_than_start){
                values_dict['customClass'] = 'ganttRed';
                values_dict['desc'] = error_description;
            }

            values.push(values_dict);

            var gantt_item_dict = {
                values: values,
            };

            if(gantt_desc){
                gantt_item_dict['desc'] = gantt_desc;  
            }
            if(gantt_name){
                gantt_item_dict['name'] = gantt_name;
            }

            return gantt_item_dict;
        }
    </script>
{% endblock %}

