{% extends "charts/base.html" %}
{% load staticfiles %}

{% block pageTitle %}
Charts
{% endblock %}

{% block additionalHead%}
    <style type="text/css">
    </style>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock%}


{% block contextNav %}
    <li class="nav-header">All</li>
        <li><a href="{% url 'charts.views.projects_chart'%}">Projects</a></li>
        <li><a href="{% url 'charts.views.home'%}">Issues</a></li>
    <li class="nav-header">Issues by Project</li>
    {% for project in projects%}
        <li><a href="{% url 'charts.views.issues_by_project_chart' project.id %}">{{project.name}}</a></li>
    {% endfor %}
    <li class="nav-header">Issues by User</li>
    <li><a href="{% url 'charts.views.users_chart' %}">All</a></li>
    {% for user in users%}
        <li><a href="{% url 'charts.views.issues_by_user_chart' user.id %}">{{user.username}}</a></li>
    {% endfor %}
    <li><a href="{% url 'charts.views.unassigned_issues_chart' %}">Not Assigned</a></li>
{% endblock%}

{% block bodyContent %}
<div class="span12 well" style="height:700px">
    <a id="switch_view_button">Switch View</a>
    <div id="gantt_planning_container">
        <h3>Planning</h3>
        <div id="gantt_planning"></div>
    </div>
    <div id="gantt_review_container" style="display:none">
        <h3>Review</h3>
        <div id="gantt_review"></div>
    </div>
</div>
{% endblock %}

{% block endScripts%}
    <script src="{% static 'js/jquery.fn.gantt.min.js' %}"></script>
    <script language="javascript" type="text/javascript">
        var issues = JSON.parse('{{issues|escapejs|safe}}'), source = [], review_source = [], review_chart_rendered = false;
        $(document).ready(function(){
            $('#switch_view_button').click(function(){
                if( $('#gantt_planning_container').css('display') != 'none'){
                    $('#gantt_planning_container').fadeToggle(function(){
                        $('#gantt_review_container').fadeToggle()
                        if(!review_chart_rendered){
                            $("#gantt_review").gantt({
                                source:review_source,
                                scale: "days",
                                minScale: "days",
                                navigate: "scroll",
                                itemsPerPage: 30,
                                onItemClick: function(data){
                                    window.location = "/issue/" + data['id'];
                                }
                            });
                            review_chart_rendered = true;
                        }
                    });
                }
                else{
                    $('#gantt_review_container').fadeToggle(function(){
                        $('#gantt_planning_container').fadeToggle()
                    });
                }
            });
        });

        function drawPlanningGanttObject(issue){
            var start_time, end_time, label;

            if(issues[issue]['assigned_to'] == 'None'){
                label = 'Assign';
            }
            else{
                label = issues[issue]['assigned_to'];
            }

            if(issues[issue]['projected_start'] == 'None'){
                start_time = new Date();
                label = 'No Start Date';
            }
            else{
                start_time = new Date(issues[issue]['projected_start']);
            }

            if(issues[issue]['projected_end'] == 'None'){
                end_time = new Date();
                label = 'No End Date';
            }
            else{
                end_time = new Date(issues[issue]['projected_end']);
            }

            if(issues[issue]['projected_end'] == 'None' && issues[issue]['projected_start'] == 'None'){
                label = "No Start and End Date";
            }   


            var start_friendly = "/Date(" + start_time.getTime() + ")/",
                end_friendly = "/Date(" + end_time.getTime() + ")/", values = [];

            var values_dict = {
                from:start_friendly,
                to: end_friendly,
                label:label,
                desc:issues[issue]['description'],
                dataObj: {'id': issues[issue]['id']},
            };

            if(issues[issue]['projected_end'] == 'None'){
                values_dict['customClass'] = 'ganttRed';
            }

            values.push(values_dict);

            var gantt_item_dict = {
                name: issues[issue]['summary'],
                values: values,
            };

            return gantt_item_dict;
        }

        function drawReviewGanttObject(issue){
            var start_time, end_time, label;

            if(issues[issue]['assigned_to'] == 'None'){
                label = 'Assign';
            }
            else{
                label = issues[issue]['assigned_to'];
            }

            if(issues[issue]['actual_end'] == 'None'){
                end_time = new Date();
                label = 'No End Date'
            }
            else{
                end_time = new Date(issues[issue]['actual_end'])
            }

            if(issues[issue]['actual_start'] == 'None'){
                start_time = new Date(issues[issue]['created']);
                label = 'No Start Date'
            }
            else{
                start_time = new Date(issues[issue]['actual_start'])
            }

            if(issues[issue]['actual_start'] == 'None' && issues[issue]['actual_end']){
                label = 'No Start and End Date'
            }

            var start_friendly = "/Date(" + start_time.getTime() + ")/",
                end_friendly = "/Date(" + end_time.getTime() + ")/", values = [];

            var values_dict = {
                from:start_friendly,
                to: end_friendly,
                label:label,
                desc:issues[issue]['description'],
                dataObj: {'id': issues[issue]['id']},
            };

            if(issues[issue]['projected_end'] == 'None'){
                values_dict['customClass'] = 'ganttRed';
            }

            values.push(values_dict);

            var gantt_item_dict = {
                name: issues[issue]['summary'],
                values: values,
            };

            return gantt_item_dict;
        }

        $(function(){
            for(issue in issues){
                gantt_item_dict = drawPlanningGanttObject(issue);
                review_gantt_item_dict = drawReviewGanttObject(issue);

                source.push(gantt_item_dict);
                review_source.push(review_gantt_item_dict)
            }

            $("#gantt_planning").gantt({
                source:source,
                scale: "weeks",
                minScale: "days",
                navigate: "scroll",
                itemsPerPage: 30,
                onItemClick: function(data){
                        window.location = "/issue/" + data['id'];
                }
            });
        });

    </script>

{% endblock %}
