{% extends "charts/base.html" %}
{% load staticfiles %}

{% block pageTitle %}
Charts
{% endblock %}

{% block additionalHead%}
    <style type="text/css">
    </style>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock%}


{% block contextNav %}
    <li class="nav-header">All</li>
        <li><a href="{% url 'charts.views.projects_chart'%}">Projects</a></li>
        <li><a href="{% url 'charts.views.home'%}">Issues</a></li>
    <li class="nav-header">Issues by Project</li>
    {% for project in projects%}
        <li><a href="{% url 'charts.views.issues_by_project_chart' project.id %}">{{project.name}}</a></li>
    {% endfor %}
    <li class="nav-header">Issues by User</li>
    {% for user in users%}
        <li><a href="{% url 'charts.views.issues_by_user_chart' user.id %}">{{user.username}}</a></li>
    {% endfor %}
{% endblock%}

{% block bodyContent %}
<div class="span12 well" style="height:700px">
    <div id="gantt01"></div>
</div>
{% endblock %}

{% block endScripts%}
    <script src="{% static 'js/jquery.fn.gantt.min.js' %}"></script>
    <script language="javascript" type="text/javascript">
        var issues = JSON.parse('{{issues|safe}}'), source = [], projects = {}, 
        project_labels = {0: "ganttRed", 1: "ganttGreen", 2:"ganttOrange"}, counter = 0;

        $(function(){
            for(issue in issues){
                if(projects[issues[issue]['project']] == undefined){
                    projects[issues[issue]['project']] = counter;
                    counter++;
                }

                var start_time = new Date(issues[issue]['created']),
                    end_time = new Date(issues[issue]['projected_end']);

                var start_friendly = "/Date(" + start_time.getTime() + ")/",
                    end_friendly = "/Date(" + end_time.getTime() + ")/", values = [];

                var values_dict = {
                    from:start_friendly,
                    to: end_friendly,
                    label: issues[issue]['project_name'],
                    desc:issues[issue]['description'],
                    customClass:project_labels[issues[issue]['project']],
                    dataObj: {'id': issues[issue]['id']},
                };

                values.push(values_dict);

                var gantt_item_dict = {
                    name: issues[issue]['summary'],
                    values: values,
                };

                source.push(gantt_item_dict);
            }

            $("#gantt01").gantt({
                source:source,
                scale: "days",
                minScale: "days",
                navigate: "scroll",
                itemsPerPage: 15,
                onItemClick: function(data){
                    window.location = "/issue/" + data['id'];
                }
            });

        });
        //$('#gantt01').addTask({ 'titles': 'Task04', 'start_date': '20130816', 'end_date': '20130828' });
    </script>

{% endblock %}
