{% extends "charts/base.html" %}
{% load staticfiles %}

{% block pageTitle %}
Charts
{% endblock %}


{% block bodyContent %}
<div class="span12 well chart-container">
    <a id="switch_view_button">Switch View</a>
    <div id="gantt_planning_container">
        <h3>Planning</h3>
        <div id="gantt_planning"></div>
    </div>
    <div id="gantt_review_container" style="display:none">
        <h3>Review</h3>
        <div id="gantt_review"></div>
    </div>
</div>
{% endblock %}

{% block endScripts%}
    <script src="{% static 'js/jquery.fn.gantt.min.js' %}"></script>
    <script language="javascript" type="text/javascript">
        $(function(){
            for(issue in issues){
                gantt_item_dict = drawPlanningGanttObject(issue, false, issues[issue]['summary'], issues[issue]['assigned_to'] );
                review_gantt_item_dict = drawReviewGanttObject(issue,false , issues[issue]['summary'], issues[issue]['assigned_to'] );

                source.push(gantt_item_dict);
                review_source.push(review_gantt_item_dict)
            }

            $("#gantt_planning").gantt({
                source:source,
                scale: "weeks",
                minScale: "days",
                navigate: "scroll",
                itemsPerPage: 30,
                onItemClick: function(data){
                        window.location = "/issue/" + data['id'];
                }
            });
        });

    </script>

{% endblock %}
