{% extends "charts/base.html" %}
{% load staticfiles %}

{% block pageTitle %}
Charts
{% endblock %}

{% block additionalHead%}
    <style type="text/css">
    </style>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock%}


{% block contextNav %}
    <li class="nav-header">All</li>
        <li><a href="{% url 'charts.views.projects_chart'%}">Projects</a></li>
        <li><a href="{% url 'charts.views.home'%}">Issues</a></li>
    <li class="nav-header">Issues by Project</li>
    {% for project in projects%}
        <li><a href="{% url 'charts.views.issues_by_project_chart' project.id %}">{{project.name}}</a></li>
    {% endfor %}
    <li class="nav-header">Issues by User</li>
    <li><a href="{% url 'charts.views.users_chart' %}">All</a></li>
    {% for user in users%}
        <li><a href="{% url 'charts.views.issues_by_user_chart' user.id %}">{{user.username}}</a></li>
    {% endfor %}
    <li><a href="{% url 'charts.views.unassigned_issues_chart' %}">Not Assigned</a></li>
{% endblock%}

{% block bodyContent %}
<div class="span12 well" style="height:700px">
    <div id="gantt_chart"></div>

</div>
{% endblock %}

{% block endScripts%}
    <script src="{% static 'js/jquery.fn.gantt.min.js' %}"></script>
    <script language="javascript" type="text/javascript">
        var projects = JSON.parse('{{projects_dict|safe}}'), source = [], project_labels = {0: "ganttBlue", 1: "ganttGreen", 2:"ganttOrange"}, counter = 0;

        $(function(){
            for(project in projects){
                if(counter > 2){
                    counter = 0;
                }
                var start_time = new Date(projects[project]['created']),
                    end_time = new Date(projects[project]['potential_end_date']);

                var start_friendly = "/Date(" + start_time.getTime() + ")/",
                    end_friendly = "/Date(" + end_time.getTime() + ")/", values = [];

                var values_dict = {
                    from:start_friendly,
                    to: end_friendly,
                    desc:projects[project]['description'],
                    label:projects[project]['name'],
                    customClass: project_labels[counter],
                    dataObj: {'id': projects[project]['id']}
                };

                values.push(values_dict);

                var gantt_item_dict = {
                    name: projects[project]['name'],
                    values: values,
                };

                source.push(gantt_item_dict);
                counter++;
            }

            $("#gantt_chart").gantt({
                source:source,
                scale: "days",
                minScale: "days",
                navigate: "scroll",
                itemsPerPage: 15,
                onItemClick: function(data){
                    window.location = "/charts/project/" + data['id'] + "/issues_chart";
                }
            });

        });
        //$('#gantt01').addTask({ 'titles': 'Task04', 'start_date': '20130816', 'end_date': '20130828' });
    </script>

{% endblock %}
