{% extends "charts/base.html" %}
{% load staticfiles %}

{% block pageDescription %} All Users{% endblock%}

{% block bodyContent %}
<div class="span12 well chart-container">
    <a id="switch_view_button">Switch View</a>
    <div id="gantt_planning_container">
        <h3>Planning</h3>
        <div id="gantt_planning"></div>
    </div>
    <div id="gantt_review_container">
        <h3>Review</h3>
        <div id="gantt_review"></div>
    </div>
</div>
{% endblock %}

{% block endScripts%}
    <script src="{% static 'js/jquery.fn.gantt.min.js' %}"></script>
    <script language="javascript" type="text/javascript">
        $(function(){
            for(issue in issues){
                if(issues[issue]['status'] == 'fixed' || issues[issue]['status'] == 'wont_fix' || issues[issue]['status'] == 'not_a_bug'){
                    if(users_review[issues[issue]['assigned_to']] == undefined){
                        users_review[issues[issue]['assigned_to']] = user_review_counter;
                        user_review_counter++;
                        first_of_users_review = true;
                        if(user_review_counter > 2){
                            user_review_counter = 0;
                        }
                        projects_review = {}; 
                        first_of_project_review = true;  
                    }

                    if(projects_review[issues[issue]['project']] == undefined){
                        projects_review[issues[issue]['project']] = project_review_counter;
                        project_review_counter++;
                        first_of_project_review = true;
                        if(project_review_counter > 2){
                            project_review_counter = 0;
                        }
                    }
                    review_gantt_item_dict = drawReviewGanttObject(issue, issues[issue]['project_name'] ,issues[issue]['assigned_to']  , issues[issue]['summary'], users[issues[issue]['assigned_to']]);

                    if(first_of_users_review == true){
                        var user_label;
                        if(issues[issue]['assigned_to'] == 'None'){
                            user_label = 'Not Assigned';
                        }
                        else{
                            user_label = issues[issue]['assigned_to']
                        }
                        review_gantt_item_dict['name'] = user_label;
                        first_of_users_review = false;
                    }
                    else{
                        review_gantt_item_dict['name'] = "";
                    }

                    if(first_of_project_review == true){
                        review_gantt_item_dict['desc'] = issues[issue]['project_name'];
                        first_of_project_review = false;
                    }
                    else{
                        review_gantt_item_dict['desc'] = "";
                    }

                    review_source.push(review_gantt_item_dict);
                }
                else{
                    if(users[issues[issue]['assigned_to']] == undefined){
                        users[issues[issue]['assigned_to']] = user_counter;
                        user_counter++;
                        first_of_users = true;
                        if(user_counter > 2){
                            user_counter = 0;
                        }
                        projects = {}; 
                        first_of_project = true;  
                    }

                    if(projects[issues[issue]['project']] == undefined){
                        projects[issues[issue]['project']] = project_counter;
                        project_counter++;
                        first_of_project = true;
                        if(project_counter > 2){
                            project_counter = 0;
                        }
                    }
                    gantt_item_dict = drawPlanningGanttObject(issue, issues[issue]['project_name'],issues[issue]['assigned_to'], issues[issue]['summary'], users[issues[issue]['assigned_to']] );

                    if(first_of_users == true){
                        var user_label;
                        if(issues[issue]['assigned_to'] == 'None'){
                            user_label = 'Not Assigned';
                        }
                        else{
                            user_label = issues[issue]['assigned_to']
                        }
                        gantt_item_dict['name'] = user_label;
                        first_of_users = false;
                    }
                    else{
                        gantt_item_dict['name'] = "";
                    }

                    if(first_of_project == true){
                        gantt_item_dict['desc'] = issues[issue]['project_name'];
                        first_of_project = false;
                    }
                    else{
                        gantt_item_dict['desc'] = "";
                    }
                    source.push(gantt_item_dict);
                }
            }

            $("#gantt_planning").gantt({
                source:source,
                scale: "weeks",
                minScale: "days",
                navigate: "scroll",
                itemsPerPage: 50,
                onItemClick: function(data){
                    window.location = "/issue/" + data['id'];
                }
            });

        });
    </script>

{% endblock %}
