{% extends "base.html" %}

{% block context_nav %}
    <a href="/help/new">Ask a Question</a>
    <a href="/help/complete">All Past Questions</a>
    <a href="/help/pending">Unanswered Questions</a>
{% endblock %}

{% block container %}
<h2>Unresolved Questions</h2>
<table>
	<tr>
		<td>User:</td>
		<td>Date Asked:</td>
		<td>Answered:</td>
	</tr>
	{% for help in form %}
	<tr>
		<td>{{help.user}}</td>
		<td>{{help.request_init}}</td>
		<td>{{help.status}}</td>
	</tr>
	{% endfor %}
</table>
{% endblock %}