{% extends "helpdesknew/base.html" %}

{% block contextNav %}
    <li><a href="/help/new">Ask a Question</a></li>
    <li><a href="/help/resolved">Resolved Questions</a></li>
    <li><a href="/help/pending">Unresolved Questions</a></li>
    <li><a href="/help/user">Your Questions</a></li>
{% endblock %}

{% block bodyContent %}
	{% if user.is_staff %}
		{% if help.status == "('resolved', 'Resolved')" %}
			<form action="{{help.id}}" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<table>
					<tr>
						<td>
							{{help.name}}
						</td>
					</tr>
					<tr>
						<td>{{help.questiom}}</td>
					</tr>
				</table>
				<input type="submit" value="Lock Question"/>
			</form>
		{% elif help.status == "('closed', 'Closed')" %}
			<form action="{{help.id}}" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<table>
					<tr>
						<td>
							{{help.name}}
						</td>
					</tr>
					<tr>
						<td>{{help.questiom}}</td>
					</tr>
				</table>
				<input type="submit" value="Unlock Question"/>
			</form>
		{% else %}
			<p>A question must be either CLOSED or RESOLVED to use this feature</p>
			<a href="/help/{{help.id}}">Click here to return to question overview</a>
		{% endif %}
	{% else %}
		<h2>Administrator Access Required</h2>
	{% endif %}
{% endblock %}