{% extends "base.html" %}

{% block contextNav %}
    <li><a href="/help/new">Ask a Question</a></li>
    <li><a href="/help/resolved">Resolved Questions</a></li>
    <li><a href="/help/pending">Unresolved Questions</a></li>
    <li><a href="/help/user">Your Questions</a></li>
{% endblock %}

{% block style %}
#image_upload_preview{
    opacity: 0;
}
{% endblock %}

{% block bodyContent %}
<h2>Question Edit</h2>
{% if user.id == help.user.id %}
	<form action="{{help.id}}" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<b>Edit Summary</b></br>
		{{form.name}}</br>
		<b>Edit Description</b></br>
		{{form.question}}</br>
		<b>Upload Screenshot(s)</b></br>
		<input type='file' name='myfiles' multiple/>
	    <input type='hidden' name="user" id="id_user" value='{{help.user.id}}'/><br>
		<input type="submit" value="Submit Changes">
	</form>
{% else %}
	<p>You're not {{help.user}}!</p>
	<p>You don't belong here!</p>
	<p>Only OP can edit this post</p>
{% endif %}
{% endblock %}