{% extends "base.html" %}

{% block context_nav %}
    <li><a href="/help/new">Ask a Question</a></li>
    <li><a href="/help/resolved">Resolved Questions</a></li>
    <li><a href="/help/pending">Unresolved Questions</a></li>
    <li><a href="/help/user">Your Questions</a></li>
{% endblock %}

{% block basecontent %}
<h2>Comment Edit</h2>
{% if user.id == comment.user.id %}
	<form action="{{comment.id}}" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		{{form.response}}
		<input type='hidden' name="helprequest" id="id_helprequest" value='{{comment.helprequest.id}}'/>
		<input type='hidden' name="user" id="id_user" value='{{comment.user.id}}'/>
		<input type="submit" value="Submit Changes">
	</form>
{% else %}
	<p>Error - you can only edit content submitted under your account</p>
	<a href="/help/{{comment.helprequest.id}}">Click here to return to question overview page</a>
{% endif %}
{% endblock %}