{% extends "helpdesknew/base.html" %}

{% block pageTitle %}
Edit Comment
{% endblock %}

{% block contextNav %}
    <li><a href="{% url 'helpdesknew.views.help_form' %}">Ask a Question</a></li>
    <li><a href="{% url 'helpdesknew.views.get_resolved' %}">Resolved Questions</a></li>
    <li><a href="{% url 'helpdesknew.views.get_pending' %}">Unresolved Questions</a></li>
    <li><a href="{% url 'helpdesknew.views.user_help' %}">Your Questions</a></li>
{% endblock %}

{% block bodyContent %}
{% if user.id == comment.user.id %}
	<form action="{{comment.id}}" method="post" enctype="multipart/form-data" class="span6">
		{% csrf_token %}
		{{form.response}}
		<input type='hidden' name="helprequest" id="id_helprequest" value='{{comment.helprequest.id}}'/>
		<input type='hidden' name="user" id="id_user" value='{{comment.user.id}}'/>
		<input type="submit" value="Submit Changes" class="btn btn-primary">
	</form>
{% else %}
	<p>Error - you can only edit content submitted under your account</p>
	<a href="{% url 'helpdesknew.views.get_help' comment.helprequest.id %}">Click here to return to question overview page</a>
{% endif %}
{% endblock %}