{% extends "helpdesknew/base.html" %}

{% block pageTitle %}
Edit Question
{% endblock %}

{% block contextNav %}
    <li><a href="{% url 'helpdesknew.views.help_form' %}">Ask a Question</a></li>
    <li><a href="{% url 'helpdesknew.views.get_resolved' %}">Resolved Questions</a></li>
    <li><a href="{% url 'helpdesknew.views.get_pending' %}">Unresolved Questions</a></li>
    <li><a href="{% url 'helpdesknew.views.user_help' %}">Your Questions</a></li>
{% endblock %}

{% block additionalHead %}
<style>
#image_upload_preview{
    opacity: 0;
}
</style>
{% endblock %}

{% block bodyContent %}
{% if user.id == help.user.id %}
	<form action="{{help.id}}" method="post" enctype="multipart/form-data" class="form-horizontal span6">
		{% csrf_token %}
		
		<div class="control-group">
            <label class="control-label" for="id_name">Edit Summary:</label>
            <div class="controls">{{form.name}}</div>
        </div>
        <div class="control-group">
            <label class="control-label" for="id_question">Edit Description:</label>
            <div class="controls">{{form.question}}</div>
        </div>
        <div class="control-group">
            <label class="control-label">Upload Screenshot(s):</label>
            <div class="controls"><input type="file" name="myfiles" multiple></div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input type="submit" name='submit' value="Submit Changes" class="btn btn-primary" />
            </div>
        </div>
        <input type='hidden' name="user" id="id_user" value='{{help.user.id}}'/><br>
	</form>
{% else %}
	<p>You're not {{help.user}}!</p>
	<p>You don't belong here!</p>
	<p>Only OP can edit this post</p>
{% endif %}
{% endblock %}