{% extends "base.html" %}

{% block context_nav %}
    <a href="/help/new">Ask a Question</a>
    <a href="/help/resolved">Resolved Questions</a>
    <a href="/help/pending">Unresolved Questions</a>
    <a href="/help/user/{{user.id}}">Your Questions</a>
{% endblock %}

{% block style %}
#image_upload_preview{
    opacity: 0;
}
{% endblock %}

{% block extra_head%}
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('#id_photo').click(function(){
            $('#image_upload_preview').fadeTo("fast", 1);
        });
    });
    function readImage(input){
        if(input.files && input.files[0]){
            var reader = new FileReader();
            reader.onload = function(e){
                $('#image_upload_preview').attr('src', e.target.result).width('100').height('100');
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
{% endblock %}

{% block container %}
<h2>Question Edit</h2>
<form action="{{help.id}}" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<b>Edit Summary</b></br>
	{{form.name}}</br>
	<!--<input type="text" name="help-summary" maxlength="255" id="id_name" value="{{help.name}}"></br>-->
	<b>Edit Description</b></br>
	{{form.question}}</br>
	<!--<input type="textarea" name="help-edit" id="id_question" rows="10" cols="20">{{help.question}}</textarea></br>-->
	<!--<b>Upload New Image Will Overwrite Current Image)</b></br>
	<input type='file' id='id_photo' name='photo' onchange="readImage(this);" value="{{help.photo}}"/></br>
    <img id="image_upload_preview" src="noimage.jpg" alt="your image" border="1" /></br>-->
    <input type='hidden' name="user" id="id_user" value='{{help.user.id}}'/><br>
	<input type="submit" value="Submit Changes">
</form>
{% endblock %}