{% extends "theme/default/base-helpdesk.html" %}

{% block context_nav %}
    <li><a href="/help/new">Ask a Question</a></li>
    <li><a href="/help/resolved">Resolved Questions</a></li>
    <li><a href="/help/pending">Unresolved Questions</a></li>
    <li><a href="/help/user">Your Questions</a></li>
    <li><a href="/help/edit/{{help.id}}">Edit Question</a></li>
    {% if user.is_staff %}
    <li><a href="/help/close_question_91990/{{help.id}}">Admin - Close Question</a></li>
    {% endif %}
{% endblock %}

{% block container %}
	<article class="row">
		<div id="issue-column-main" class="span12 metainfo-maincolumn">
			<div id="issue-details" class="well">
				<div class="media">
					<div class="media-body">
						<h3 class="media-header">Question</h3>
						{{help.question}}
					</div>
				</div>
				<div class="media">
					<div class="media-body">
						<h3 class="media-header">Attached Images</h3>
						<ul class="thumbnails">
							{% for image in images %}
							<li class="span2">
								<a class="thumbnail" href="#{{image.photo|slugify}}" data-toggle="lightbox"><img src="/static/{{image.photo}}"></a>
							</li>
							{% endfor %}
						</ul>
					</div>
				</div>
				{% for arrow in answer %}
					<div class="media">
						<div class="media-body">
							<h3 class="media-heading">Answer</h3>
							{% if user.id == help.user.id and help.status != "('closed', 'Closed')" or user.is_staff %}
								<form action="/help/mark_the_input/{{arrow.id}}" method="POST" enctype="multipart/form-data" class="pull-right" style="margin:0;">
									{% csrf_token %}
									<button type="submit" class="btn btn-mini btn-danger">Remove Answer</button>
								</form>
							{% endif %}

							{% if user.id == help.user.id %}
								{% if help.ack_response %}
									<a href="/help/acknowledge/{{arrow.id}}" class="btn btn-mini pull-right">Edit Response</a>
								{% else %}
									<a href="/help/acknowledge/{{arrow.id}}" class="btn btn-mini pull-right">Respond to Answer</a>
								{% endif %}
							{% endif %}
							<p class="muted">Submitted by {{arrow.user}}</p>
							
							{{arrow.response}}

							{% if help.ack_response %}
							<br><br>
								<div class="media">
									<div style="width:32px;height:32px;" class="pull-left"></div>
									<div class="media-body">
										<h4 class="media-heading">Response to Answer</h4>
										<p class="muted">Submitted by {{help.user}}</p>
										{{help.ack_response}}
									</div>
								</div>
							{% endif %}
						</div>
					</div>
				{% endfor %}
			</div>

			<aside id="issue-comments" class="well">
				<header>
					<h3>Comments</h3>
				</header>
				<div id="issue-comments-add">
					<form class="form-inline" action="/help/response/{{help.id}}" method="POST" enctype="multipart/form-data">
						{% csrf_token %}
						<input type="hidden" name="helprequest" value="{{help.id}}">
						<input type="hidden" name="user" value="{{user.id}}">
						<div class="control-group">
							<label class="control-label" for="{{help_response.id}}">Comment</label>
							<div class="control-group">
								{{help_response.response}}
							</div>
						</div>
						<button type="submit" class="btn btn-primary">Submit</button>
					</form>
				</div>
				<ul id="issue-comments-list" class="media-list">
					{% for comment in comments%}
					<li class="media">
						<article id="issue-comment-{{comment.id}}" class="issue-comment" data-commentid="{{comment.id}}" data-commentuser="{{comment.user}}">
							<div class="media-body">
								<aside class="clearfix">
									<p class="muted">
										<span class="pull-left">{{comment.user}}</span>
										<span class="pull-right">{{comment.created}}</span>
									</p>
								</aside>
								{% if user.id == help.user.id and help.status != "('closed', 'Closed')" and help.status != "('resolved', 'Resolved')" or user.is_staff and help.status != "('closed', 'Closed')" and help.status != "('resolved', 'Resolved')" %}
									<form action="/help/mark_the_answer/{{comment.id}}" method="POST" enctype="multipart/form-data" style="margin:0; display:inline;" class="pull-right">
										{% csrf_token %}
										<button type="submit" class="btn btn-success btn-mini comment-markbutton">Mark as Answer</button>
									</form>
								{% endif %}
								<a class="btn btn-mini pull-right comment-editbutton" href="help/cmmtedit/{{comment.id}}"><i class="icon-edit"></i> Edit</a>
								<div class="comment-content">
									{{comment.response}}
								</div>
							</div>
						</article>
					</li>
					{% endfor %}
				</ul>
			</aside>
		</div>
{% endblock %}

{% block modalsincluded %}
{% for image in images %}
<div id="{{image.photo|slugify}}" class="lightbox hide fade">
	<div class="lightbox-content">
		<img src="/static/{{image.photo}}">
	</div>
</div>
{% endfor %}
{% endblock %}

{% block additionaljs %}
// Edit Comment - hide/show edit button
$('.issue-comment').on({
	mouseover: function(){
		$(this).addClass('show-editbutton');
	},
	mouseout: function(){
		$(this).removeClass('show-editbutton');
	}
});
{% endblock %}
