{% extends "helpdesknew/base.html" %}

{% block pageTitle %}
Ask A Question
{% endblock %}

{% block contextNav %}
    <li><a href="{% url 'helpdesknew.views.help_form' %}">Ask a Question</a></li>
    <li><a href="{% url 'helpdesknew.views.get_resolved' %}">Resolved Questions</a></li>
    <li><a href="{% url 'helpdesknew.views.get_pending' %}">Unresolved Questions</a></li>
    <li><a href="{% url 'helpdesknew.views.user_help' %}">Your Questions</a></li>
{% endblock %}

{% block additionalHead %}
<style>
#image_upload_preview{
    opacity: 0;
}
#summary_textfield{
    width: 100%;
}
#id_name{
    width: 100%;
}
</style>
{% endblock %}

{% block bodyContent %}

<form action="{% url 'helpdesknew.views.help_form' %}" method="post" enctype="multipart/form-data" class="form-horizontal span6">
    {% csrf_token %}
    <div class="control-group">
        <label class="control-label" for="id_name">Summary (required):</label>
        <div class="controls">
            {{form.name}}
            <ul class="media-list" id="similar_questions_results">
            </ul>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="id_question">Description:</label>
        <div class="controls">{{form.question}}</div>
    </div>
    <div class="control-group">
        <label class="control-label">Upload Screenshot(s):</label>
        <div class="controls"><input type="file" name="myfiles" multiple></div>
    </div>
    <div>
        <div class="controls">
            <input type="submit" name='submit' value="Submit" class="btn btn-primary" />
        </div>
    </div>
    <input type='hidden' name="user" id="id_user" value='{{user.id}}'/><br>
    
</form>
{% endblock %}

{% block endScripts %}
<!--<script src="http://code.jquery.com/jquery-1.9.1.js"></script>-->
<script type="text/javascript">
    $(document).ready(function(){
        $('#id_photo').click(function(){
            $('#image_upload_preview').fadeTo("fast", 1);
        });

        $('#id_name').keyup( $.debounce(350, getSimilarQuestions));
    });


    function returnModelLink(html_obj, model_dict){
        var headingText, descriptionText;

        switch(model_dict['model_type'])
        {
            case "Project":
                headingText = '<a href="/project/"' + model_dict['id'] + '">' + model_dict['name'] + '</a>'
                descriptionText = model_dict['description'];
                break;
            case "Issue":
                headingText = '<a href="/issue/"' + model_dict['id'] + '">' + model_dict['summary'] + '</a>'
                descriptionText = model_dict['description'];
                break;
            case "HelpRequest":
                headingText = '<a href="/help/"' + model_dict['id'] + '">' + model_dict['name'] + '</a>'
                descriptionText = model_dict['question'];
                break;
            case "HelpResponse":
                headingText = '<a href="/help/"' + model_dict['id'] + '">' + model_dict['helprequest'] + '</a>'
                descriptionText = model_dict['response'];
                break;
            case "FoodRequest":
                headingText = '<a href="/food/"' + model_dict['id'] + '">' + model_dict['quantity'] + ' ' + model_dict['quantity_type'] + '</a>'
                break;
            case "Notification":
                headingText = '<a href="/all/">' + model_dict['message'] + '</a>'
                descriptionText = model_dict['creator'];
                break;

        }

        var headingEl = $('<h5/>');
            headingEl.addClass('media-heading');
            headingEl.html(headingText);

        var descriptionEl = $('<div/>');
            descriptionEl.html(descriptionText);

        var bodyEl = $('<div/>');
            bodyEl.addClass('media-body');
            bodyEl.append(headingEl);
            bodyEl.append(descriptionEl);

        html_obj.append(bodyEl);
    }


    function getSimilarQuestions(){
        $.ajax({
                type: 'GET',
                url: '/search/',
                data:{
                    q: $('#id_name').val(),
                    ajax: "Yes",
                },
                success: function(data){
                    var media_list = $('#similar_questions_results');
                    media_list.empty();
                    for(result in data.results){
                        var li = $('<li/>');
                            li.addClass('media');

                        similar_search = data.results[result];
                        similar_search_container = returnModelLink(li, similar_search); 

                        media_list.append(li);

                    }
                },
                error: function(data){
                    //AlertMessage.error(data.responseJSON.response);
                    console.log(data.responseJSON.response)
                }
            });
    }

    function readImage(input){
        if(input.files && input.files[0]){
            var reader = new FileReader();
            reader.onload = function(e){
                $('#image_upload_preview').attr('src', e.target.result).width('100').height('100');
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
{% endblock %}