{% extends "base.html" %}


{% block context_nav %}
    <a href="/help/new">Ask a Question</a>
    <a href="/help/resolved">Resolved Questions</a>
    <a href="/help/pending">Unresolved Questions</a>
    <a href="/help/user">Your Questions</a>
{% endblock %}

{% block style %}
#image_upload_preview{
    opacity: 0;
}
{% endblock %}

{% block extra_head%}
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('#id_photo').click(function(){
            $('#image_upload_preview').fadeTo("fast", 1);
        });
    });
    function readImage(input){
        if(input.files && input.files[0]){
            var reader = new FileReader();
            reader.onload = function(e){
                $('#image_upload_preview').attr('src', e.target.result).width('100').height('100');
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
{% endblock %}

{% block container %}
<h2>Ask A Question</h2>
<form action="/help/new" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <!--{{photoset.management_form}}-->
    <table class="tbl-generic tbl-comments">
        <tr>
            <td>Summary (required):</td>
        </tr>
        <tr>
            <td>{{form.name}}</td>
        </tr>
        <tr>
            <td>Description:</td>
        </tr>
        <tr>
            <td><div class="comment_textarea">{{form.question}}</div></td>
        </tr>
        <tr>
            <td>Upload Screenshot(s):</td>
        </tr>
        <!--
        {% for photo in photoset %}
        <tr>
            <td><input title='Upload a Screenshot' type='submit' name='add_help_screenshot' value='Add screenshot'/></td>
        </tr>
        <tr>
            <td><input type='file' id='id_photo' name='photo' onchange='readImage(this);' /></td>
        </tr>
        {% endfor %}
        -->
        <tr>
            <td><input type='file' id='id_photo' name='photo' onchange="readImage(this);" /></td>
        </tr>
        <tr>
            <td><img id="image_upload_preview" src="" alt="your image" border="1" /></td>
        <tr>
    </table>
    <input type='hidden' name="user" id="id_user" value='{{user.id}}'/><br>
    <input type="submit" name='submit' value="Submit"/>
</form>
{% endblock %}