{% extends "base.html" %}

{% block context_nav %}
    <a href="/help/new">Ask a Question</a>
    <a href="/help/resolved">Resolved Questions</a>
    <a href="/help/pending">Unresolved Questions</a>
    <a href="/help/user/{{user.id}}">Your Questions</a>
{% endblock %}

{% block extra_head%}
<script type="text/javascript">
    function readImage(input){
        if(input.files && input.files[0]){
            var reader = new FileReader();
            reader.onload = function(e){
                $('#image_upload_preview').attr('src', e.target.result).width('100').height('100');
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
{% endblock %}

{% block container %}
<h2>Ask A Question</h2>
<form action="/help/new" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        <b>Summary (required):</b></br>
        {{form.name}}</br>
        <b>Description:</b></br>
        {{form.question}}</br>
        <!--<b>Upload a Screenshot:</b></br>
        {{form.photo}}</br>-->
        <b>Upload a Screenshot:</b></br>
        <form action="/temp" method="post">
        <input type='file' id='id_photo' name='photo' onchange="readImage(this);" /></br>
        <img id="image_upload_preview" src="noimage.jpg" alt="your image" border="1" />
    </table>
    <input type='hidden' name="user" id="id_user" value='{{user.id}}'/><br>
    <input type="submit" value="Submit"/>
</form>
{% endblock %}