{% extends "theme/default/base.html" %}

{% block context_nav %}
	<li><a href="/help/new">Ask a Question</a></li>
	<li><a href="/help/resolved">Resolved Questions</a></li>
	<li><a href="/help/pending">Unresolved Questions</a></li>
	<li><a href="/help/user">Your Questions</a></li>
{% endblock %}

{% block style %}
a.popup{
	position:relative;
	z-index:24;
	text-decoration:none;
}
a.popup:hover{
	z-index:25;
}
a.popup span{
	display:none;
}
a.popup:hover span{
	font-size:small;
	display:block;
	position:absolute;
	top:35px;
	left:15px;
	width:200px;
	padding:3px;
	border:1px solid #000000;
	background-color:#FFFFFF;
	word-break: break-all;
}
img.pending-image-help{
	width:200px;
	height:200px;
}
{% endblock %}

{% block container %}
<h2>All Questions from {{myuser.username}}</h2>
	{% if responses or answers or more_answers %}
		<table class="tbl-generic tbl-overview">
			<tr>
				<td class="tbl-fauxth" colspan=3><h3>Pending</h3></td>
			</tr>
			{% if responses %}
				<tr class="tbl-rowheader">
					<td class="tbl-fauxth">Summary</td>
					<td class="tbl-fauxth">Date Asked</td>
					<td class="tbl-fauxth">Status</td>
				</tr>
				{% for help in responses %}
					<tr>
						<td>
							<a href="/help/{{help.id}}">
								<a class='popup' href="/help/{{help.id}}">
									{% if help.edit_status_bool %}
										{{help.name}} [*EDITED*]<span>{{help.question|truncatechars:80}}</span>
									{% else %}
										{{help.name}}<span>{{help.question|truncatechars:80}}</span>
									{% endif %}
								</a>
							</a>
						</td>
						<td><a href="/help/{{help.id}}">{{help.request_init}}</a></td>
						{% if help.status == '(1, 1)' %}
							<td><a href="/help/{{help.id}}">No Responses</a></td>
						{% elif help.status == "('active', 'Active Responses')" %}
							<td><a href="/help/{{help.id}}">Active</a></td>
						{% elif help.status == "('reopened', 'Re-Opened')" %}
							<td><a href="/help/{{help.id}}">Re-Opened</a></td>
						{% elif help.status == "('resolved', 'Resolved')" %}
							<td><a href="/help/{{help.id}}">Resolved</a></td>
						{% elif help.status == "('closed', 'Closed')" %}
							<td><a href="/help/{{help.id}}">Solved & Sealed</a></td>
						{% else %}
							<td><a href="/help/{{help.id}}">{{help.status}}</a></td>
						{% endif %}
					</tr>
				{% endfor %}
			{% else %}
				<tr>
					<td colspan=3>There are no pending question objects.</td>
				</tr>
			{% endif %}
			<tr>
				<td class="tbl-fauxth" colspan=3><h3>Resolved</h3></td>
			</tr>
			{% if answers %}
				<tr class="tbl-rowheader">
					<td class="tbl-fauxth">Summary</td>
					<td class="tbl-fauxth">Image Attached</td>
					<td class="tbl-fauxth">Date Asked</td>
					<td class="tbl-fauxth">Status</td>
				</tr>
				{% for answer in answers %}
					<tr>
						<td>
							<a href="/help/{{answer.id}}">
								<a class='popup' href="/help/{{answer.id}}">
									{% if answer.edit_status_bool %}
										{{answer.name}} [*EDITED*]<span>{{answer.question|truncatechars:80}}</span>
									{% else %}
										{{answer.name}}<span>{{answer.question|truncatechars:80}}</span>
									{% endif %}
								</a>
							</a>
						</td>
						<td><a href="/help/{{answer.id}}">{{answer.request_init}}</a></td>
						<td><a href="/help/{{answer.id}}">Resolved</a></td>
					</tr>
				{% endfor %}
			{% else %}
				<tr>
					<td colspan=3>There are no resolved question objects.</td>
				</tr>
			{% endif %}
			{% if more_answers %}
			<tr>
				<td class="tbl-fauxth" colspan=3><h3>Solved & Sealed</h3></td>
			</tr>
			<tr class="tbl-rowheader">
				<td class="tbl-fauxth">Summary</td>
				<td class="tbl-fauxth">Date Asked</td>
				<td class="tbl-fauxth">Status</td>
			</tr>
			{% for close in more_answers %}
			<tr>
				<td>
					<a href="/help/{{close.id}}">
						<a class='popup' href="/help/{{close.id}}">
							{% if close.edit_status_bool %}
								{{close.name}} [*EDITED*]<span>{{close.question|truncatechars:80}}</span>
							{% else %}
								{{close.name}}<span>{{close.question|truncatechars:80}}</span>
							{% endif %}
						</a>
					</a>
				</td>
				<td><a href="/help/{{close.id}}">{{close.request_init}}</a></td>
				<td><a href="/help/{{close.id}}">Solved & Sealed</a></td>
			</tr>
			{% endfor %}
			{% endif %}
		</table>
	{% else %}
		<p>You have not submitted any questions yet.</p>
	{% endif %}
{% endblock %}