{% extends "base.html" %}

{% block context_nav %}
    <a href="/help/new">Ask a Question</a>
    <a href="/help/resolved">Resolved Questions</a>
    <a href="/help/pending">Unresolved Questions</a>
    <a href="/help/user/{{user.id}}">Your Questions</a>
{% endblock %}

{% block style %}
.helpdesk-question{
	word-break: break-all;
}
a.popup{
    position:relative;
    z-index:0;
    text-decoration:none;
}
a.popup:hover{
    z-index:0;
}
a.popup span{
    display:none;
}
a.popup:hover span{
    display:block;
    position:absolute;
    top:15px;
    padding:3px;
    word-break: break-all;
}
.tbl-answer-id{
	font-size:xx-small;
	text-align:right;
}
#helpstatus{
	text-align:right;
}
{% endblock %}

{% block container %}
    <input type="hidden" id="help_id" value="{{help.id}}"/>
	<table class="tbl-generic tbl-overview">
		<tr class="tbl-rowheader">
			<td class="tbl-fauxth">{{help.name}}</td>
			{% if help.status == '(1, 1)' %}
				<td class="tbl-fauxth" id="helpstatus">Status: No Responses</td>
			{% elif help.status == "('active', 'Active Responses')" %}
				<td class="tbl-fauxth" id="helpstatus">Status: Active</td>
			{% elif help.status == "('resolved', 'Resolved')" %}
				<td class="tbl-fauxth" id="helpstatus">Status: Resolved</td>
			{% elif help.status == "('reopened', 'Re-Opened')" %}
				<td class="tbl-fauxth" id="helpstatus">Status: Re-Opened</td>
			{% elif help.status == "('closed', 'Closed')" %}
				<td class="tbl-fauxth" id="helpstatus">Status: Solved & Sealed</td>
			{% else %}
				<td class="tbl-fauxth" id="helpstatus">Status: {{help.status}}</td>
			{% endif %}
		</tr>
		<tr>
			<td colspan="2">
				<div class="helpdesk-question">{{help.question}}</div>
			</td>
		</tr>
		{% if help.photo %}
			<tr>
				<td><img src="/static/{{help.photo}}"></td>
			</tr>
		{% endif %}
		</table>
		<table class="tbl-generic tbl-overview">
		{% for arrow in answer %}
			<tr class="tbl-rowheader">
				<td class="tbl-fauxth">
					{% if user.id == help.user.id and help.status != "('closed', 'Closed')" %}
						<a class="popup">Answer
							<span>
								<form action="/help/mark_the_input/{{arrow.id}}" id="submit_input_form" method="post" enctype="multipart/form-data">
									{% csrf_token %}
									<input type="submit" value="Remove Answer" id="remove_answer_button"/>
								</form>
							</span>
						</a>
					{% else %}
						Answer
					{% endif %}
					</a>
				</td>
			</tr>
			<tr>
				<td class="tbl-comments-description" colspan="2">
					<div class="helpdesk-question">{{arrow.response}}</div>
				</td>
			</tr>
			<tr>
				<td class="tbl-answer-id" colspan="2">
					{{arrow.id}}
				</td>
			</tr>
		{% endfor %}
	</table>
	<table class="tbl-generic tbl-comments">
		<tr>
			<td colspan="2">
				<form action="/help/response/{{help.id}}" id="submit_response_form" method="post" enctype="multipart/form-data">
					{% csrf_token %}
					<b><a id="comment_title">Submit A Response</a></b><br />
					<div class="comment_textarea">{{help_response.response}}</div>
					<input type='hidden' name="helprequest" id="id_helprequest" value='{{help.id}}'/>
					<input type='hidden' name="user" id="id_user" value='{{user.id}}'/>
					<input type="submit" value="Submit" id="submit_response_button"/>
				</form>
				<br>
			</td>
		</tr>
		{% for comment in comments %}
			<tr class="tbl-rowheader">
				<td class="tbl-fauxth tbl-comments-user">
					{% if user.id == help.user.id and help.status != "('closed', 'Closed')" %}
						<a class='popup'><b>{{comment.user}}</b>
							<span>
								<form action="/help/mark_the_answer/{{comment.id}}" id="submit_answer_form" method="post" enctype="multipart/form-data">
									{% csrf_token %}
									<input type="submit" value="Mark as Answer" id="submit_answer_button"/>
								</form>
							</span>
						</a>
					{% else %}
						<b>{{comment.user}}</b>
					{% endif %}
				</td>
				<td class="tbl-fauxth tbl-comments-created"><a href="mark/{{comment.id}}">{{comment.created}}</a></td>
			</tr>
			<tr>
				<td class="tbl-comments-description" colspan="2">
					<div class="helpdesk-question">{{comment.response}}</div>
				</td>
			</tr>
			<tr>
				<td class="tbl-answer-id" colspan="2">
					{{comment.id}}
				</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}