{% extends "helpdesknew/base.html" %}

{% block pageTitle %}
Unresolved Questions
{% endblock %}

{% block contextNav %}
    <li><a href="{% url 'helpdesknew.views.help_form' %}">Ask a Question</a></li>
    <li><a href="{% url 'helpdesknew.views.get_resolved' %}">Resolved Questions</a></li>
    <li><a href="{% url 'helpdesknew.views.get_pending' %}">Unresolved Questions</a></li>
    <li><a href="{% url 'helpdesknew.views.user_help' %}">Your Questions</a></li>
{% endblock %}

{% block additionalHead %}
<style>
a.popup{
    position:relative;
    z-index:24;
    text-decoration:none;
}
a.popup:hover{
    z-index:25;
}
a.popup span{
    display:none;
}
a.popup:hover span{
    font-size:small;
    display:block;
    position:absolute;
    top:35px;
    left:15px;
    width:200px;
    padding:3px;
    border:1px solid #000000;
    background-color:#FFFFFF;
    word-break: break-all;
}
img.pending-image-help{
    width:200px;
    height:200px;
}
</style>
{% endblock %}

{% block bodyContent %}
<table class="tbl-generic tbl-overview table table-striped">
    <thead>
        <tr class="tbl-rowheader">
            <th class="tbl-fauxth">Summary</th>
            <th class="tbl-fauxth">Asked By</th>
            <th class="tbl-fauxth">Date Asked</th>
            <th class="tbl-fauxth">Status</th>
        </tr>
    </thead>
    {% for help in form %}
        <tr id="pending-help-rowelement">
            <td>
                {% if help.edit_status_bool %}
                <a href="{% url 'helpdesknew.views.get_help' help.id %}">
                    <a class='popup' href="{% url 'helpdesknew.views.get_help' help.id %}">
                        {{help.name}} [*EDITED*]<span>{{help.question|truncatechars:80}}</span>
                    </a>
                </a>
                {% else %}
                <a href="{% url 'helpdesknew.views.get_help' help.id %}">
                    <a class='popup' href="{% url 'helpdesknew.views.get_help' help.id %}">
                        {{help.name}}<span>{{help.question|truncatechars:80}}</span>
                    </a>
                </a>
                {% endif %}
            </td>
            <td>
                <a href="{% url 'helpdesknew.views.get_help' help.id %}">{{help.user}}</a>
            </td>
            <td>
                <a href="{% url 'helpdesknew.views.get_help' help.id %}">{{help.request_init}}</a>
            </td>
            {% if help.status == '(1, 1)' %}
                <td>
                    <a href="{% url 'helpdesknew.views.get_help' help.id %}">No Responses</a>
                </td>
            {% elif help.status = "('active', 'Active Responses')" %}
                <td>
                    <a href="{% url 'helpdesknew.views.get_help' help.id %}">Active</a>
                </td>
            {% elif help.status = "('reopened', 'Re-Opened')" %}
                <td>
                    <a href="{% url 'helpdesknew.views.get_help' help.id %}">Re-Opened</a>
                </td>
            {% else %}
                <td>
                    <a href="{% url 'helpdesknew.views.get_help' help.id %}">{{help.status}}</a>
                </td>
            {% endif %}
        </tr>
    {% endfor %}
</table>
{% endblock %}