/*
 * The core Channel Factory theme
 * 
 * Define GLOBAL (across ALLLLL sites and projects) colors and fonts here
 * Don't use this file DIRECTLY for a project - use @include to override
 */

// CF Website and Ragnaork
$cf-red: #D13341; 

 // Gadget
$cf-blue: #587C91;

// Global
$cf-darkgrey: #2B2F32;
$cf-lightgrey: #5A5A5A; 
$cf-offwhite: #F2F2F2;
$cf-white: #FFFFFF;