{% extends "sprints/base.html" %}

{% block pageTitle %}
All Sprints
{% endblock %}

{% block contextNav %}
{% include '_includes/contextnav-sprints.html' %}
{% endblock %}

{% block bodyContent %}
<table class="table">
	<thead>
		<tr>
			<td>Name</td>
			<td>Fixed/Total</td>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>
{% for sprint in sprints %}
{% endfor %}
{% endblock %}

{% block endScripts %}
<script type="text/javascript">
	var sprints = JSON.parse("{{sprints|escapejs|safe}}");
	$(document).ready(function(){
		for(sprint in sprints){
			$("tbody").append("<tr><td><a href=\"sprints/" + sprints[sprint]['id'] + "\">" + sprints[sprint]["name"] + "</a></td><td>" + sprints[sprint]["completed"] + "/" + sprints[sprint]["total"] + "</td></tr>");
		}
	});
</script>
{% endblock %}