{% extends "sprints/base.html" %}

{% block pageTitle %}
Management Report :: {{current.start}} - {{current.end}}
{% endblock %}

{% block contextNav %}
{% include '_includes/contextnav-sprints.html' %}
{% endblock %}

{% block bodyContent %}
<h3>Monthly Milestone Progress</h3>
<table style="width:100%;">
	<thead>
	<tr>
		<th style="text-align:left;width:20%;">Project</th>
		<th style="text-align:left;width:20%;">Phase</th>
		<th style="text-align:left;width:20%;">Projected Date</th>
		<th style="text-align:left;width:40%;">Status</th>
	</tr>
	</thead>
	<tbody>
	{% for project in projects %}
	<tr>
		<td style="text-align:left;width:20%;"><a href="{% url 'projects.views.project_overview' project.id %}">{{project.name}}</a></td>
		<td style="text-align:left;width:20%;">{{project.get_current_phase_display}}</td>
		<td style="text-align:left;width:20%;">{{project.potential_end_date}}</td>
		<td style="text-align:left;width:40%;">{{project.get_status_display}}</td>
	</tr>
	{% endfor %}
</tbody>
</table>

<h3>Glossary</h3>
<table style="width:100%;">
	<tr>
		<td>Define</td>
		<td><i>Product Specs/Pre Implementation.</i></td>
	</tr>
	<tr>
		<td>Design</td>
		<td><i>Implementing given task is in progress.</i></td>
	</tr>
	<tr>
		<td>Sustain</td>
		<td><i>Project complete and is now in maintenance.</i></td>
	</tr>
	<tr>
		<td>On Time</td>
		<td><i>Project is on time.</i></td>
	</tr>
	<tr>
		<td>Pending</td>
		<td><i>Project is awaiting initiation</i></td>
	</tr>
	<tr>
		<td>At Risk</td>
		<td><i>Things have not been mitigated yet that could cause project to slip past projected date.</i></td>
	</tr>
	<tr>
		<td>Completed</td>
		<td><i>Project is finished</i></td>
	</tr>
	<tr>
		<td>Canceled</td>
		<td><i>Project has been canceled.</i></td>
	</tr>
</table>

</br>

<h3>Last Week :: {{sprint.name}}</h3>
<table style="width:100%;">
	<thead>
	<tr>
		<th style="text-align:left;width:20%;">Project</th>
		<th style="text-align:left;width:20%;">Status</th>
		<th style="text-align:left;width:40%;">Description</th>
		<th style="text-align:left;width:20%;">Gadget ID</th>
	</tr>
</thead>
<tbody>
	{% for issue in issues %}
	<tr>
		<td style="text-align:left;width:20%;">{{issue.project}}</td>
		<td style="text-align:left;width:20%;">{{issue.get_status_display}}</td>
		<td style="text-align:left;width:40%;">{{issue.summary}}</td>
		<td style="text-align:left;width:20%;"><a href="{% url 'issues.views.issue_overview' issue.id %}">{{issue.id}}</a></td>
	</tr>
	{% endfor %}
</tbody>
</table>

<h3>This Week :: {{current.name}}</h3>
<table style="width:100%;">
	<thead>
	<tr>
		<th style="text-align:left;width:20%;">Project</th>
		<th style="text-align:left;width:20%;">Status</th>
		<th style="text-align:left;width:40%;">Description</th>
		<th style="text-align:left;width:20%;">Gadget ID</th>
	</tr>
</thead>
<tbody>
	{% for issue in current_issues %}
	<tr>
		<td style="text-align:left;width:20%;">{{issue.project}}</td>
		<td style="text-align:left;width:20%;">{{issue.get_status_display}}</td>
		<td style="text-align:left;width:40%;">{{issue.summary}}</td>
		<td style="text-align:left;width:20%;"><a href="{% url 'issues.views.issue_overview' issue.id %}">{{issue.id}}</a></td>
	</tr>
	{% endfor %}
</tbody>
</table>
{% for sprint in sprints %}
{% endfor %}
{% endblock %}

{% block endScripts %}
{% endblock %}