{% extends "sprints/base.html" %}

{% block pageTitle %}
{{sprint.name}}
{% endblock %}

{% block contextNav %}
{% include '_includes/contextnav-sprints.html' %}
{% endblock %}

{% block bodyContent %}
<!--
<table style="width:100%;">
	<tr>
		<th>Start Date</th>
		<th>End Date</th>
	</tr>
	<tr>
		<td style="text-align:center;">{{sprint.start}}</td>
		<td style="text-align:center;">{{sprint.end}}</td>
	</tr>
</table>
<table style="width:100%;">
	<tr><th colspan="4" style='text-align:center;'>Issues</th></tr>
	<tr>
		<th>Project</th>
		<th>Summary</th>
		<th>Status</th>
		<th>Developer</th>
	</tr>
	{% for issue in issues %}
	<tr>
		<td>{{issue.project}}</td>
		<td>{{issue.summary}}</td>
		<td>{{issue.status}}</td>
		<td>{{issue.assigned_to}}</td>
	</tr>
	{% endfor %}
</table>
-->
<article class="row">
    <div id="issue-column-main" class="span12 metainfo-maincolumn">
        <div id="issue-details" class="well">
			<table id="sprint-issue-table" width='100%'>
	                <tr>
	                    <th style="text-align: left;" onclick="sortTable('project')">Project</th>
	                    <th style="text-align: left;">Meta Issue</th>
	                    <th style="text-align: left;">Developer</th>
	                    <th style="text-align: left;">Status</th>
	                    <th style="text-align: left;">Description</th>
	                    <th style="text-align: left;" onclick="sortTable('modified')">Modified</th>
	                </tr>
                {% for issue in issues %}
                <tr>
                    <td><a href="{% url 'projects.views.project_overview' issue.project.id %}">{{issue.project}}</a></td>
                    {% if issue.meta_issues %}
                    <td><a href="{% url 'issues.views.meta_issue_overview' issue.meta_issues.id %}">{{issue.meta_issues}}</td>
                    {% else %}
                    <td>{{issue.meta_issues}}</td>
                    {% endif %}
                    <td>{{issue.assigned_to}}</td>
                    <td>{{issue.status}}</td>
                    <td><a href="{% url 'issues.views.issue_overview' issue.id %}">{{issue.summary|truncatechars:80}}</a></td>
                    <td>{{issue.modified}}</td>
                </tr>
                {% endfor %}
            </table>
		</div>
	</div>
</article>
{% endblock %}