{% extends "sprints/base.html" %}

{% block pageTitle %}
{{sprint.name}}
{% endblock %}

{% block contextNav %}
{% include '_includes/contextnav-sprints.html' %}
{% endblock %}

{% block bodyContent %}
<table style="width:100%;">
	<tr>
		<th>Start Date</th>
		<th>End Date</th>
	</tr>
	<tr>
		<td style="text-align:center;">{{sprint.start}}</td>
		<td style="text-align:center;">{{sprint.end}}</td>
	</tr>
</table>
<table style="width:100%;">
	<tr><th colspan="4" style='text-align:center;'>Issues</th></tr>
	<tr>
		<th>Project</th>
		<th>Summary</th>
		<th>Status</th>
		<th>Developer</th>
	</tr>
	{% for issue in issues %}
	<tr>
		<td>{{issue.project}}</td>
		<td>{{issue.summary}}</td>
		<td>{{issue.status}}</td>
		<td>{{issue.assigned_to}}</td>
	</tr>
	{% endfor %}
</table>
{% endblock %}