<!doctype html>
<html lang="en">
<head>
{% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% filter striptags %}{% block pageTitle %}{% endblock %}{% block pageDescription %}{% endblock%}{% endfilter %} - Gadget</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-lightbox.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/gadget.css' %}">
    {% block additionalHead %}{% endblock %}
</head>
<body class="{% block bodyClass %}{% endblock %}" {% block bodyAttributes %}{% endblock %}>
    <div id="globalwrap">
        <div id="sitenav" class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand" href="{% url 'dashboard.views.dashboard' %}"><span class="logo">Gadget</span></a>
                    <div class="nav-collapse collapse">
                        <nav id="mainnav">
                            <ul class="nav">
                                <li class="dropdown">
                                    <a href="{% url 'projects.views.home' %}" class="dropdown-toggle {% if page_type == 'Project' %}active{% elif page_type == 'Projects' %}active{% elif page_type == 'Issue' %}active{% endif %}" data-toggle="dropdown">Projects <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu" id="project_dropdown_menu">
                                        <li class="nav-header"><a href="{% url 'projects.views.home' %}">All Projects</a></li>
                                    </ul>
                                </li>
                                <li><a href="{% url 'daily_reports.views.index' %}" class="{% if page_type == 'Report' %}active{% endif %}">Reports</a></li>
                            </ul>
                        </nav>
                        <div id="searchform">
                            <!--<form class="navbar-search pull-right" action="/issue/search" method="POST">-->
                            <form class="navbar-search pull-right" action="{% url 'search.views.searchGlobal' %}" method="POST">
                                {% csrf_token %}
                                <div class="input-prepend input-append">
                                    <a class="btn btn-inverse" href="{% url 'issues.views.issue_search_advanced' %}" id="search-icon-advanced" title="Advanced Search"><i class="icon-search icon-white"></i></a>
                                    <input type="text" name="searchText" class="search-query" placeholder="Search">
                                    <button type="submit" class="btn btn-inverse">Go</button>
                                </div>
                            </form>
                        </div>
                        <div id="userbar">
                            <ul class="nav pull-right">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Context <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        {% block contextNav %}{% endblock %}
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{user}} <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{% url 'feedback.views.feedback' %}">Feedback</a></li>
                                        <li><a href="{% url 'helpdesknew.views.user_help' %}">Help Desk</a></li>
                                        <li class="nav-header">Account</li>
                                        <li><a href="{% url 'auth.views.account_settings' %}">Settings</a></li>
                                        <li><a href="/accounts/logout/?next=/">Logout</a></li>
                                        {% if user.username == 'wilsonhays' %}
                                        <li class="nav-header">Just for you, bro</li>
                                        <li><a href="/issue/track">Issue Tracker</a></li>
                                        {% endif %}
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% block baseContent %}{% endblock %}
    </div>

    <aside>
        {% block modalsIncluded %}
		<div id="formatting-help-modal" class="modal fade hide">
			<header class="modal-header">
				<button class="close" data-dismiss="modal">×</button>
				<h3>Formatting Help</h3>
			</header>
			<div class="modal-body">
				<p>Gadget is using <a href="http://daringfireball.net/projects/markdown/syntax">Markdown</a> for formatting. Here's some tips on how to use it:</p>
				<table class="table table-bordered table-condensed">
					<thead>
						<tr>
							<th>You Type:</th>
							<th>You See:</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>*italics*</td>
							<td><em>italics</em></td>
						</tr>
						<tr>
							<td>**bold**</td>
							<td><b>bold</b></td>
						</tr>
						<tr>
							<td>[reddit!](http://reddit.com)</td>
							<td><a href="http://reddit.com">reddit!</a></td>
						</tr>
						<tr>
							<td>* item 1<br>* item 2<br>* item 3</td>
							<td><ul><li>item 1</li><li>item 2</li><li>item 3</li></ul></td>
						</tr>
						<tr>
							<td>&gt; quoted text</td>
							<td><blockquote>quoted text</blockquote></td>
						</tr>
						<tr>
							<td>Lines starting with four spaces<br>are treated like code:<br><br><span class="spaces">&nbsp;&nbsp;&nbsp;&nbsp;</span>if 1 * 2 &lt; 3:<br><span class="spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>print "hello, world!"<br></td>
							<td>Lines starting with four spaces<br>are treated like code:<br><pre>if 1 * 2 &lt; 3:<br>&nbsp;&nbsp;&nbsp;&nbsp;print "hello, world!"</pre></td>
						</tr>
						<tr>
							<td>~~strikethrough~~</td>
							<td><strike>strikethrough</strike></td>
						</tr>
						<tr>
							<td>super^script</td>
							<td>super<sup>script</sup></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		{% endblock %}
    </aside>
    
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/ajax_tools.js' %}"></script>
    <script src="{% static 'js/bootstrap-lightbox.min.js' %}"></script>
    <script src="{% static 'js/jquery.tablesorter.min.js' %}"></script>
	<script src="{% static 'js/jquery.tablesorter.widgets.min.js' %}"></script>
    <script src="{% static 'js/jquery.ba-throttle-debounce.min.js' %}"></script>
    <script>
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            xhr.setRequestHeader('X-CSRFToken', '{{csrf_token}}');
        }
    });
    </script>
    <script src="{% static 'js/gadget.js' %}"></script>
    <script>
        $(document).ready(function() {
            console.log("Document ready...");
            var dropdown = $("#project_dropdown_menu");
            var items = [];
            $.getJSON("/project/get/list", function(result) {
                $.each(result, function(item, dict) {
                    items.push("<li><a href='"+dict["url"]+"'>"+dict["name"]+"</li>");
                });
                items.push('<li class="nav-header">New</li>');
                items.push('<li><a href="{% url 'projects.views.project_form' %}">Project</a></li>');
                dropdown.append(items);
            });

        });
    </script>
    {% block sharedScripts %}{% endblock %}
    {% block endScripts %}{% endblock %}
</body>
</html>