<!doctype html>
<html lang="en">
<head>
{% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% filter striptags %}{% block pageTitle %}{% endblock %}{% block pageDescription %}{% endblock%}{% endfilter %} - Gadget</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-lightbox.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/gadget.css' %}">
    {% block additionalHead %}{% endblock %}
</head>
<body class="{% block bodyClass %}{% endblock %}" {% block bodyAttributes %}{% endblock %}>
    <div id="globalwrap">
        <div id="sitenav" class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand" href="{% url 'dashboard.views.home' %}"><span class="logo">Gadget</span></a>
                    <div class="nav-collapse collapse">
                        <nav id="mainnav">
                            <ul class="nav">
                                <li class="dropdown">
                                    <a href="{% url 'projects.views.home' %}" class="dropdown-toggle {% if page_type == 'Project' %}active{% elif page_type == 'Projects' %}active{% elif page_type == 'Issue' %}active{% endif %}" data-toggle="dropdown">Projects <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        {% if projects.count > 0 %}
                                            <li class="nav-header">All Projects</li>
                                            {% for project in projects%}
                                                <li><a href="{% url 'projects.views.project_overview' project.id %}">{{project.name}}</a></li>
                                            {% endfor %}
                                        {% endif %}
                                        <li class="nav-header">New</li>
                                        <li><a href="{% url 'projects.views.project_form' %}">Project</a></li>
                                    </ul>
                                </li>
                                <li><a href="{% url 'daily_reports.views.index' %}" class="{% if page_type == 'Report' %}active{% endif %}">Reports</a></li>
                            </ul>
                        </nav>
                        <div id="searchform">
                            <!--<form class="navbar-search pull-right" action="/issue/search" method="POST">-->
                            <form class="navbar-search pull-right" action="{% url 'isues.views.issue_search_simple' %}" method="POST">
                                {% csrf_token %}
                                <div class="input-prepend input-append">
                                    <a class="btn btn-inverse" href="{% url 'issues.views.issue_search_advanced' %}" id="search-icon-advanced" title="Advanced Search"><i class="icon-search icon-white"></i></a>
                                    <input type="text" name="searchText" class="search-query" placeholder="Search">
                                    <button type="submit" class="btn btn-inverse">Go</button>
                                </div>
                            </form>
                        </div>
                        <div id="userbar">
                            <ul class="nav pull-right">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Context <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        {% block contextNav %}{% endblock %}
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{user}} <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{% url 'feedback.views.signed_feedback' %}">Feedback</a></li>
                                        <li><a href="{% url 'helpdesknew.views.user_help' %}">Help Desk</a></li>
                                        <li class="nav-header">Account</li>
                                        <li><a href="{% url 'auth.views.account_settings' %}">Settings</a></li>
                                        <li><a href="/accounts/logout/?next=/">Logout</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% block baseContent %}{% endblock %}
    </div>

    <aside>
        {% block modalsIncluded %}{% endblock %}
    </aside>
    
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/ajax_tools.js' %}"></script>
    <script src="{% static 'js/bootstrap-lightbox.min.js' %}"></script>
    <script src="{% static 'js/jquery.tablesorter.js' %}"></script>
    <script src="{% static 'js/jquery.ba-throttle-debounce.min.js' %}"></script>
    <script>
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            xhr.setRequestHeader('X-CSRFToken', '{{csrf_token}}');
        }
    });
    </script>
    <script src="{% static 'js/gadget.js' %}"></script>
    {% block sharedScripts %}{% endblock %}
    {% block endScripts %}{% endblock %}
</body>
</html>