{% extends "base.html" %}
{% load set_var%}

{% block style %}
.dashboard_container{
    _width: 380px;
    min-height:30em;
    margin: 0 auto;
    padding: 30px 20px 50px;
    border: 1px solid white;
    border-radius: 4px;
    box-shadow: 0 1px 10px #a7a7a7, inset 0 1px 0 #fff;
    background: #fcfcfc;
}

.dashboard_container_section{
    min-height:10em;
    margin: 0 4em;
    padding: 30px 20px 50px;
    border: 1px solid white;
    border-radius: 4px;
    box-shadow: 0 1px 10px #a7a7a7, inset 0 1px 0 #fff;
    background: #fcfcfc;
    overflow:hidden;
}

.dashboard_table{
    width:100%;
    border-collapse:collapse;
}

.dashboard_table td{
    min-width:16px;
}

.add_remove{
    display:none;
}

.add_remove:hover {
    cursor:pointer;
}

.date_header {
    background:#bbb;
    height:0.5em;
    font-size:0.6em;
}


h3 {
    margin:0 0 0.5em;
    width:10%;
    height:100%;
    float:left;
}

{% endblock %}

{% block extra_head%}
    <script type="text/javascript">

        $(document).ready(function(){
            $('.subscribe_to_issue').click(function(){
                var subscribe_issue_id = $(event.target).attr('id').substr(9);
                $.ajax({
                    type:"POST",
                    url:"/issue/subscribe",
                    data:{
                        issue:subscribe_issue_id
                    },
                    success: function(data){    
                        var subscribe_id_str = "#subscribe" + subscribe_issue_id;
                        alert(data['status']);
                        if( data['status'] == "Unsubscribing Issue"){
                            $(subscribe_id_str).toggleClass('ui-icon-closethick', false);
                            $(subscribe_id_str).toggleClass('ui-icon-plusthick', true);
                            //$(subscribe_id_str).text("Subscribe");
                        }
                        else if(data['status'] == "Successfully subscribed to Issue"){
                            $(subscribe_id_str).toggleClass('ui-icon-plusthick', false);
                            $(subscribe_id_str).toggleClass('ui-icon-closethick', true);
                            //$(subscribe_id_str).text("Unsubscribe");
                        }
                    },
                    error: function(data){
                        alert("Server side error");
                    }

                })
            });

            $('.pin_issue').click(function(event){
                var pin_issue_id = $(event.target).attr('id').substr(3);

                $.ajax({
                  type:"POST",
                    url:"/issue/pin",
                    data:{
                        issue:pin_issue_id
                    },
                    success: function(data){    
                        var pin_id_str = "#pin" + pin_issue_id;
                        alert(data['status']);
                        if( data['status'] == "Unpinning Issue"){
                            $(pin_id_str).toggleClass('ui-icon-closethick', false);
                            $(pin_id_str).toggleClass('ui-icon-plusthick', true);
                        }
                        else if(data['status'] == "Successfully pinned issue"){
                            $(pin_id_str).toggleClass('ui-icon-plusthick', false);
                            $(pin_id_str).toggleClass('ui-icon-closethick', true);
                            
                        }
                    },
                    error: function(data){
                        alert("Server side error");
                    }

                })
            });

            $('.assign_issue_to').click(function(){
                var assign_issue_id = $(event.target).attr('id').substr(6);
                $.ajax({
                    type:"POST",
                    url:"/issue/assign",
                    data:{
                        issue:assign_issue_id,
                        assign:"assign"
                    },
                    success: function(data){   
                        var assign_id_str = "#assign" + assign_issue_id; 
                        alert(data['status']);
                        if( data['status'] == "Successfully unassigned issue"){
                            //$(assign_id_str).text("Assign");
                            $(assign_id_str).toggleClass('ui-icon-closethick', false);
                            $(assign_id_str).toggleClass('ui-icon-plusthick', true);
                        }
                        else if(data['status'] == "Successfully assigned issue" || data['status'] == "Successfully reassigned issue"){
                            //$(assign_id_str).text("Unassign");
                            $(assign_id_str).toggleClass('ui-icon-plusthick', false);
                            $(assign_id_str).toggleClass('ui-icon-closethick', true);
                        }               
                    },
                    error: function(data){
                        alert("Server side error");
                    }

                })
            });

            $('.add_remove').parent().parent().hover(function(){
                var kids = $(this).children().children();
                kids.each(function(){
                    var that = $(this);
                    if( $(this).hasClass('add_remove')){
                        that.fadeToggle();
                        //that.css('display','block');
                    }

                }) 
            }, function(){
                var kids = $(this).children().children();
                kids.each(function(){
                    var that = $(this);
                    if( $(this).hasClass('add_remove')){
                        //that.css('display','none');
                        that.fadeToggle();
                    }

                }) 

            });

        });

    </script>

{% endblock %}

{% block context_nav %}
    <a href="issue/new">New Issue</a>
    <a href="reports/edit">Daily Reports</a>
{% endblock %}

{% block container %}

        <div class="dashboard_container_section">
            <h3>Pinned</h3>
            <table class="dashboard_table">
            {% for pin in pins%}

                {% if not newest_pin %}
                    {% set newest_pin = pin.created%}
                    <tr class="date_header"><td colspan="4">{{pin.created}}</td></tr>
                {% endif %}

                {% if newest_pin != pin.created %}
                    <tr class="date_header"><td colspan="4">{{pin.created}}</td></tr>
                    {% set newest_pin = pin.created%}
                {% endif %}

                
                <tr>
                    <td><a href="/project/{{pin.project.id}}">{{pin.project.name}}</td>
                    <td><a href="/issue/{{pin.id}}">{{pin.summary}}</td>
                    <td><a href="/auth/user/{{pin.assigned_to.id}}">{{pin.assigned_to}}</a></td>
                    <td><div class="add_remove pin_issue ui-icon ui-icon-closethick" id="pin{{pin.id}}"></div></td>
                </tr>
            {% endfor%}
            </table>
        </div>
        <div class="dashboard_container_section">
            <h3>Assigned</h3>
            <table class="dashboard_table">
            {% for issue in issues%}
                {% if not newest_assigned %}
                    {% set newest_assigned = issue.created%}
                    <tr class="date_header"><td colspan="4">{{issue.created}}</td></tr>
                {% endif %}

                {% if newest_assigned != issue.created %}
                    <tr class="date_header"><td colspan="4">{{issue.created}}</td></tr>
                    {% set newest_assigned = issue.created%}
                {% endif %}

                <tr>
                    <td><a href="/project/{{issue.project.id}}">{{issue.project.name}}</a></td>
                    <td><a href="/issue/{{issue.id}}">{{issue.summary}}</td>
                    <td><a href="/auth/user/{{issue.assigned_to.id}}">{{issue.assigned_to}}</a></td>
                    <td><div class="add_remove assign_issue_to ui-icon ui-icon-closethick" id="assign{{issue.id}}"></div></td>
                </tr>
            {% endfor%}
            </table>
        </div>
        <div class="dashboard_container_section">
            <h3>Subscribed</h3>
            <table class="dashboard_table">
            {% for subscription in subscribed%}

                {% if not newest_subscribed %}
                    {% set newest_subscribed = subscription.created%}
                    <tr class="date_header"><td colspan="4">{{subscription.created}}</td></tr>
                {% endif %}

                {% if newest_subscribed != subscription.created %}
                    <tr class="date_header"><td colspan="4">{{subscription.created}}</td></tr>
                    {% set newest_subscribed = subscription.created%}
                {% endif %}

                <tr>
                    <td><a href="/project/{{subscription.project.id}}">{{subscription.project.name}}</a></td>
                    <td><a href="/issue/{{subscription.id}}">{{subscription.description}}</td>
                    <td><a href="/auth/user/{{subscription.assigned_to.id}}">{{subscription.assigned_to}}</a></td>
                    <td><div class="add_remove subscribe_to_issue ui-icon ui-icon-closethick" id="subscribe{{subscription.id}}"></div></td>
                </tr>
            {% endfor%}
            </table>
        </div>

{% endblock%}