{% extends "base.html" %}

{% block style %}
.dashboard_container{
    _width: 380px;
    min-height:30em;
    margin: 0 auto;
    padding: 30px 20px 50px;
    border: 1px solid white;
    border-radius: 4px;
    box-shadow: 0 1px 10px #a7a7a7, inset 0 1px 0 #fff;
    background: #fcfcfc;
}

.dashboard_container_section{
    min-height:10em;
    margin: 0 4em;
    padding: 30px 20px 50px;
    border: 1px solid white;
    border-radius: 4px;
    box-shadow: 0 1px 10px #a7a7a7, inset 0 1px 0 #fff;
    background: #fcfcfc;
    overflow:hidden;
}

.dashboard_table{
    width:100%;
}

.add_remove{
    display:none
}

h3{
    margin:0 0 0.5em;
    width:10%;
    height:100%;
    float:left;
}

{% endblock %}

{% block extra_head%}
    <script type="text/javascript">

        $(document).ready(function(){
            $('.subscribe_to_issue').click(function(){
                var subscribe_issue_id = $(event.target).attr('id').substr(9);
                $.ajax({
                    type:"POST",
                    url:"/issue/subscribe",
                    data:{
                        issue:subscribe_issue_id
                    },
                    success: function(data){    
                        var subscribe_id_str = "#subscribe" + subscribe_issue_id;
                        alert(data['status']);
                        if( data['status'] == "Unsubscribing Issue"){
                            $(subscribe_id_str).text("Subscribe");
                        }
                        else if(data['status'] == "Successfully subscribed to Issue"){
                            $(subscribe_id_str).text("Unsubscribe");
                        }
                    },
                    error: function(data){
                        alert("Server side error");
                    }

                })
            });

            $('.pin_issue').click(function(event){
                var pin_issue_id = $(event.target).attr('id').substr(3);

                $.ajax({
                  type:"POST",
                    url:"/issue/pin",
                    data:{
                        issue:pin_issue_id
                    },
                    success: function(data){    
                        var pin_id_str = "#pin" + pin_issue_id;
                        alert(data['status']);
                        if( data['status'] == "Unpinning Issue"){
                            $(pin_id_str).text("Pin");
                        }
                        else if(data['status'] == "Successfully pinned issue"){
                            $(pin_id_str).text("Unpin");
                        }
                    },
                    error: function(data){
                        alert("Server side error");
                    }

                })
            });

            $('.assign_issue_to').click(function(){
                var assign_issue_id = $(event.target).attr('id').substr(6);
                $.ajax({
                    type:"POST",
                    url:"/issue/assign",
                    data:{
                        issue:assign_issue_id,
                        assign:"assign"
                    },
                    success: function(data){   
                        var assign_id_str = "#assign" + assign_issue_id; 
                        alert(data['status']);
                        if( data['status'] == "Successfully unassigned issue"){
                            $(assign_id_str).text("Assign");
                        }
                        else if(data['status'] == "Successfully assigned issue" || data['status'] == "Successfully reassigned issue"){
                            $(assign_id_str).text("Unassign");
                        }               
                    },
                    error: function(data){
                        alert("Server side error");
                    }

                })
            });

            $('.add_remove').parent().parent().hover(function(){
                var kids = $(this).children().children();
                kids.each(function(){
                    var that = $(this);
                    if( $(this).hasClass('add_remove')){
                        that.fadeToggle();
                    }

                }) 
            }, function(){
                var kids = $(this).children().children();
                kids.each(function(){
                    var that = $(this);
                    if( $(this).hasClass('add_remove')){
                        that.fadeToggle();
                    }

                }) 

            });

        });

    </script>

{% endblock %}

{% block context_nav %}
    <a href="issue/new">New Issue</a>
    <a href="reports/edit">Daily Reports</a>
{% endblock %}

{% block container %}

        <div class="dashboard_container_section">
            <h3>Pinned</h3>
            <table class="dashboard_table">
            {% for pin in pins%}
                <tr>
                    <td><a href="/project/{{pin.issue.project.id}}">{{pin.issue.project.name}}</td>
                    <td><a href="/issue/{{pin.issue.id}}">{{pin.issue.summary}}</td>
                    <td>{{pin.issue.assigned_to}}</td>
                    <td><a class="add_remove pin_issue" id="pin{{pin.issue.id}}">Unpin</a></td>
                </tr>
            {% endfor%}
            </table>
        </div>
        <div class="dashboard_container_section">
            <h3>Assigned</h3>
            <table class="dashboard_table">
            {% for issue in issues%}
                <tr>
                    <td><a href="/project/{{issue.project.id}}">{{issue.project.name}}</a></td>
                    <td><a href="/issue/{{issue.id}}">{{issue.summary}}</td>
                    <td>{{issue.assigned_to}}</td>
                    <td><a class="add_remove assign_issue_to" id="assign{{issue.id}}">Unassign</a></td>
                </tr>
            {% endfor%}
            </table>
        </div>
        <div class="dashboard_container_section">
            <h3>Subscribed</h3>
            <table class="dashboard_table">
            {% for subscription in subscribed%}
                <tr>
                    <td><a href="/project/{{subscription.issue.project.id}}">{{subscription.issue.project.name}}</a></td>
                    <td><a href="/issue/{{subscription.issue.id}}">{{subscription.issue.description}}</td>
                    <td>{{subscription.issue.assigned_to}}</td>
                    <td><a class="add_remove subscribe_to_issue" id="subscribe{{subscription.issue.id}}">Unsubscribe</a></td>
                </tr>
            {% endfor%}
            </table>
        </div>

{% endblock%}