{% extends "theme/bootstrap.html" %}
{% block basecontent %}
<div id="sitenav" class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="brand" href="/"><span class="logo">Gadget</span></a>
			<div class="nav-collapse collapse">
				<nav id="mainnav">
					<ul class="nav">
						<li><a href="/" class="{% if navIndicator == 'dashboard' %}active{% endif %}">Dashboard</a></li>
						<li class="dropdown">
							<a href="/project" class="dropdown-toggle {% if navIndicator == 'projects' %}active{% endif %}" data-toggle="dropdown">Projects <b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								{% for project in projects%}
									<li><a href="/project/{{project.id}}">{{project.name}}</a></li>
								{% endfor %}
								<li><a href="/project/new">New Project</a></li>
							</ul>
						</li>
						<li><a href="/reports" class="{% if navIndicator == 'reports' %}active{% endif %}">Reports</a></li>
					</ul>
				</nav>
				<div id="searchform">
					<form class="navbar-search pull-right" action="/issue/search" method="POST">
		                {% csrf_token %}
		                <a href="/issue/advsearch" id="search-icon-advanced" title="Advanced Search"><i class="icon-search icon-white"></i></a>
		                <input type="text" name="searchText" class="search-query" placeholder="Search">
		                <button type="submit" class="btn">Search</button>
		            </form>
		        </div>
		        <div id="userbar">
		            <ul class="nav pull-right">
		                <li class="dropdown">
		                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Context <b class="caret"></b></a>
		                    <ul class="dropdown-menu">
		                        {% block context_nav %}{% endblock %}
		                    </ul>
		                </li>
		                <li class="dropdown">
		                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{user}} <b class="caret"></b></a>
		                    <ul class="dropdown-menu">
		                        <li><a href="/accounts/account_settings">Settings</a></li>
		                        <li><a href="/accounts/logout/?next=/">Logout</a></li>
		                    </ul>
		                </li>
		            </ul>
		        </div>
			</div>
		</div>
	</div>
</div>
<div id="main" class="container">	
	<header id="pageheader">
		<h1 id="pagetitle">{% if page_type %}<span class="title-pagetype">{{page_type}}</span>{% endif %}{% if page_type and page_value %} <span class="title-separator">::</span> {% endif %}{% if page_value %}<span class="title-pagevalue">{{page_value}}</span>{% endif %}</h1>
	</header>

	{% block container %}{% endblock %}
</div>
{% endblock %}