{% extends "user/base.html" %}

{% load staticfiles %}

{% block contextNav %}
    {% include '_includes/contextnav-default.html' %}
{% endblock%}

{% block additionalHead %}
	<link rel="stylesheet" href="{% static 'css/test_template.css' %}">
{% endblock %}

{% block pageTitle %}
Template Settings
{% endblock %}

{% block bodyClass %}template-settings{% endblock %}

{% block bodyContent %}
<form action="{% url 'accounts.views.assignTemplateForView' %}" method="POST">
	{% csrf_token %}
	<label>{{form.viewName.label}}</label>
	<input type="text" id="id_viewName" name="viewName" value="{{form.viewName.value}}" />
	
	<label>{{form.pathToTemplate.label}}</label>
	<input type="text" id="id_pathToTemplate" name="pathToTemplate" value="{{form.pathToTemplate.value}}" /><span class="help-block">Path should be within the templates folder: folder_name/file_name.html</span>
	
	<br />
	<input type="hidden" id="id_user" name="user" value="{{form.user.value}}" />
	<button type="Submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}