{% extends "feedback/base.html" %}

{% block contextNav %}
    <li><a href="{% url 'feedback.views.anonymous_feedback' %}">New Anonymous Feedback</a></li>
    <li><a href="{% url 'feedback.views.signed_feedback' %}">New Signed Feedback</a></li>
    <li><a href="{% url 'feedback.views.all_anonymous' %}">All Anonymous Feedback</a></li>
    <li><a href="{% url 'feedback.views.all_signed' %}">All Signed Feedbacks</a></li>
{% endblock %} 

{% block pageTitle %}
Anonymous Feedback
{% endblock %}

{% block bodyContent%}
<table>
	<tr>
		<td>Date Submitted</td>
		<td>Summary</td>
	</tr>
	{% for feedback in anonymous %}
	<tr>
		<td><a href="{% url 'feedback.views.anonymous_view' feedback.id %}">{{feedback.timestamp}}</a></td>
		<td><a href="{% url 'feedback.views.anonymous_view' feedback.id %}">{{feedback.summary}}</a></td>
	</tr>
	{% endfor %}
</table>
{% endblock%}