{% extends "feedback/base.html" %}

{% block contextNav %}
	<li><a href="{% url 'feedback.views.anonymous_feedback' %}">Submit Anonymous Feedback</a></li>
    <li><a href="{% url 'feedback.views.signed_feedback' %}">Submit Signed Feedback</a></li>
    {% if user.is_staff %}
    <li><a href="{% url 'feedback.views.all_anonymous' %}">All Anonymous Feedback</a></li>
    {% endif %}
    <li><a href="{% url 'feedback.views.all_signed' %}">View All Signed Feedbacks</a></li>
{% endblock %}  

{% block pageTitle %}
Anonymous Feedback Form
{% endblock %}

{% block bodyContent%}
<i>This form is anonymous, no identifying information will be attached.  Only staff members will be able to view information entered here.  You will not be able to view or edit this form after submission.</i></br>
</br>
<form action="{% url 'feedback.views.anonymous_feedback' %}" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	{{form}}
	<input type='submit' value='Submit'>
</form>
{% endblock%}