{% extends "feedback/base.html" %}

{% block contextNav %}
	<li><a href="{% url 'feedback.views.feedback' %}">Feedback</a></li>
    {% if user.is_staff %}
    <li><a href="{% url 'feedback.views.all_anonymous' %}">All Anonymous Feedback</a></li>
    {% endif %}
    <li><a href="{% url 'feedback.views.all_signed' %}">View All Signed Feedbacks</a></li>
{% endblock %} 

{% block pageTitle %}
Anonymous Feedback
{% endblock %}

{% block bodyContent%}
<table>
	<tr>
		<td>Date Submitted</td>
	</tr>
	{% for feedback in anonymous %}
	<tr>
		<td><a href="{% url 'feedback.views.anonymous_view' feedback.id %}">{{feedback.timestamp}}</a></td>
	</tr>
	{% endfor %}
</table>
{% endblock%}