{% extends "feedback/base.html" %}

{% block contextNav %}
	<li><a href="{% url 'feedback.views.feedback' %}">Feedback</a></li>
    {% if user.is_staff %}
    <li><a href="{% url 'feedback.views.all_anonymous' %}">All Anonymous Feedback</a></li>
    {% endif %}
    <li><a href="{% url 'feedback.views.all_signed' %}">View All Signed Feedbacks</a></li>
{% endblock %} 

{% block pageTitle %}
Feedback Form
{% endblock %}

{% block bodyContent%}
<form action="{% url 'feedback.views.submit_feedback' %}" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<p>Feedback</p>
	<textarea cols="50" rows="5" name='feedback-description'></textarea>
	<input type="checkbox" id="anonymous_toggle" name="anonymous_toggle" value="anonymous_toggle">Submit form anonymously (no identifying details will be attached)<br />
	<input type='submit' value='Submit'>
</form>
{% endblock%}