{% extends "feedback/base.html" %}

{% block contextNav %}
	<li><a href="{% url 'feedback.views.feedback' %}">Feedback</a></li>
    {% if user.is_staff %}
    <li><a href="{% url 'feedback.views.all_anonymous' %}">All Anonymous Feedback</a></li>
    {% endif %}
    <li><a href="{% url 'feedback.views.all_signed' %}">View All Signed Feedbacks</a></li>
{% endblock %} 

{% block pageTitle %}
Feedback from {{signed.user}}
{% endblock %}

{% block bodyContent%}
<b>Submited On:</b><br/>
{{signed.timestamp}}<br/><br/>
<b>Feedback:</b><br/>
{{signed.feedback}}<br/><br/>
<i>{{signed.user}}</i>
{% endblock%}