{% extends "feedback/base.html" %}

{% block contextNav %}
    <li><a href="{% url 'feedback.views.anonymous_feedback' %}">Create New Anonymous Feedback</a></li>
    <li><a href="{% url 'feedback.views.signed_feedback' %}">Create New Signed Feedback</a></li>
    <li><a href="{% url 'feedback.views.all_anonymous' %}">View All Anonymous Feedback</a></li>
    <li><a href="{% url 'feedback.views.all_signed' %}">View All Signed Feedbacks</a></li>
{% endblock %} 

{% block pageTitle %}
Signed Feedback from {{signed.user}}
{% endblock %}

{% block bodyContent%}
<b>Submited On:</b><br/>
{{signed.timestamp}}<br/><br/>
<b>Summary:</b><br/>
{{signed.summary}}<br/><br/>
<b>Details:</b><br/>
{{signed.feedback}}
{% endblock%}