{% extends "feedback/base.html" %}

{% block contextNav %}
    <li><a href="{% url 'feedback.views.anonymous_feedback' %}">Submit Anonymous Feedback</a></li>
    <li><a href="{% url 'feedback.views.signed_feedback' %}">Submit Signed Feedback</a></li>
    {% if user.is_staff %}
    <li><a href="{% url 'feedback.views.all_anonymous' %}">All Anonymous Feedback</a></li>
    {% endif %}
    <li><a href="{% url 'feedback.views.all_signed' %}">View All Signed Feedbacks</a></li>
{% endblock %}  

{% block pageTitle %}
Signed Feedback Form
{% endblock %}

{% block bodyContent%}
<p><i>Submitting feedback using this form will attach your account name.  To submit anonymous feedback, use the <a href="{% url 'feedback.views.anonymous_feedback' %}">Anonymous Feedback Form</a>.</i></p></br>
<form action="{% url 'feedback.views.signed_feedback' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    Summary:</br>
    {{form.summary}}</br>
    Feedback:<br/>
    {{form.feedback}}</br>
    Username: {{user}}</br>
    <input type='hidden' name="user" id="id_user" value='{{user.id}}'/>
    <input type='submit' value='Submit'>
</form>
{% endblock%}